<div class="erp-box" id="finance_setting">
  <div class="sec_nav">
    <p class="current_status margin-l-20">各参数管理设置</p>
  </div>
  <div class="erp-body ">
    <!--汇率设置-->
    <div class="setting-box">
      <span class="label label-default title">美金汇率</span>
      <div class="setting-body">
        <div v-if="int_show_edit_rate || show_edit_rate">
          <%= form_for [:erp, SetupFinanceInfo.new], html: {class: 'form-inline'} do |f| %>
              <div class="form-group">
                <%= f.number_field :dollar_rate, class: 'form-control' %>
              </div>
              <button type="button" class="btn btn-default" v-if="usa_rate" @click="show_edit_rate = false">取消</button>
              <%= f.submit '设置', class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="dollar-rate-box" v-else>
          <span>{{ usa_rate }}</span>
          <i class="glyphicon glyphicon-edit" @click="show_edit_rate = true"></i>
        </div>

      </div>
    </div>
    <!--公司银行设置-->
    <div class="setting-box">
      <span class="label label-default title">公司银行设置</span>
      <i class="glyphicon glyphicon-plus add-bank-button" @click="open_add_bank_modal(0)"
         data-toggle="tooltip" data-placement="right" title="添加"></i>
      <div class="setting-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>账户名称</th>
            <th>银行名称</th>
            <th>银行账号</th>
            <th></th>
          </tr>
          </thead>
          <tbody v-if="banks.length">
          <tr v-for="(bank, index) in banks" @click="open_add_bank_modal(index+1)">
            <td>{{ index+1 }}</td>
            <td>{{ bank.user_name }}</td>
            <td>{{ bank.bank_name }}</td>
            <td>{{ bank.bank_account }}</td>
            <td>
              <a data-confirm="确定删除此银行信息?" rel="nofollow" data-method="delete" class="delete"
                 :href="'<%= erp_bank_infos_path %>/'+bank.id" v-if="!bank.pi_info_count">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
              <i class="glyphicon glyphicon-edit" @click="open_add_bank_modal(index+1)"></i>
            </td>
          </tr>
          </tbody>
          <tbody v-else>
          <tr>
            <td colspan="5" class="text-center">暂无银行信息</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--付款方式-->
    <div class="setting-box">
      <span class="label label-default title">付款方式</span>
      <i class="glyphicon glyphicon-plus add-bank-button" v-if="pay_types.length && !show_add_pay_type"
         @click="show_add_pay_type=true"data-toggle="tooltip" data-placement="right" title="添加"></i>
      <div v-if="!pay_types.length || show_add_pay_type" style="display: inline-block">
        <%= form_for [:erp, PayType.new], html: {class: 'form-inline'} do |f| %>
            <div class="form-group">
              <%= f.text_field :type_name, class: 'form-control' %>
            </div>
            <button type="button" class="btn btn-default" v-if="pay_types.length" @click="show_add_pay_type = false">取消</button>
            <%= f.submit '添加', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="setting-body">
        <div class="row pay_type_list">
          <div class="col-md-3" v-for="(pay_type, index) in pay_types">
            <div :class="[(current_pay_type.id==pay_type.id) ? 'show_edit_pay_type' : '', 'show_pay_type']"
                 v-show="(!show_edit_pay_type) || current_pay_type.id!=pay_type.id">
              <p @click="edit_current_pay_type(index)">{{pay_type.type_name}}</p>
              <a :data-confirm="'确定删除'+pay_type.type_name+'支付方式？'" rel="nofollow" data-method="delete"
                 :href="'<%= erp_pay_types_path %>/'+pay_type.id" v-if="!pay_type.supplier_list_count">
                <i class="glyphicon glyphicon-trash add-bank-button"></i>
              </a>
              <a href="javascript:void(0)" @click="show_edit_pay_type=true">
                <i class="glyphicon glyphicon-edit add-bank-button margin-l-20"></i>
              </a>
            </div>
            <div class="row" v-show="show_edit_pay_type && current_pay_type.id==pay_type.id">
              <div class="col-md-9">
                <input type="text" class="form-control" v-model="current_pay_type.type_name">
              </div>
              <div class="col-md-3 add-bank-button">
                <i class="glyphicon glyphicon-arrow-left" @click="show_edit_pay_type=false"
                   data-toggle="tooltip" data-placement="bottom" title="返回"></i>
                <i class="glyphicon glyphicon-ok pull-right" @click="submit_update_pay_type"
                   data-toggle="tooltip" data-placement="bottom" title="提交"></i>
              </div>
            </div>
          </div>
          <form :action="'/erp/pay_types/'+current_pay_type.id" id="edit_pay_type"
                accept-charset="UTF-8" method="post" v-show="false">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="put">
            <input type="text" name="pay_type[type_name]" v-model="current_pay_type.type_name">
          </form>
        </div>
      </div>
    </div>
  </div>
  <%= render 'common/modal/add_bank' %>
</div>
<script>
  new Vue({
    el: '#finance_setting',
    data: {
      usa_rate: '<%= @usa_rate %>',
      show_edit_rate: false,
      banks: <%== @banks %>,
      is_add_bank: true,
      current_bank: {},
      pay_types: <%== @pay_types %>,
      show_add_pay_type: false,
      show_edit_pay_type: false,
      current_pay_type: {}
    },
    computed: {
      int_show_edit_rate: function () {
        if (this.usa_rate) {
          return false
        } else {
          return true
        }
      }
    },
    methods: {
      open_add_bank_modal: function (num) {
        if (num) {
          this.is_add_bank = false
          var current_bank = this.banks[num - 1]
          this.current_bank = {
            id: current_bank.id,
            user_name: current_bank.user_name,
            bank_name: current_bank.bank_name,
            bank_account: current_bank.bank_account
          }
        } else {
          this.is_add_bank = true
          this.current_bank = {}
        }
        $('#add_bank_info').modal('show');
      },
      edit_current_pay_type: function (index) {
        var current_pay_type = this.pay_types[index]
        if (this.current_pay_type.id == current_pay_type.id) {
          this.current_pay_type = {}
        } else {
          this.current_pay_type = {
            id: current_pay_type.id,
            type_name: current_pay_type.type_name
          }
        }
      },
      submit_update_pay_type: function () {
        $('#edit_pay_type').submit()
      }
    }
  })
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>