<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <h3><strong>PCBA BOM LIST</strong></h3>
        <div class="col-md-1 list-group" style="padding: 0px;">
            <% if can? :pcb_review, :all %>
            <%= link_to "Order Review", order_review_list_path ,class: "list-group-item"%>
            <% end %>
            <% if can? :pcb_dc, :all %>
            <%= link_to "Order Review DC", order_dc_list_path ,class: "list-group-item"%>
            <% end %>
            <%= link_to "My Order",p_bomlist_path(order_list: true) ,class: "list-group-item"%>
            <%= link_to "New BOM", procurement_new_path, data: { no_turbolink: true } ,class: "list-group-item"%>
            <%= link_to "BOM List", p_bomlist_path ,class: "list-group-item active"%> 
            <%= link_to "Price History", p_history_path ,class: "list-group-item"%>          
        </div>
        <div class="col-md-11">
        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
            
            
            <span  style="color:#999;">
               <%= form_tag('/p_bomlist', method:"get", class:"form-inline") do %>
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    
                                        
                  <% if @key_order %>   
                      <%= text_field_tag :key_order, @key_order, class:"form-control  input-lg", size:"30"%>     
                  <% else %> 
                      <%= text_field_tag :key_order, params[:key_order], class:"form-control input-lg", size:"30", placeholder:"订单号"%>
                  <% end %>               
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                </div>
                <a type="button" class="btn btn-info btn-sm" href="/p_bomlist?complete=true">已经报价的BOM</a>
                <a type="button" class="btn btn-danger btn-sm" href="/p_bomlist?undone=true">等待报价的BOM</a>
                <a type="button" class="btn btn-success btn-sm" href="/p_bomlist?sent_to_sell=true">已经发给业务部的BOM</a>
            </div>
            <% end %>                       
            </span>
            </div>
        </div>
          <br>  
<table class="table ">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="110">BOM No.</th>
      <th width="150">Created Date</th>
      <th width="200">Project Name</th>
      <th width="100">QTY</th>
      <th width="100">BOM工程师</th>
      <th width="100">采购工程师</th>
      <th >Remark</th>
<!--
      <th>BOM File</th>

      <th>Action</th>
-->
      <th width="110">Action</th>
      <th width="150">ADD MOKO PART</th>
<!--
      <th width="180">ADD IN ORDER LIST</th>
-->
      <% if can? :work_send_to_sell, :all %>
      <th width="140">Remark To Sell</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @itemall = "" %>
    <% @boms.each do |bom| %>
    <% @itemall = @itemall + " " + bom.excel_file_identifier %>

      <% if can? :work_g_all, :all %>
          <tr <% if PItem.where("procurement_bom_id = #{bom.id} AND (color <> 'b' OR color IS NULL)").blank? %>class="bg-info"<% else %>class="bg-danger"<% end %>>
      <% elsif can? :work_g_a, :all %>
          <tr <% if PItem.where("procurement_bom_id = #{bom.id} AND (color <> 'b' OR color IS NULL)").blank? %>class="bg-info"<% else %>class="bg-danger"<% end %>>
      <% elsif can? :work_g_b, :all %>
          <tr <% if PItem.where("procurement_bom_id = #{bom.id} AND (color <> 'b' OR color IS NULL)").blank? %>class="bg-info"<% else %>class="bg-danger"<% end %>>
      <% else %>
          <tr>
      <% end %>

    <% if bom.bom_team_ck == "do" %>
        <td class="bg-success" >
    <% else %>
        <td>
    <% end %>
            <%= link_to bom.no,  p_viewbom_path(bom_id: bom.id,bak: "bak") %>
        </td>
        <td><%= bom.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td><%= bom.p_name %></td>
        <td><%= bom.qty %></td>
        <td><%= bom.bom_eng %></td>
        <td><%= PItem.find_by_sql("SELECT CASE `p_items`.user_do WHEN 7 THEN '马' WHEN 77 THEN '罗' WHEN 75 THEN '黄' WHEN 999 THEN '供' ELSE '' END AS go FROM `p_items` WHERE (procurement_bom_id = #{bom.id} AND (color <> 'b' OR color IS NULL)) GROUP BY p_items.user_do").map{|item| item.go }.join(" ") %></td>
        <td><%= bom.remark %></td>
<!--
        <td><p class="text-info"><%= bom.excel_file_identifier %></p></td>

        <td><div class="btn-group"><%= link_to "PLACE ORDER",  viewbom_path(bom_id: bom.id), class:"btn btn-danger" %></div></td>
-->
        <% if can? :work_g_all, :all %>
            <% if bom.check == "do" %>
                <td><div class="btn-group"><a class="btn btn-default">无权限删除</a></div></td>
            <% else %>
                <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/p_del_bb?bom_id=<%= bom.id.to_s %>" data-confirm="确定要删除?">删除</a></div></td>  
            <% end %>
        <% else %> 
           <td><div class="btn-group"><a class="btn btn-default btn-xs">无权限删除</a></div></td>
        <% end %>
        <td><%= link_to "编码",  p_viewbom_path(bom_id: bom.id,add_bom: "add_bom"),class:"btn btn-success btn-xs" %></td>
<!--
        <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/add_order?bom_id=<%= bom.id.to_s %>" data-confirm="确定要下单?">下单</a></div></td>
-->
      <% if can? :work_send_to_sell, :all %>
      <% if bom.remark_to_sell == "mark" %>
        <td class="bg-success" >
      <% else %>
        <td>
      <% end %>
          <div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/remark_to_sell?bom_id=<%= bom.id.to_s %>" data-confirm="确定要标记?">标记</a></div>
      </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@boms) %>
        </div>
    </div>
</div>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>




















