<div class="center-block well" >

<script>
function _step2_submit() {
    var partCol = document.getElementById("partCol");//代表芯片名称的列的序号
    var quantityCol = document.getElementById("quantityCol");//代表数量的列的序号
    //if(partCol.value == "") {
        //alert("Please choose 'Part' column");
        //return false;
    //}
    if(quantityCol.value == "") {
	alert("Please choose 'Quantity' Column");
        return false;
    }
    if($("#p_name").val() == ""){
        alert("Please enter your project name.");                    
　　      return false;    
    }
    else if($("#qty").val() == ""){
        alert("Please enter your quantity.");                    
　　      return false;    
    }
				
}

 

$(document).ready(function() {
    $(".changes").change(function(){
        
        if(this.value == '1') {    
            //alert(document.getElementById("desCol").value);  
            //alert(document.getElementById("desCol").value.trim().split(" ")); 
            //alert(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value));                    
            //互斥
            if(document.getElementById("partCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("partCol").value).value = 0;
                this.value = 1
            }
            //设置数值
            document.getElementById("partCol").value = this.id.replace("rowselect_", ""); 
            if(document.getElementById("partCol").value == document.getElementById("quantityCol").value){
                document.getElementById("quantityCol").value = "";
            }
            if(document.getElementById("partCol").value == document.getElementById("refdesCol").value){
                document.getElementById("refdesCol").value = "";
            }

            if(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value) > -1){
                var a=document.getElementById("desCol").value.trim().split(" ");
                var b=a.indexOf(document.getElementById("partCol").value);
                a.splice(b,1);
                a.join(" ");
                //alert(a);
                //alert(b);
                //alert(c);
                //alert(d);
                document.getElementById("desCol").value = a.join(" ");
                //document.getElementById("desCol").value = document.getElementById("desCol").value.split(" ").splice(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value)-1,1).join(" ");
            }

            if(document.getElementById("partCol").value == document.getElementById("packageCol").value){
                document.getElementById("packageCol").value = "";
            }
            if(document.getElementById("partCol").value == document.getElementById("linkCol").value){
                document.getElementById("linkCol").value = "";
            }
            //alert("partCol"+ document.getElementById("partCol").value);
            //return false;
        }
        if(this.value == '2') {
            if(document.getElementById("quantityCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("quantityCol").value).value = 0;
                this.value = 2
            }
            document.getElementById("quantityCol").value = this.id.replace("rowselect_", "");
            if(document.getElementById("quantityCol").value == document.getElementById("partCol").value){
                document.getElementById("partCol").value = "";
            }
            if(document.getElementById("quantityCol").value == document.getElementById("refdesCol").value){
                document.getElementById("refdesCol").value = "";
            }
            if(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("quantityCol").value) > -1){
                var a=document.getElementById("desCol").value.trim().split(" ");
                var b=a.indexOf(document.getElementById("quantityCol").value);
                a.splice(b,1);
                a.join(" ");
                //alert(b);
                //alert(c);
                //alert(d);
                document.getElementById("desCol").value = a.join(" ");
                //document.getElementById("desCol").value = document.getElementById("desCol").value.split(" ").splice(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value)-1,1).join(" ");
            }
            if(document.getElementById("quantityCol").value == document.getElementById("packageCol").value){
                document.getElementById("packageCol").value = "";
            }
            if(document.getElementById("quantityCol").value == document.getElementById("linkCol").value){
                document.getElementById("linkCol").value = "";
            }
            //alert("quantityCol"+ document.getElementById("quantityCol").value);
            //return false;
        }
        if(this.value == '3') {
            if(document.getElementById("refdesCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("refdesCol").value).value = 0;
                this.value = 3
            }
            document.getElementById("refdesCol").value = this.id.replace("rowselect_", "");
            if(document.getElementById("refdesCol").value == document.getElementById("partCol").value){
                document.getElementById("partCol").value = "";
            }
            if(document.getElementById("refdesCol").value == document.getElementById("quantityCol").value){
                document.getElementById("quantityCol").value = "";
            }
            if(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("refdesCol").value) > -1){
                var a=document.getElementById("desCol").value.trim().split(" ");
                var b=a.indexOf(document.getElementById("refdesCol").value);
                a.splice(b,1);
                a.join(" ");
                //alert(b);
                //alert(c);
                //alert(d);
                document.getElementById("desCol").value = a.join(" ");
                //document.getElementById("desCol").value = document.getElementById("desCol").value.split(" ").splice(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value)-1,1).join(" ");
            }
            if(document.getElementById("refdesCol").value == document.getElementById("packageCol").value){
                document.getElementById("packageCol").value = "";
            }
            if(document.getElementById("refdesCol").value == document.getElementById("linkCol").value){
                document.getElementById("linkCol").value = "";
            }
            //alert("refdesCol"+ document.getElementById("refdesCol").value);
            //return false;
        }

        if(this.value == '4') {
            /*
            if(document.getElementById("desCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("desCol").value).value = 0;
                this.value = 4
            }
            */
            document.getElementById("desCol").value = this.id.replace("rowselect_", "") + " " + document.getElementById("desCol").value;
            
            if(this.id.replace("rowselect_", "") == document.getElementById("partCol").value){
                document.getElementById("partCol").value = "";
            }
            if(this.id.replace("rowselect_", "") == document.getElementById("quantityCol").value){
                document.getElementById("quantityCol").value = "";
            }
            if(this.id.replace("rowselect_", "") == document.getElementById("refdesCol").value){
                document.getElementById("refdesCol").value = "";
            }
            if(this.id.replace("rowselect_", "") == document.getElementById("packageCol").value){
                document.getElementById("packageCol").value = "";
            }
            if(this.id.replace("rowselect_", "") == document.getElementById("linkCol").value){
                document.getElementById("linkCol").value = "";
            }
            
            //alert("refdesCol"+ document.getElementById("refdesCol").value);
            //return false;
        }

        if(this.value == '5') {
            if(document.getElementById("packageCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("packageCol").value).value = 0;
                this.value = 5
            }
            document.getElementById("packageCol").value = this.id.replace("rowselect_", "");
            if(document.getElementById("packageCol").value == document.getElementById("partCol").value){
                document.getElementById("partCol").value = "";
            }
            if(document.getElementById("packageCol").value == document.getElementById("quantityCol").value){
                document.getElementById("quantityCol").value = "";
            }
             if(document.getElementById("packageCol").value == document.getElementById("refdesCol").value){
                document.getElementById("refdesCol").value = "";
            }
            if(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("packageCol").value) > -1){
                var a=document.getElementById("desCol").value.trim().split(" ");
                var b=a.indexOf(document.getElementById("packageCol").value);
                a.splice(b,1);
                a.join(" ");
                document.getElementById("desCol").value = a.join(" ");
                //document.getElementById("desCol").value = document.getElementById("desCol").value.split(" ").splice(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value)-1,1).join(" ");
            }
            if(document.getElementById("packageCol").value == document.getElementById("linkCol").value){
                document.getElementById("linkCol").value = "";
            }
            //alert("refdesCol"+ document.getElementById("refdesCol").value);
            //return false;
        }
        if(this.value == '6') {
            if(document.getElementById("linkCol").value != ""){
                document.getElementById("rowselect_"+document.getElementById("linkCol").value).value = 0;
                this.value = 6
            }
            document.getElementById("linkCol").value = this.id.replace("rowselect_", "");
            if(document.getElementById("linkCol").value == document.getElementById("partCol").value){
                document.getElementById("partCol").value = "";
            }
            if(document.getElementById("linkCol").value == document.getElementById("quantityCol").value){
                document.getElementById("quantityCol").value = "";
            }
            if(document.getElementById("linkCol").value == document.getElementById("refdesCol").value){
                document.getElementById("refdesCol").value = "";
            }
            if(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("linkCol").value) > -1){
                var a=document.getElementById("desCol").value.trim().split(" ");
                var b=a.indexOf(document.getElementById("linkCol").value);
                a.splice(b,1);
                a.join(" ");
                document.getElementById("desCol").value = a.join(" ");
                //document.getElementById("desCol").value = document.getElementById("desCol").value.split(" ").splice(document.getElementById("desCol").value.split(" ").indexOf(document.getElementById("partCol").value)-1,1).join(" ");
            }
            if(document.getElementById("linkCol").value == document.getElementById("packageCol").value){
                document.getElementById("packageCol").value = "";
            }
            //alert("refdesCol"+ document.getElementById("refdesCol").value);
            //return false;
        }

    });
});

</script>

<div class="sui-steps steps-large steps-auto">
  <div class="wrap">
    <div class="current">
      <label><span class="round">1</span><span>STEP 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload your BOM file</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">2</span><span>STEP 2 Upload your PCB file</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">3</span><span>STEP 3 Submit Qrder</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">4</span><span>STEP 4 Order review</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">5</span><span>STEP 5 Payment</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
</div> 
       

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-11 pull-left">
                <p><code>选择 "MPN(可选)","LINK(可选)", "数量(必选)"，"描述(必选)" 和 "位号(必选)" 然后点击 "提交". 当前页面只现实10项，不影响实际bom数量.</code></p>
            </div>
            <%= form_tag('/up_order_info', remote: true, class:"form-horizontal",id:"f1") do %>
               <fieldset id="set">
                <%= text_field_tag :bom_id, params[:bom_id], class:"sr-only", size:2 , value: @bom.id.to_s %>
                
               </fieldset>
            <% end %>
        </div>
    </div>







    <%= form_tag('/p_new_bom', method:"POST") do %> 
    <div class="row ">
        <div class="col-sm-11 form-group">
                    <label for="p_name_mom" class="col-sm-3 control-label form-inline">项目名称:
                        <%= text_field_tag :p_name_mom, @bom.erp_no, class:"form-control", size:20 %>  
                    </label>
                    <label for="p_name" class="col-sm-3 control-label form-inline">子项目名称:
                        <%= text_field_tag :p_name, @bom.erp_no, class:"form-control", size:20  %>  
                    </label>                  
 
                    <label for="qty"  class="col-sm-5 control-label  form-inline">数量:                   
                        <%= number_field_tag :qty, @bom.erp_qty, class:"form-control", size:2  %>

                        <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="10" name="qty_pcs[]" id="10p" />
                               <strong>10pcs</strong>
                           </label>
                       </div>
                       <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="50" name="qty_pcs[]" id="50p" /> 
                               <strong>50pcs</strong>
                           </label>
                       </div>         
                       <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="100" name="qty_pcs[]" id="100p" />
                               <strong>100pcs</strong>
                           </label>
                       </div> 
                    </label>  
                </div>         
        <div class="col-sm-1 form-group pull-right" >
            <%= text_field_tag :bom_id, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.id.to_s %>
            <%= text_field_tag :bom_path, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.excel_file.current_path %>
            <%= text_field_tag :bom_file, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.excel_file_identifier %> 

            <%= text_field_tag :partCol, @bom.id.to_s, class:"sr-only", size:2 , value:""  %>
            <%= text_field_tag :quantityCol, @bom.id.to_s, class:"sr-only", size:20 , value:"" %>
            <%= text_field_tag :refdesCol, @bom.id.to_s, class:"sr-only", size:2 , value:"" %>
            <%= text_field_tag :desCol, @bom.id.to_s, class:"sr-only", size:10 , value:"" %>
            <%= text_field_tag :packageCol, @bom.id.to_s, class:"sr-only", size:2 , value:"" %>
            <%= text_field_tag :linkCol, @bom.id.to_s, class:"sr-only", size:2 , value:"" %>
            <%= submit_tag "提交", class:"btn btn-danger", :onclick => "return _step2_submit()" %>
        </div>
        
    </div>
    <div class="row " style="padding-top: 10px;padding-bottom: 40px;">
        <div class="col-md-12 ">
        <table class="table table-bordered">
            <tr style="background-color: #32b0cc;">
                <% @sheet.row(1).each_with_index do |item,index| %>
                <td>
                    <div >
                    <select name="noselect[]" id="rowselect_<%= index %>"  class="changes form-control center-block" style="font-weight:bold;">
		        <option value="0">
			    None
		        </option>
			<option value="1">
			    MPN
			</option>
			<option value="2">
		            数量
			</option>
                        <option value="3">
		            位号
			</option>
                        <option value="4">
		            描述
			</option>
                        <option value="5">
		            封装
			</option>
                        <option value="6">
		            LINK
			</option>
		    </select>
                    </div>
                </td>
                <% end %>
            </tr>
            
            <% @sheet.parse.first(10).each do |row| %>
                <tr>
                <% row.each do |item| %>
                    <td  style="word-wrap:break-word;word-break:break-all;">
                        <% if item.to_s =~ /\.0/ %><%= item.to_s.sub!(/\.0/,"") %><% else %><%= item  %><% end %>
                    </td>
                <% end %>
                </tr>
            <% end %>
        </table>
        </div>
    </div>
    <% end %>
                   
<script>
$(document).ready(function() {   
    $("#10p").click(function(){
        document.getElementById('50p').checked = false; 
        document.getElementById('100p').checked = false;
        if(document.getElementById('10p').checked == false){
            $("#qty").val("");
        }else if(document.getElementById('10p').checked == true){
            $("#qty").val("10");
        }
    });
    $("#50p").click(function(){
        document.getElementById('10p').checked = false; 
        document.getElementById('100p').checked = false;
        if(document.getElementById('50p').checked == false){
            $("#qty").val("");
        }else if(document.getElementById('50p').checked == true){
            $("#qty").val("50");
        }
    });
    $("#100p").click(function(){
        document.getElementById('50p').checked = false; 
        document.getElementById('10p').checked = false;
        if(document.getElementById('100p').checked == false){
            $("#qty").val("");
        }else if(document.getElementById('100p').checked == true){
            $("#qty").val("100");
        }
    });
});
</script>

   
</div>

