<div class="container-fluid" style="padding-top: 15px;">

<small><div class="row" style="padding-bottom: 10px;">
   <div class="col-md-12">     
            <span  style="color:#999;">
               <%= form_tag('/pcb_list', method:"get", class:"form-inline") do %>
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    
                                        
                  <% if @key_order %>   
                      <%= text_field_tag :key_order, @key_order, class:"form-control  input-lg", size:"30"%>     
                  <% else %> 
                      <%= text_field_tag :key_order, params[:key_order], class:"form-control input-lg", size:"30", placeholder:"订单号"%>
                  <% end %>               
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                  
                </div>
                <a type="button" class="btn btn-success btn-sm" href="/pcb_list?complete=true">已经报价的物料</a>
                <a type="button" class="btn btn-warning btn-sm" href="/pcb_list?undone=true">等待报价的物料</a>
            </div>
            <% end %>                       
            </span>               
            
    </div>
</div></small>



    <small><div class="row" >
        <div class="col-md-12" > 
            <div class="panel panel-info" >
                <div class="panel-heading"><span><strong>PCB报价列表</strong></span></div>
                <table class="table table-hover table-bordered" style="margin: 0px;">
                <thead >
                    <tr class="well text-center"> 
                        <th rowspan="2" class="text-center" width="30" style="padding-bottom: 20px;">附件</th>   
                        <th rowspan="2" class="text-center" width="100" style="padding-bottom: 20px;">供应商</th>
                        <th rowspan="2" class="text-center" width="120" style="padding-bottom: 20px;">询价单号</th>  
                        <th rowspan="2" class="text-center" width="60" style="padding-bottom: 20px;">业务员</th> 
                        <th colSpan="6" class="text-center" width="500" >PCB板(mm)</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">数量</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">平米</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">元/平米</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">单价</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">工程费</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">测试费</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">模具费</th>
                        <th rowspan="2" class="text-center" width="70" style="padding-bottom: 20px;">总金额</th>
                        <th rowspan="2" class="text-center" style="padding-bottom: 20px;">备注</th>
                    </tr>
                    <tr style="background-color: #eeeeee"> 
                        <th class="text-center" >长度</th>   
                        <th class="text-center" >宽度</th>  
                        <th class="text-center" >板厚</th>  
                        <th class="text-center" >拼板数量</th>  
                        <th class="text-center" >层数*</th>  
                        <th class="text-center" >工艺</th>          
                    </tr>
                </thead>
                <% if @part %>
                <tbody>
                <% @part.each_with_index do |part,index| %>
                    
                    <tr>
                        <form class="form-inline" action="/pcb_info_update" accept-charset="UTF-8"  method="post">
                        <td style="padding-left: 3px;">
                            <div class="form-group sr-only">
                                <label for="part_id" class="control-label">partid:</label>
                                <input type="text" class="form-control" id="part_id" name="part_id" value="<%= part.pcb_order_item_id.to_s %>">
                                <input type="text" class="form-control" id="pcb_item_infos_id_<%= part.pcb_order_item_id.to_s %>" name="pcb_item_infos_id" value="<%= part.pcb_item_infos_id.to_s %>">
                                <input type="text" class="form-control" id="pcb_order_no" name="pcb_order_no" value="<%= part.pcb_order_no.to_s %>">
                                <input type="text" class="form-control" id="pcb_sell" name="pcb_sell" value="<%= PcbOrder.find_by_id(part.pcb_order_id).order_sell.to_s %>">
<!--
                                <input type="text" class="form-control" id="pcb_qty" name="pcb_qty" value="<%= part.qty %>">
-->
                            </div>
                            <a class="btn btn-info btn-xs" href="<%= part.att %>" target="_blank">下<br>载</a>
                        </td>
                        <td>
                            <label for="dn" class="control-label sr-only">供应商简称:</label>
                                <input id="pcb_dn" autocomplete="off" name="pcb_dn" type="text" class="form-control input-sm" data-provide="typeahead" data-items="8" data-source="<%= raw @all_pcb_dn %>" placeholder="供应商简称" style="padding: 0px;margin: 0px;" value="<%= part.pcb_supplier %>">
                        </td>
                        <td id="pcb_order_no_color_<%= part.pcb_order_item_id.to_s %>_<%= part.pcb_item_infos_id.to_s %>">
                            <%= part.pcb_order_no %><br>
                            <a class="btn btn-info btn-xs" href="/copy_pcb_item_info?id=<%= part.pcb_item_infos_id%>" >复制</a>
                        </td>
                        <td><%= User.find_by_email(PcbOrder.find_by_id(part.pcb_order_id).order_sell).full_name.to_s %></td>
                        <td><input id="pcb_length" autocomplete="off" name="pcb_length" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.pcb_length %>"></td>
                        <td><input id="pcb_width" autocomplete="off" name="pcb_width" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.pcb_width %>"></td>
                        <td>
<!--
                            <input id="pcb_thickness" autocomplete="off" name="pcb_thickness" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;">
-->
                            <select class="form-control input-sm" id="pcb_thickness" name="pcb_thickness">
                                <option value="">----请选择----</option>
                                <option value="0.1" <% if part.pcb_thickness == "0.1" %>selected<% end %>>0.1</option>
                                <option value="0.2" <% if part.pcb_thickness == "0.2" %>selected<% end %>>0.2</option>
                                <option value="0.4" <% if part.pcb_thickness == "0.4" %>selected<% end %>>0.4</option>
                                <option value="0.5" <% if part.pcb_thickness == "0.5" %>selected<% end %>>0.5</option>
                                <option value="0.6" <% if part.pcb_thickness == "0.6" %>selected<% end %>>0.6</option>
                                <option value="0.8" <% if part.pcb_thickness == "0.8" %>selected<% end %>>0.8</option>
                                <option value="1.0" <% if part.pcb_thickness == "1.0" %>selected<% end %>>1.0</option>
                                <option value="1.2" <% if part.pcb_thickness == "1.2" %>selected<% end %>>1.2</option>
                                <option value="1.5" <% if part.pcb_thickness == "1.5" %>selected<% end %>>1.5</option>
                                <option value="1.6" <% if part.pcb_thickness == "1.6" %>selected<% end %>>1.6</option>
                                <option value="2.0" <% if part.pcb_thickness == "2.0" %>selected<% end %>>2.0</option>
                                <option value="2.4" <% if part.pcb_thickness == "2.4" %>selected<% end %>>2.4</option>
                                <option value="3.0" <% if part.pcb_thickness == "3.0" %>selected<% end %>>3.0</option>
                                <option value="3.2" <% if part.pcb_thickness == "3.2" %>selected<% end %>>3.2</option>
                            </select>
                        </td>
                        <td><input id="pcb_panel" autocomplete="off" name="pcb_panel" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.pcb_panel %>"></td>
                        <td>
<!--
                            <input id="pcb_layer" autocomplete="off" name="pcb_layer" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;"></td>
-->
                            <select class="form-control input-sm" id="pcb_layer" name="pcb_layer">
                                <option value="">----请选择----</option>
                                <option value="1" <% if part.pcb_layer == "1" %>selected<% end %>>1</option>
                                <option value="2" <% if part.pcb_layer == "2" %>selected<% end %>>2</option>
                                <option value="4" <% if part.pcb_layer == "4" %>selected<% end %>>4</option>
                                <option value="6" <% if part.pcb_layer == "6" %>selected<% end %>>6</option>
                                <option value="8" <% if part.pcb_layer == "8" %>selected<% end %>>8</option>
                                <option value="10" <% if part.pcb_layer == "10" %>selected<% end %>>10</option>
                                <option value="12" <% if part.pcb_layer == "12" %>selected<% end %>>12</option>
                            </select>  
                        <td>
<!--
                            <input id="pcb_gongyi" autocomplete="off" name="pcb_gongyi" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;">    
-->
                            <select class="form-control input-sm" id="pcb_gongyi" name="pcb_gongyi">
                                <option value="">----请选择----</option>
                                <option value="HASL"  <% if part.pcb_gongyi == "HASL" %>selected<% end %>>HASL</option>
                                <option value="ENIG"  <% if part.pcb_gongyi == "ENIG" %>selected<% end %>>ENIG</option>
                                <option value="OSP"  <% if part.pcb_gongyi == "OSP" %>selected<% end %>>OSP</option>
                            </select>  
                        </td>
                        <td><input id="pcb_qty" autocomplete="off" name="pcb_qty" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.qty %>"></td>
                        <td id="pcb_area_<%= part.pcb_order_item_id.to_s %>_<%= part.pcb_item_infos_id.to_s %>"><%= (part.pcb_area.blank?)? (part.pcb_area):(format("%.2f",part.pcb_area)) %></td>
                        <td><input id="pcb_area_price" autocomplete="off" name="pcb_area_price" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.pcb_area_price %>"></td>
                        <td id="pcb_price_<%= part.pcb_order_item_id.to_s %>_<%= part.pcb_item_infos_id.to_s %>"><%= part.price %></td>
                        <td><input id="eng_price" autocomplete="off" name="eng_price" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.eng_price %>"></td>
                        <td><input id="test_price" autocomplete="off" name="test_price" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.test_price %>"></td>
                        <td><input id="mould_price" autocomplete="off" name="mould_price" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.m_price %>"></td>
                        <td id="pcb_t_p_<%= part.pcb_order_item_id.to_s %>_<%= part.pcb_item_infos_id.to_s %>"><%= part.t_p %></td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input id="pcb_remark" autocomplete="off" name="pcb_remark" type="text" class="form-control input-sm"  style="padding: 0px;margin: 0px;" value="<%= part.remark %>">    
                                <span class="input-group-btn ">
                                    <button type="submit" class="btn btn-link  glyphicon glyphicon-ok " ></button>
                                </span>              
                            </div>
                        </td></form>
                    </tr>
                    
                <% end %>
                </tbody>
                <% end %>
                </table>
                </div>
            </div>
        </div>
    </div></small>
</div>
