<small>
<div class="container-fluid" >
<div class="row" style="padding: 0px;">
  <h2><p class="text-primary">供应商报价</p></h2><hr>
  <%= render 'layouts/flash_messages' %>
</div>

<% if @part %>
<div>

           <span  style="color:#999;">
               <%= form_tag('/supplier_offer', method:"get", class:"form-inline") do %>
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    

                      <%= text_field_tag :key_mpn, params[:key_mpn], class:"form-control input-lg", size:"30", placeholder:"MPN/描述"%>             
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                  
                </div>

            </div>
            <% end %>                       
            </span>  













<%= link_to "导出全部未报价的物料", supplier_dn_excel_path() %>
<a type="button" class="btn btn-success btn-sm" href="/supplier_offer?complete=true">已经报价的物料</a>
<a type="button" class="btn btn-danger btn-sm" href="/supplier_offer?undone=true">等待报价的物料</a>
<%= link_to "导出最新未报价的物料", supplier_dn_excel_path(out_tag: true) %>
</div>
<%= will_paginate(@part) %>
<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >   
                  <table class="table table-hover table-bordered" > 
                      <thead >
                            <tr style="background-color: #eeeeee"> 
                                <th width="85">日期</th>
                                <th width="190">MPN</th>
                                <th width="200">描述</th>
                                <th width="80">数量</th>  
                                <th width="70">单价￥</th>
                                <th >备注</th>
                                <th width="420">操作</th>
                            </tr>
                        </thead>
                        <tbody>
<% @part.each do |part| %>
                            <tr <% if ProcurementBom.find(part.procurement_bom_id).jia_ji == "do" %>class="bg-danger"<% end %>>
                                <td> 
                                    <%= part.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %>
                                </td>
                                <td> 
                                    <%= part.mpn %>
                                </td>
                                <td>
                                    <%= part.description %>
                                </td>
                                
                                <td>
                                    <%= part.quantity * ProcurementBom.find(part.procurement_bom_id).qty %>
                                </td>
                                <td id="<%= part.id.to_s %>cost">
                                    <% if can? :work_g, :all %>
                                    <% if not PDn.find_by(p_item_id: part.id,color: "y").blank? %>
                                        <%= PDn.where(p_item_id: part.id,color: "y").last!.cost %>
                                    <% end %>
                                    <% end %>
                                </td>
                                <td id="<%= part.id.to_s %>remark">
                                    <% if can? :work_g, :all %>
                                    <% if not PDn.find_by(p_item_id: part.id,color: "y").blank? %>
                                        <%= PDn.where(p_item_id: part.id,color: "y").last!.remark %>
                                    <% end %>
                                    <% end %>
                                </td>
                                <td>
                                    <small>
                                    <%= form_tag({action: :p_edit_supplier_dn},method:"post",remote:"ture",class:"form-inline") do %>
                                        <div class="form-group sr-only">
                                            <label for="dn_itemid" class="control-label">itemid:</label>
                                            <input type="text" class="form-control" id="dn_itemid" name="dn_itemid" value="<%= part.id.to_s %>">
                                        </div>

                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control " id="<%= part.id.to_s + 'p' %>"  name="<%= part.id.to_s + 'p' %>" size="10" placeholder="单价">                      
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control " id="dn_remark" name="dn_remark" size="40" placeholder="备注">                      

                                            <span class="input-group-btn ">
                                                <button type="submit" class="btn btn-link  glyphicon glyphicon-ok " ></button>
                                           </span>
                                       </div>
                                   <% end %>
                                   </small>
                                </td> 
                            </tr>
<% end %>
                        </tbody>
                    </table>
    </div>
</div>


<% end %>
</div>
</small> 
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

