<small>
<div class="container-fluid" >
<div class="row" style="padding: 0px;">
  <h2><p class="text-primary">供应商报价</p></h2><hr>
  <%= render 'layouts/flash_messages' %>
</div>

<% if @part %>
<div>
<%= link_to "导出EXCEL", supplier_dn_excel_path() %>
</div>
<%= will_paginate(@part) %>
<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >   
                  <table class="table table-hover table-bordered" > 
                      <thead >
                            <tr style="background-color: #eeeeee"> 
                                <th width="200">MPN</th>
                                <th width="300">描述</th>
                                <th width="90">数量</th>  
                                <th width="90">单价￥</th>
                                <th >备注</th>
                                <th >操作</th>
                            </tr>
                        </thead>
                        <tbody>
<% @part.each do |part| %>
                            <tr >
                                <td> 
                                    <%= part.mpn %>
                                </td>
                                <td>
                                    <%= part.description %>
                                </td>
                                
                                <td>
                                    <%= part.quantity * ProcurementBom.find(part.procurement_bom_id).qty %>
                                </td>
                                <td id="<%= part.id.to_s %>cost">
                                    <% if not PDn.find_by(item_id: part.id,color: "y").blank? %>
                                        <%= PDn.where(item_id: part.id,color: "y").last!.cost %>
                                    <% end %>
                                </td>
                                <td id="<%= part.id.to_s %>remark">
                                    <% if not PDn.find_by(item_id: part.id,color: "y").blank? %>
                                        <%= PDn.where(item_id: part.id,color: "y").last!.remark %>
                                    <% end %>
                                </td>
                                <td>
                                    <small>
                                    <%= form_tag({action: :p_edit_supplier_dn},method:"post",remote:"ture",class:"form-inline") do %>
                                        <div class="form-group sr-only">
                                            <label for="dn_itemid" class="control-label">itemid:</label>
                                            <input type="text" class="form-control" id="dn_itemid" name="dn_itemid" value="<%= part.id.to_s %>">
                                        </div>

                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control " id="<%= part.id.to_s + 'p' %>"  name="<%= part.id.to_s + 'p' %>" size="10">                      
                                        </div>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control " id="dn_remark" name="dn_remark" size="40">                      

                                            <span class="input-group-btn ">
                                                <button type="submit" class="btn btn-link  glyphicon glyphicon-ok " ></button>
                                           </span>
                                       </div>
                                   <% end %>
                                   </small>
                                </td> 
                            </tr>
<% end %>
                        </tbody>
                    </table>
    </div>
</div>


<% end %>
</div>
</small> 
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

