<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
<div class="container" >
<div class="row ">

	<div class="col-md-2"></div>

	<div class=" col-md-8 form-group panel panel-info">
		<%= form_for @bom, html: { multipart: true } do |f| %>
			<label><h2><%= t(:up_excel) %></h2></label>
		    <%= f.file_field :excel_file, class: "btn btn-default" %>
		    <br/>
		    <%= f.submit t(:upload), class: "btn btn-primary" %>
		<% end %>

	</div>
        <div class="col-md-2"></div>
</div>
    




<div class="row ">
<div class="col-md-2"></div>
<div id="carousel-example-generic" class="carousel slide col-md-8  panel panel-info" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 <h1>How to Use !</h1>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active">
      
      
      <%= image_tag "1.1.png", class: "img-responsive" %>
      <div class="bg-success text-primary text-center">
        <br><p><h3><strong>Step 1</strong></h3></p>
        <p><h4><%= t('sign_up') %></h4></p><br><br>
      </div>
    </div>
    <div class="item">
      <%= image_tag "2.1.png", class: "img-responsive" %>
      <div class="bg-success text-primary text-center">
        <br><p><h3><strong>Step 2</strong></h3></p>
        <p><h4><%= t('step_b') %><code>Qty</code>, <code>Des</code>, <code>Mpn</code>, <code>Ref</code><%= t('step_bb') %></h4></p><br><br>
      </div>
    </div>
    <div class="item">
      <%= image_tag "3.1.png", class: "img-responsive" %>
      <div class="bg-success text-primary text-center">
        <br><p><h3><strong>Step 3</strong></h3></p>
        <p><h4><%= t('step_c') %></h4></p><br><br>
      </div>
    </div>
    <div class="item">
      <%= image_tag "4.1.png", class: "img-responsive" %>
      <div class="bg-success text-primary text-center">
        <br><p><h3><strong>Step 4</strong></h3></p>
        <p><h4><%= t('step_d') %></h4></p><br><br>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="col-md-2"></div>
</div>
<br><br>

<ul id="myTab" class="nav nav-pills nav-justified">
   <li class="active"><a href="#home" type="button" data-toggle="tab">Real-time electronic components price query by Part Number</a></li>
   <li><a href="#ios" type="button" data-toggle="tab">Real-time electronic components price query by Keywords</a></li>

</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="home">
         <br><br>  
         <p>   
          <% @mpn_show.each_with_index do |item,index| %>
              <%= link_to item.mpn,  {controller: "boms", action: "search_keyword", mpn: item.mpn} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
         </p>
   </div>
   <div class="tab-pane fade" id="ios">
       <br><br>
       <p>   
          <% @des_show.each_with_index do |item,index| %>                   
              <%= link_to item.description,  {controller: "boms", action: "des_item", mpn: item.description} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
       </p>
   </div>
</div>
<script>
   $(function () {
      $('#myTab li:eq(1) a').tab('show');
   });
</script>

         
</div>
</div>
