<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
<div class="container">




  <div class="row center-block" style="padding: 10px 0px 45px;margin: 0px;">
    <div class="col-md-2">
        <a class="navbar-brand" href="<%=root_path %>" style="padding-top: 0px;margin: 10px;"><%= image_tag "logo.bmp",size: "70x70", class: " img-rounded" %></a>
    </div>
    <div class="col-md-9 " style="margin: 20px;">
      <div class="row" >
      <div class="col-md-10 ">
      <%= form_tag('/search', method:"get", class:"form-inline") do %>
        <div class="form-group ">
          <lable for="mpn" , class="sr-only">Part : </lable>
          <div class="input-group">    
            <%= text_field_tag :mpn, params[:mpn], class:"form-control input-lg", size:"100%",  placeholder:"Part Number/Keyword"%>
            <%= text_field_tag :itemid, params[:itemid], class:"sr-only", size:2  %>
            <div class="input-group-btn">
              <%= submit_tag t(:search), class:"btn btn-primary btn-lg" %>
               
            </div>
            
            
          </div>
          
        </div>
        
      <% end %>
      </div>
      <div class="col-md-1 ">

           <a class="btn btn-lg" style="border-color: #ec971f;background-color: #ec971f;color: #fff;" href="/upload">
	       <img src="/uploads/upbom.png" alt="search">
	       BOM
           </a>
      </div>
      <div class="col-md-1 "></div>
      </div>
    </div>
    
    <div class="col-md-2"></div>
  </div>



<div class="page-header">
<h1>Our Supplier</h1>
</div>
  <div class="row">
      <div class="col-md-12">


<p>MOKO has collaborated with over 30 mainstream worldwide suppliers. You can enjoy fast and efficient one stop service of online purchase of electronic component ,PCB Fabrication & Manufacturing , PCB assembly on our platform.</p>
<p>MOKO 100% Warranty:</p>
<ul>
<li>All of our inventory sold directly from the warehouses of authorized sources.</li>

<li>you find the inventories at the lowest price.</li>

<li>Centralized purchase and deliver help to control purchasing cost effectively.</li>

<li>Exclusive discounts on specific suppliers available online.</li>
</ul>
      </div>
  </div>
</div>
