<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
<div class="container">




  <div class="row center-block" style="padding: 10px 0px 45px;margin: 0px;">
    <div class="col-md-2">
        <a class="navbar-brand" href="<%=root_path %>" style="padding-top: 0px;margin: 10px;"><%= image_tag "logo.bmp",size: "70x70", class: " img-rounded" %></a>
    </div>
    <div class="col-md-9 " style="margin: 20px;">
      <div class="row" >
      <div class="col-md-10 ">
      <%= form_tag('/search', method:"get", class:"form-inline") do %>
        <div class="form-group ">
          <lable for="mpn" , class="sr-only">Part : </lable>
          <div class="input-group">    
            <%= text_field_tag :mpn, params[:mpn], class:"form-control input-lg", size:"100%",  placeholder:"Part Number/Keyword"%>
            <%= text_field_tag :itemid, params[:itemid], class:"sr-only", size:2  %>
            <div class="input-group-btn">
              <%= submit_tag t(:search), class:"btn btn-primary btn-lg" %>
               
            </div>
            
            
          </div>
          
        </div>
        
      <% end %>
      </div>
      <div class="col-md-1 ">

           <a class="btn btn-lg" style="border-color: #ec971f;background-color: #ec971f;color: #fff;" href="/upload">
	       <img src="/uploads/upbom.png" alt="search">
	       BOM
           </a>
      </div>
      <div class="col-md-1 "></div>
      </div>
    </div>
    
    <div class="col-md-2"></div>
  </div>



<div class="page-header">
<h1>Terms of Use</h1>
</div>
  <div class="row">
      <div class="col-md-12">
          

<h4>1. Registration</h4>

<p style="padding: 0px 0px 10px 20px;">1.1 Register</p>

<p style="padding: 0px 0px 10px 45px;">You can view our Site without an MOKO account, but you need to register as a member to place an order or request a quotation for the product. Click the membership registration link displayed on the homepage to create an account.
Your e-mail address is required for membership registration. Please note that you cannot share one e-mail address with multiple people.</p>

<p style="padding: 0px 0px 10px 20px;">1.2 Forgot password</p>

<p style="padding: 0px 0px 10px 45px;">Your email address is served as your user ID. If you forget your email address, you have to register another account. You can sign in with the e-mail address and password. If you have trouble when sign in, click "Forget Password?" which displayed in the login page. To protect the personal information of customers, we will send you an email containing a link from fastbom.com  to change password page after you submit your information.</p>

      </div>
  </div>
</div>
