<div class="container" >
<div class="row" style="padding: 0px;">
  <h2><p class="text-primary">工时录入</p></h2><hr>
</div>
<div class="row"style="padding: 0px;">
    
    <%= form_tag('/timesheet', method:"get", class:"form-inline") do %>
       <div class="col-md-6 form-group  nav navbar-nav navbar-right">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group">             
                <%= text_field_tag :order_no, params[:order_no], class:"form-control input-lg", size:"100%",  placeholder:"单号"%>              
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>
      <% end %>
</div>




<% if not @order.blank? %>

<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
        
       <div >
                   
                    
                    <table class="table table-bordered">  
                        <thead>
                            <tr class="bg-primary">
                                <th rowspan="2" width="150">单号</th>  
                                <th rowspan="2" width="80">订单数量</th>
                                <th colSpan="3">辅助费用</th>
                                <th colSpan="2">工时合计---<%= @order.total_time %></th>
                                <th rowspan="2" width="65">操作</th>
                            </tr>
                            <tr class="bg-warning ">                               
                                <th width="55">钢网---<%= @order.gangwang %></th>
                                <th width="55">过炉---<%= @order.guolu %></th>
                                <th width="55">测试---<%= @order.ceshi %></th>
                                <th width="55">SMT---<%= @order.smt_time %></th>
                                <th width="55">DIP---<%= @order.dip_time %></th>
                            </tr>
                        </thead>
                        <tbody>

                            <%= form_tag('/up_timesheet', method:"get") do %>                            
                            <tr <% if @order.order_state.to_i == 1 %>class="success"<% elsif @order.order_state.to_i == 2 %>class="warning"<% elsif @order.order_state.to_i == 3 %>class="danger"<% elsif @order.order_state.to_i == 4 %>class="info"<% end %> nowrap="nowrap"> 
                                                               
                                <td> 
                                    <%= @order.order_no %>
                                </td>
                                <td>
                                    <%= @order.order_quantity %>
                                </td>

                                <td>
                                    <%= text_field_tag :order_id, @order.id.to_s,  class:"sr-only", size:2 , value: @order.id %>
                                    <%= text_field_tag :gangwang, params[:gangwang],class:"form-control input-sm", size:"3" %>
                                    
                                </td>
                                <td>
                                    <%= text_field_tag :guolu, params[:guolu],class:"form-control input-sm", size:"3" %>
                                    
                                </td>
                                <td>
                                    <%= text_field_tag :ceshi, params[:ceshi],class:"form-control input-sm", size:"3" %>
                                    
                                </td>
                                <td>
                                    <%= text_field_tag :smt_time, params[:smt_time],class:"form-control input-sm", size:"3" %>
                                    
                                </td>
                                <td>
                                    <%= text_field_tag :dip_time, params[:dip_time],class:"form-control input-sm", size:"3" %>
                                    
                                </td>    
                                <td>
                                    <%= submit_tag "录入", class:"btn btn-success btn-sm" %>
                                </td>                                                                                            
                            </tr>
                            <% end %>

                        </tbody>
                    </table>
                    
                </div>
        
   
    </div>
</div>



<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
        
       <div class="panel panel-primary " >
                   <div class="panel-heading"><span><strong>历史记录</strong></span></div>

                    <table class="table table-bordered">  
                        <thead>
                            <tr class="bg-info">
                                <th rowspan="2" width="150">单号</th>  
                                <th rowspan="2" width="80">订单数量</th>
                                <th colSpan="3">辅助费用</th>
                                <th colSpan="2">工时</th> 
                                <th rowspan="2" width="180">更新时间</th> 
                            </tr>
                            <tr class="bg-warning ">                                                             
                                <th width="55">钢网</th>
                                <th width="55">过炉</th>
                                <th width="55">测试</th>
                                <th width="55">SMT</th>
                                <th width="55">DIP</th>
                            </tr>
                        </thead>
                        <tbody>
<% Timesheet.where(order_id: @order.id).order("created_at DESC").each do |workup| %>                                                    
                            <tr> 
                                                               
                                <td> 
                                    <%= workup.order_no %>
                                </td>
                                <td>
                                    <%= @order.order_quantity %>
                                </td>

                                <td>
                                    <%= workup.gangwang %>
                                </td>
                                <td>
                                    <%= workup.guolu %>
                                </td>
                                <td>
                                    <%= workup.ceshi %>
                                </td>
                                <td>
                                    <%= workup.smt_time %>
                                </td>
                                <td>
                                    <%= workup.dip_time %>
                                </td> 
                                <td>
                                    <%= workup.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %>
                                </td>                                                                                               
                            </tr>
<% end %>
                        </tbody>
                    </table>
                    
                </div>
        
   
    </div>
</div>




<% end %>
</div>
 
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

