<div class="container" >
<script>
        function change_1(){
               document.getElementById('send_up1').checked = false; 
               document.getElementById('send_up2').checked = false; 
               document.getElementById('send_up4').checked = false;                 
           } 
      
</script>
<%= @bom.excel_file_identifier.inspect %>
    <div class="row ">
    <%= form_tag('/new_bom', method:"POST", class:"form-inline") do %>
        <table class="table table-bordered">
            <tr>
                <% @sheet.row(1).each do |item| %>
                <td>
                    <ul class="list-unstyled">
                    <li>
                     <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="<%= item %>" name="select_part[]" id="receive_feedback_receive_feedback_<%= item.to_s %>" onclick="change_2()"/><strong>Part</strong>
                         </label>      
                     </div>
                     </li> 
                     <li>
                     <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="<%= item %>" name="select_quantity[]" id="receive_feedback_receive_feedback_<%= item.to_s %>" onclick="change_2()"/><strong>Quantity</strong>
                         </label>  
                     </div> 
                     </li> 
                     <li>
                     <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="<%= item %>" name="select_refDes[]" id="receive_feedback_receive_feedback_<%= item.to_s %>" onclick="change_2()"/><strong>RefDes</strong>
                         </label>      
                     </div> 
                     </li> 
                     <li>
                     <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="<%= item %>" name="select_description[]" id="receive_feedback_receive_feedback_<%= item.to_s %>" onclick="change_2()"/><strong>Description</strong>
                         </label>  
                     </div>
                     </li> 
                    </ul>
                </td>
                <% end %>
            </tr>
            <% @sheet.parse.each do |row| %>
                <tr>
                <% row.each do |item| %>
                    <td width="100" style="word-wrap:break-word;word-break:break-all;">
                        <%= item %>
                    </td>
                <% end %>
                </tr>
            <% end %>
        </table>
        <div class="modal-footer">
            <%= text_field_tag :bom_id, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.id.to_s %>
            <%= text_field_tag :bom_path, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.excel_file.current_path %>
            <%= text_field_tag :bom_file, @bom.id.to_s, class:"sr-only", size:2 , value: @bom.excel_file_identifier %>
            <%= submit_tag "提交", class:"btn btn-primary", :onclick => "return postform()" %>
        </div>
    <% end %>
    </div>




   
</div>
