<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>


<div class="container" >
  

  <div class="row center-block" style="padding: 10px 0px 45px;margin: 0px;">
    <div class="col-md-2">
        <a class="navbar-brand" href="<%=root_path %>" style="padding-top: 0px;margin: 10px;"><%= image_tag "logo.bmp",size: "70x70", class: " img-rounded" %></a>
    </div>
    <div class="col-md-9 " style="margin: 20px;">
      <div class="row" >
      <div class="col-md-10 ">
      <%= form_tag('/search', method:"get", class:"form-inline") do %>
        <div class="form-group ">
          <lable for="mpn" , class="sr-only">Part : </lable>
          <div class="input-group">    
            <%= text_field_tag :mpn, params[:mpn], class:"form-control input-lg", size:"100%",  placeholder:"Part Number/Keyword"%>
            <%= text_field_tag :itemid, params[:itemid], class:"sr-only", size:2  %>
            <div class="input-group-btn">
              <%= submit_tag t(:search), class:"btn btn-primary btn-lg" %>  
            </div>      
          </div>          
        </div>    
      <% end %>
      </div>
      <div class="col-md-1 ">

           <a class="btn btn-lg" style="border-color: #ec971f;background-color: #ec971f;color: #fff;" href="/upload">
	       <img src="/uploads/upbom.png" alt="search">
	       BOM
           </a>
      </div>
      <div class="col-md-1 "></div>
      </div>
    </div>
    <div class=" col-md-2 form-group">
    <%= form_for @bom, html: { multipart: true, class:"form-inline"} do |f| %>	
        
	
                <%= f.file_field :excel_file,class:"text-muted sr-only",style:"padding: 11px;margin: 0px;background-color: #ffffff;" %>

             
                <%= f.submit "Upload BOM file", class: "btn btn-warning btn-lg sr-only" %>
   
    <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>









    <div class="clearfix" >
<!--
        <ul class="list-inline pull-left">
            <li><a href="#">Home</a></li>
            <li>&gt;</li>
            <li><a href="#">Bom Manager</a></li>
        </ul>

        <div class="pull-right">
            <button class="btn" type="button" onclick="window.location.href='#'">FEEDBACK <i class="glyphicon glyphicon-play f0 c5 pl10"></i></button>
        </div>
-->
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
    
<div class="sui-steps steps-large steps-auto">
  <div class="wrap">
    <div class="current">
      <label><span class="round">1</span><span>STEP 1 Upload your BOM file</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">2</span><span>STEP 2 Upload your PCB file</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">3</span><span>STEP 3 Submit Qrder</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">4</span><span>STEP 4 Order review</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
  <div class="wrap">
    <div class="todo">
      <label><span class="round">5</span><span>STEP 5 Payment</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
    </div>
  </div>
</div>              

        <div class="row">
            <div class="col-md-12 col-sm-12 " >
            <span class="pull-right" style="color:#999;">PCB Engineering service: <strong>(86)-0755-23573370-835&nbsp;&nbsp;&nbsp;&nbsp;</strong> E-mail: <strong><a href="mailto:#" style="color:#666;">anne@mokotechnology.com</a></strong> </span>
            </div>
        </div>


        <div class="col-md-8 col-sm-8" style="padding: 0px;margin: 0px;">
            <div class="">
       		 <h1>BOM Manager <a href="/user/bom.html" id="estimate" style="display:none;" data-original-title="" title="">
       		 	<i class="glyphicon icon-question m10"></i></a>
       		 </h1>
            </div>
            <h3>The Easy Ways to Upload Your BOM!</h3>
            <dl style="font-size: 1.2em!important;padding: 10px 0px!important;">
                <dt>What is the BOM Manager?</dt>
                <dd>BOM Manager is a tool to get stock and price information quickly and easily.</dd>
            </dl> 
            <dl style="font-size: 1.2em!important;padding: 10px 0px!important;">
                <dd style="clear:both;height:20px;"></dd>
                <dt style="margin-bottom: 20px!important;margin-top: 5px!important;">Choose one of the below options to start!</dt>
                <dd>
                    <div style="border: #ddd solid 1px;margin-bottom: 20px!important;width: 95%;margin-top: 10px!important;padding: 20px!important;">
                        <h4>1.Upload BOM from EXCEL Spreadsheet</h4>
                        <ul class="list-inline pt20 mt15">
                            <li class="w50">
                            	<a class="btn btn-danger" id="UploadButton" style="position: relative;">BROWSE
<form style="margin: 0px !important; padding: 0px !important; position: absolute; top: 0px; left: 0px;" method="POST" enctype="multipart/form-data" action="/new_bom"> 
<input name="bom[excel_file]" id="bom_excel_file" type="file" accept=".xls,.xlsx" style="display: block; overflow: hidden; width: 80px; height: 30px; text-align: right; opacity: 0; z-index: 999999; cursor: pointer;" onchange='this.form.submit()'>
</form></a>
                            </li>
                        </ul>
                        <h4>Download <a href="/themes/classic/samples/bom.csv" class="yellow-l" target="_blank">BOM Template</a></h4>
                        <p style="height:19px;">&nbsp;</p>
                    </div>
                </dd>
<!--
                <dd>
                    <div style="border: #ddd solid 1px;margin-bottom: 20px!important;width: 95%;margin-top: 10px!important;padding: 20px!important;">
                        <h4>2.Copy and Paste Your BOM</h4>
                        <h5>Copy and paste Part# and Quantity on separate lines</h5>
                        <form id="copy_form" onsubmit="return check_copy_form();">
                        <ul class="list-inline pt20 mt15">
                            <li class="w50 vertical-bottom">
                                <textarea id="copy_content" name="copy_content" class="form-control" style="height:230px;"></textarea>
                            </li>
                            <li class="vertical-bottom">
                            	<input type="hidden" name="YII_CSRF_TOKEN" value="05a7bfb349657d24ca8727d7db6d67cf61c26e9a">
                                <input type="submit" class="btn btn-red manager-btn1" value="SUBMIT">
                            </li>
                        </ul>
                        </form>
                    </div>
                </dd>
-->
                <dd>
                   
                    
                        <div class="pa20"></div>                    
                </dd>
<% if not user_signed_in? %>
                                <dd>
                    <h3><%= link_to(t('sign_up'), new_registration_path(:user),:class=>"navbar-link") %> to view your saved BOMs!</h3>
                </dd>
<% end %>
                            </dl>
        </div>
        <div class="col-md-4 col-sm-4" style="padding: 0px;margin: 0px;">
           	 <div class="bom-logined-ban" style="display:none;">
            	<a>
            	<img src="#" alt="Big Savings in FastBOM!" class="img-responsive">
            	</a>
            </div>

<% if not user_signed_in? %>
<!--
<div style="height:222px;padding:10px 30px 250px;background:#f0f0f0;">
<div>
<div style="padding: 0px;margin: 0px;">
<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
<h1>Login</h1>
   <h3><input class="form-control" autofocus="autofocus" placeholder="Email" type="email" value="" name="user[email]" id="user_email" /></h3>   

  <h3><input class="form-control" autocomplete="off" placeholder="Password" type="password" name="user[password]" id="user_password" /></h3>

   <h3>
      <input type="submit" name="commit" value="Log in" class="btn btn-primary btn-md" />
   
    <small class="pull-right"><a href="/users/password/new">Forgot your password?</a></small>
  </h3>
 
</form>
</div>
</div>  
</div>
-->                  
<% end %>                

<div style="clear:both;height:20px;"></div>
<div style="padding:15px 30px;background:#f0f0f0;text-align: left;">
            <h5 style="font-weight: bold!important;margin-bottom: 20px!important;">How to upload BOM?</h5>
            <p style="line-height: 28px!important;margin-bottom: 10px!important;">
            To import a BOM, create an Excel with your required Part# and Quantity, or just download and fill in the BOM TEMPLATE simply. Please SAVE AS a xls format.
            </p>
            </div>
            <div style="clear:both;height:20px;"></div>
<!--
            <div style="padding:15px 30px;background:#f0f0f0;text-align: left;">
            <h5 style="font-weight: bold!important;margin-bottom: 20px!important;">How to copy and paste BOM data?</h5>
             <p style="line-height: 28px!important;margin-bottom: 10px!important;">
            Copy and paste Part# and Quantity on separate lines, shown as below:
            </p>
            <p class="m10">
            <img src="#" alt="" width="260" height="200">
            </p>
            </div>
             <div style="clear:both;height:20px;"></div>
            <div style="padding:15px 30px;background:#f0f0f0;text-align: left;">
            <h5 style="font-weight: bold!important;margin-bottom: 20px!important;">How to create a BOM by adding one by one?</h5>
             <p style="line-height: 28px!important;margin-bottom: 10px!important;">
           Type Part# and Quantity in the input text area, and submit your BOM data.
            </p>
            <p class="m10">
            <img src="#" alt="">
            </p>
            </div>
-->           
        </div>
    </div>
</div>
