<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
<div class="container" >
<div class="row ">

	<div class="col-md-2"></div>

	<div class=" col-md-8 form-group panel panel-info">
		<%= form_for @bom, html: { multipart: true } do |f| %>
			<label><h2><%= t(:up_excel) %></h2></label>
		    <%= f.file_field :excel_file, class: "btn btn-default" %>
		    <br/>
		    <%= f.submit t(:upload), class: "btn btn-primary" %>
		<% end %>

	</div>
        <div class="col-md-2"></div>
</div>
    





<div class="col-md-2"></div>
</div>
<br><br>

<div class="row panel panel-info">
  <div class="col-md-12" style="background-color: #e0e0e0;">
    <div class="col-md-12">
      <p><h4>Real-time electronic components price query<h4></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>MPN</th>
            <th>Description</th>
            <th>Price(USD)</th>
          </tr>
        </thead>
        <tbody>
          <% @mpn_show.each_with_index do |item,index| %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= link_to item.mpn,  {action: "mpn_item", mpn: item.mpn} %></td>
              <td><%= item.description %></td>
              <td><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
         
</div>
</div>
