<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">收款信息</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th>收款通知单</th>
        <th>提交时间</th>
        <th>收款单</th>
        <th>实收时间</th>
        <th>本次收款金额</th>
      </tr>
      </thead>
      <tbody>
      <% pi.payment_notice_infos.each do |pay| %>
      <tr>
        <td><%= pay.id %></td>
        <td><%= pay.send_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= pay.finance_voucher_info&.id %></td>
        <td><%= pay.finance_voucher_info&.finance_at&.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= pay.pay_p %><% pi.money_type %></td>
      </tr>
      <% end %>
      <% if pi.payment_notice_infos.empty? %>
      <tr><td colspan="5" class="text-center">暂无收款信息</td></tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <p class="text-right"><span>当前欠费：</span><%= pi.current_arrears %></p>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>