<div class="pi_infos_list erp-box">
  <%= render 'common/pi_info/finance_sec_nav' %>
  <div class="list-body">
    <%= form_for erp_pi_infos_path, method: :get, enforce_utf8: false,
                 html: {class: 'search_div', id: 'search_pi_info'} do |f| %>
        <select name="search_type" v-model="search_type">
          <option value="pi">按PI号查询</option>
          <option value="yw">按业务员姓名查询</option>
          <option value="cos">按客户名称查询</option>
        </select>
        <input name="search_name" type="text" v-model="search_name">
        <button class="search_button">搜索</button>
    <% end %>
    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th>序号</th>
        <th>状态</th>
        <th>PI NO.</th>
        <th>业务</th>
        <th>部门</th>
        <th>提交时间</th>
        <th>交货日期</th>
        <th>客户代码</th>
        <th>数量</th>
        <th>金额(元)</th>
        <th>备注</th>
        <th>操作区</th>
      </tr>
      </thead>
      <tbody>
      <% @pi_lists.each_with_index do |pi, index| %>
          <tr>
            <td><%= index*params[:page].to_i+1 %></td>
            <td><%= pi.check?? '待审核' : '已审核' %></td>
            <td><a href="<%= erp_pi_info_path pi %>"><%= pi.pi_no %></a></td>
            <td><%= pi.user.full_name %></td>
            <td><%= pi.user.team %></td>
            <td><%= pi.sell_tijiao_at&.strftime '%Y-%m-%d %H:%M:%S' %></td>
            <td><%= pi.jiao_huo_at&.strftime '%Y-%m-%d %H:%M:%S' %></td>
            <td><%= pi.pcb_customer.c_no %></td>
            <td><%= pi.qty %></td>
            <td><%= pi.t_p_rmb %></td>
            <td><%= pi.remark %></td>
            <td>
              <% if pi.check? %>
                  <a href="<%= erp_pi_info_path pi %>">审核</a>
                  <a style="margin-left: 15px;">进度跟踪</a>
              <% else %>
                  <%= link_to '关闭', finance_set_hide_erp_pi_info_path(pi),
                              method: 'put', data: {confirm: "确定关闭此PI信息?"} %>
                  <a style="margin-left: 15px;">进度跟踪</a>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @pi_lists %>
  </div>
</div>
<script>
  new Vue({
    el: '#search_pi_info',
    data: {
      search_type: '<%= @search_type %>',
      search_name: '<%= @search_name %>',
    }
  })
</script>