<div class="erp-box pi_infos_list">
  <div class="sec_nav">
    <ol class="breadcrumb">
      <li><a href="<%= erp_pi_infos_path %>">PI单列表</a></li>
      <li><%= @pi.check? ? '审核订单' : '订单详情' %></li>
    </ol>
    <% if @pi.check? %>
        <%= link_to '驳回', finance_uncheck_erp_pi_info_path(@pi), method: :put,
                    type: 'button', class: 'btn btn-warning btn-sm active-button',
                    data: {confirm: "确定驳回审核?"} %>
        <%= link_to '审核', finance_check_erp_pi_info_path(@pi), method: :put,
                    type: 'button', class: 'btn btn-info btn-sm active-button',
                    data: {confirm: "确定通过审核?"} %>
    <% end %>
  </div>
  <div class="erp-body ">
    <!--基本信息-->
    <%= render 'common/pi_info/base_info', pi: @pi %>
    <!--结算信息-->
    <%= render 'common/pi_info/settlement_info', pi: @pi %>
    <!--收款信息-->
    <%= render 'common/pi_info/receivables_info', pi: @pi %>
    <!--bom信息-->
    <%= render 'common/pi_info/bom_info', pi: @pi, bom: @bom %>
    <!--其它信息-->
    <%= render 'common/pi_info/other_info', pi: @pi %>
  </div>
</div>