<div class="container-fluid" >
<div class="row erpheader" style="z-index:500;top: 0;position: fixed;right: 0;left: 0;padding: 10px 20px 0px;margin: 0px;background-color: #003366;">

    <p style="color: #FFFFFF;font-size: 16px;">华创恒达ERP系统</p>
    <p class="pull-right" style="top: 15px;position: fixed;right: 5px;color: #FFFFFF;font-size: 20px;"><span class="glyphicon glyphicon-user"></span>
         <% if user_signed_in? %>
           <% if not current_user.full_name.blank?%>
               <%= link_to(current_user.full_name, user_info_edit_path,:class=>"erpheader") %>
           <% else %>
               <%= link_to(current_user.email, user_info_edit_path,:class=>"erpheader") %>
           <% end %>
               <%= link_to("[退出]", destroy_user_session_path, :method => :delete,:class=>"erpheader") %>           
        <% else %>
            <%= link_to(t('login'), new_session_path(:user),:class=>"erpheader") %>
            <%= link_to(t('sign_up'), new_registration_path(:user),:class=>"erpheader") %>       
        <% end %>
    </p>

    <ul class="erpbtn nav nav-tabs" style="border-bottom: solid 0px #114F8E;">
        <% if selected == "my_work" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="/erp_index" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">我的工作台</a>
            
        <% else %>
            <li role="presentation"  style="margin-bottom: 0px;">
                <a href="/erp_index" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">我的工作台</a>
            </li>
        <% end %> 
        <% if selected == "work_flow" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="/work_flow" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">Work Flow</a>
            
        <% else %>
            <li role="presentation"  style="margin-bottom: 0px;">
                <a href="/work_flow" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">Work Flow</a>
            </li>
        <% end %>
        <% if selected == "part_mag" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="#" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">物料管理</a>
            </li>
        <% else %>
            <li role="presentation" style="margin-bottom: 0px;">
                <a href="#" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">物料管理</a>
            </li>
        <% end %>
        <% if selected == "caigou_shenqing" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="/pmc_new" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">采购申请</a>
            </li>
        <% else %>
            <li role="presentation" style="margin-bottom: 0px;"><a href="/pmc_new" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">采购申请</a></li>
        <% end %>
        <% if selected == "pi_waitfor_buy" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="/pi_waitfor_buy" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">采购订单</a>
            </li>
        <% else %>
            <li role="presentation" style="margin-bottom: 0px;"><a href="/pi_waitfor_buy" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">采购订单</a></li>
        <% end %>
        <% if selected == "wh_query" %>
            <li role="presentation" class="selectActive" style="margin-bottom: 0px;">
                <a href="/wh_query" style="color: #000000;font-size: 16px;border: 0px;padding: 10px;margin-bottom: 0px;">库存管理</a>
            </li>
        <% else %>
            <li role="presentation" style="margin-bottom: 0px;">
                <a href="/wh_query" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">库存管理</a>
            </li>
        <% end %>
        <li role="presentation" style="margin-bottom: 0px;"><a href="#" style="padding: 10px;margin-bottom: 0px;color: #FFFFFF;font-size: 16px;border: 0px;border-radius: 0px 0px 0 0;">消息池</a></li>
    </ul>
</div>

</div>

