
<div class="row" style="padding-bottom: 5px;padding-right: 8px;padding-left: 8px;">
   
    <% if user_signed_in? %>
        <% if (can? :work_b, :all) or (can? :work_a, :all) %>
    <div class="col-md-2" >        
        <%= link_to "查询未填写交期的订单",  {action: "index", empty_date: "show_empty"},class: "btn btn-danger btn-sm" %>            
    </div>
        <% end %>
    <% end %>

    <%= form_tag('/work_flow', method:"get", class:"form-inline") do %>
       <div class="col-md-4 form-group ">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group input-group-sm"> 
            <span class="input-group-addon"> 
                <%= radio_button :order_s, :order_s, '1'  , :checked => @order_check_1 %>
                <%=  '全部' %>
                <%= radio_button :order_s, :order_s, '2' , :checked => @order_check_2 %> 
                <%= '已结单' %>
                <%= radio_button :order_s, :order_s, '3', :checked => @order_check_3 %>
                <%=  '未结单' %>
            </span>   
            <%= text_field_tag :order, params[:order], class:"form-control input-lg", size:"100%",  placeholder:"单号"%>          
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>
      <% end %>
</div>

<div class="row" style="padding-top: 7px;padding-right: 8px;padding-left: 8px;">
    <div class="col-md-6" >
    <div class="collapse" id="collapseExampledow">
        <div class="well">
                <%= form_tag('/up_work', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>下单日期 单号 数量 业务交期 产品代码</code></p>
                    <p>
                        <%= text_area_tag :order_info, params[:order_info], size:"130x10", class:"form-control"%>
                    </p>
                </div> 
                <div >
                    <%= submit_tag "提交订单", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="upWarehouse">
        <div class="well">
                <%= form_tag('/up_warehouse', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号  入库数量 </code></p>
                    <p>
                        <%= text_area_tag :warehouse_info, params[:warehouse_info], size:"130x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "更新", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    </div>
</div>




<% if @work_flow %>
<%= will_paginate(@work_flow) %>
<% if user_signed_in? %>
        <% if can? :work_b, :all %>
<div class="row " style="padding-top: 1px;padding-right: 8px;padding-left: 8px;">
    <div class="col-lg-12 " style="margin: 0px;padding: 0px;" >
        
        <div class="panel" style="margin: 2px;padding: 0px;"> 
        <table class="table table-bordered table-condensed table-hover" >
            <thead>
                <tr>
                    <th class="bg-primary">操作</th>
                    <th class="bg-primary">单号</th>
                    <th class="bg-primary">数量</th>
                    <th class="bg-primary">业务交期</th>
                    <th class="bg-primary">产品代码</th>
                    
                    <th class="bg-primary">入库数量</th>
                   
                    <th class="bg-primary">贴片通知生产</th>
                    <th class="bg-info"><%= link_to "贴片交期",  {action: "index", sort_date: "smd"} %></th>
                    <th class="bg-info">贴片完成状态</th>
                    <th class="bg-primary">后焊通知生产</th>
                    <th class="bg-info"><%= link_to "后焊交期",  {action: "index", sort_date: "dip"} %></th>
                    
 
                    <th class="bg-primary">补料已回</th>
                    <th class="bg-primary">补料状态</th>
                    <th class="bg-info"><%= link_to "清尾完成",  {action: "index", sort_date: "clear"} %></th>

                </tr>
            </thead>
            
            <tbody>
                <% @work_flow.each do |work| %>
                <%= form_tag('/edit_work', method:"post") do %>
                <tr>                
                    <td><%= submit_tag "提交", class:"btn btn-success btn-sm" %></td>
                    <td>
                        <%= text_field_tag :work_id, params[:work_id], class:"sr-only", size:2 , value: work.id.to_s %>
                        <%= work.order_no %>
                    </td>
                    <td><%= work.order_quantity %></td>
                    <td><%= work.salesman_end_date %></td> 
                    <td><%= work.product_code %></td>                 
                    <td><%= work.warehouse_quantity %></td>
                    
                    <td><%= work.smd_start_date %></td> 
                    <td>
                        <%= text_field_tag :smd_end_date, params[:smd_end_date], id: work.id.to_s+"smd_end_date",class:"form-control input-sm",value:work.smd_end_date , size:"8"%>                                      
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"smd_end_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    <td>
                        <%= text_field_tag :smd_state, params[:smd_state], id: work.id.to_s+"smd_state",class:"form-control input-sm",value:work.smd_state , size:"5" %>
                    </td>
                    <td><%= work.dip_start_date %></td> 
                    <td>
                        <%= text_field_tag :dip_end_date, params[:dip_end_date], id: work.id.to_s+"dip_end_date",class:"form-control input-sm",value:work.dip_end_date , size:"8"%>                                       
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"dip_end_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    <td><%= work.supplement_date %></td>
                    <td><%= work.feed_state %></td>
                    <td>
                        <%= text_field_tag :clear_date, params[:clear_date], id: work.id.to_s+"clear_date",class:"form-control input-sm",value:work.clear_date , size:"8" %>
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"clear_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td>
                     
                </tr>
                <% end %>
                <% end %>
            </tbody>
            
        </table>
        </div>
        
        
   
    </div>
</div>

        <% end %>
        <% end %>

<% end %>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

