<div class="container-fluid" >
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "wh"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>

            <div class="row "><div class="col-md-12">
                
                <div class="panel panel-info">
                        <div class="panel-heading"><strong>入库单信息:</strong></div>
                        <div class="panel-body ">                     
                            <div class="col-md-2"><p><strong>入库单号. : </strong><ins id="p_wh_show" name="p_wh_show"><%= @wh_info.pi_wh_no.to_s %></ins></p>
                                <input type="text" class="form-control sr-only" id="p_pi" name="p_wh" value="<%= @wh_info.pi_wh_no %>">
                            </div>
                            <div class="col-md-2"><p><strong>日期 : </strong><ins id="p_riqi_show" name="p_riqi_show"></ins></p>
                                <input type="text" class="form-control sr-only" id="p_riqi" name="p_riqi" >
                            </div>   
                        </div>
                    </div>
            </div></div>


            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>等待入库物料列表</strong> 
                <% if can? :work_e, :all and @wh_info.state == "new"%>
                    <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#find_c" style="margin-right: 5px;" >选择入库物料</button>
                <% end %>
                </div>
<!--
                <div class="panel-body ">  


                 
                    <div class="row ">
                        <div class="col-md-1">供应商代码：<ins id="dn_show" name="dn_show"><%= @wh_info.dn.to_s %></ins><input type="text" class="input-sm sr-only" style="width:65%" id="dn" name="dn" readonly></div>
                        <div class="col-md-3">供应商：<ins id="dn_long_show" name="dn_long_show"><%= @wh_info.dn_long.to_s %></ins><input type="text" class="input-sm sr-only" style="width:80%" id="dn_long" name="dn_long" readonly></div>                        
                    </div>

                </div>
-->
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #eeeeee">
                            <th width="250">供应商</th>
                            <th width="120">采购单号</th>
                            <th width="120">PI订单号</th>
                            <th width="120">物料编码</th>
                            <th >物料描述</th>
                            <th width="100">入库数量</th>
                            <th width="50">操作</th>
                        </tr>
                    </thead>
                    <tbody id="wh_wait">
                        <% if @wh_item %>
                        <% @wh_item.each do |wh_item| %>
                        <tr>
                            <td><%= PiBuyInfo.find_by_id(wh_item.pi_buy_info_id).dn_long %></td>
                            <td><%= PiBuyInfo.find_by_id(wh_item.pi_buy_info_id).pi_buy_no %></td>
                            <td><%= wh_item.erp_no %></td>
                            <td><%= wh_item.moko_part %></td>
                            <td><%= wh_item.moko_des %></td>
                            <td><%= wh_item.qty_in %></td>
                            <td>
                                <a class="glyphicon glyphicon-remove" href="/del_wh_item?del_wh_item_id=<%= wh_item.id %>" data-confirm="确定要删除?"></a>               
                            </td>
                        </tr>
                        <% end %>
                        <% end %> 
                     
                    </tbody>
                </table>   
            </div>
            </div></div>



            <div class="row "><div class="col-md-12">   
                <div class="modal-footer">
                    <%= form_tag('/wh_draft', method:"post") do %>
                        <input type="text" class="form-control sr-only" id="wh_no" name="wh_no" value="<%= @wh_info.pi_wh_no %>">
                        
                    <% if can? :work_wh, :all and (@wh_info.state == "new" or @wh_info.state == "fail")%>
                        <%= submit_tag "提交审批", class:"btn btn-info" ,data:{confirm: "确定要提交给XXX审批?"} %>
                    <% elsif can? :work_wh, :all and @wh_info.state == "checking"%>
                        <%= submit_tag "PASS", class:"btn btn-success" ,data:{confirm: "确定要提交给XXX审批?"} %>  
                        <%= submit_tag "FAIL", class:"btn btn-danger" ,data:{confirm: "确定要提交给XXX审批?"} %> 
                    <% elsif can? :work_wh, :all and @wh_info.state == "checked"%>
                        <%= submit_tag "入库", class:"btn btn-primary" ,data:{confirm: "确定要入库?"} %>  
                    <% end %>
                    <% end %>
                </div>
            </div></div>


       
       </small></div>
    </div>



<div class="modal fade" id="find_c" tabindex="-1" role="dialog" aria-labelledby="find_cLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 1200px"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="find_cLabel"><strong>选择入库物料</strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_w_wh', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="pi_wh_no" class="control-label">入库单号:</label>
                        <input type="text" class="form-control" id="pi_wh_no" name="pi_wh_no" value="<%= @wh_info.pi_wh_no %>">
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label sr-only"><strong>供应商: </strong></lable>
                        <div class="input-group input-group-sm">              
                            
                            <input id="dn_code" autocomplete="off" name="dn_code" type="text" class="form-control input-sm" data-provide="typeahead" data-items="200" data-source="<%= raw @all_dn %>" placeholder="供应商全称" size="60" value="<%= params[:dn_code] %>">              
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label sr-only"><strong>采购单号: </strong></lable>
                        <div class="input-group input-group-sm">              
                            
                            <input id="pi_buy_no"  name="pi_buy_no" type="text" class="form-control input-sm" placeholder="采购单号" size="60" value="<%= params[:pi_buy_no]%>">              
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                            </div>
                        </div>
                    </div>
                <% end %>             
                </div> 
                <br>
                <div class="form-group" id="w_part">
                

                </div>
            </div>
        </div></small>
    </div>
</div>


























</div>

<script>

</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
