<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "factory_in_manual"} %>
        </div>
        <div class="col-md-11" >
            <div class="row" >
                <div class="col-md-6" >
                    <h2><span class="label label-default">领料单</span></h2>
                </div>
<% if @ling_liao_data.ling_liao_state == "new" %>
                <div class="col-md-6" >
                    <div class="pull-right" style="padding: 15px 0px 0px 0px;">
                    <%= form_tag('/up_ling_liao_dan', method:"post") do %>
                        <input type="text" class="form-control sr-only" name="ling_liao_dan_id" value="<%= @ling_liao_data.id %>">
                        <%= submit_tag "提交申请", class:"btn btn-info" ,data:{confirm: "确定要申请领料?"} %>
                    <% end %>
                    </div>
                </div>
<% end %>

<% if @ling_liao_data.ling_liao_state == "checking" %>
                <div class="col-md-6" >
                    <div class="pull-right" style="padding: 15px 0px 0px 0px;">
                    <%= form_tag('/check_ling_liao_dan', method:"post") do %>
                        <input type="text" class="form-control sr-only" name="ling_liao_dan_id" value="<%= @ling_liao_data.id %>">
                        <%= submit_tag "审核", class:"btn btn-danger" ,data:{confirm: "确定要审核通过?"} %>
                    <% end %>
                    </div>
                </div>
<% end %>

<% if @ling_liao_data.ling_liao_state == "checked" %>
                <div class="col-md-6" >
                    <div class="pull-right" style="padding: 15px 0px 0px 0px;">
                    <h1><img src="/assets/shen_he.png" width="75" height="50"></h1>
                    </div>
                </div>
<% end %>
            </div>

            <div class="row">
                <div class="col-md-12" >

                        

      <div class="modal-header" style="padding: 0px;">
          
      </div>
      
      <div class="modal-body" >
          <div class="panel panel-default">
              <div class="panel-body" style="padding: 15px 15px 1px;">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="voucher_way" class="col-md-4 control-label">领料人:</label>
                                  <div class="col-md-8" >
                                      <p class="form-control-static" ><%= @ling_liao_data.ling_liao_user_name %></p>
                                  </div>
                              </div>
                          </div>
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="" class="col-md-4 control-label">申请日期:</label>
                                  <div class="col-md-8">
                                      <p class="form-control-static" ><%= @ling_liao_data.created_at.localtime.strftime('%Y-%m-%d') %></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col-md-4">
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="voucher_way" class="col-md-4 control-label">审核人:</label>
                                  <div class="col-md-8" >
                                      <p class="form-control-static" ><%= @ling_liao_data.checked_name %></p>
                                  </div>
                              </div>
                          </div>
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="" class="col-md-4 control-label">审核日期:</label>
                                  <div class="col-md-8">
                                      <p class="form-control-static" ><%= @ling_liao_data.checked_at.blank?? "" : @ling_liao_data.checked_at.localtime.strftime('%Y-%m-%d') %></p>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="" class="col-md-4 control-label">单据号:</label>
                                  <div class="col-md-8">
                                      <p class="form-control-static" ><%= @ling_liao_data.id %></p>
                                  </div>
                              </div>
                          </div>
                          <div class="form-horizontal">
                              <div class="form-group form-group-sm">
                                  <label for="" class="col-md-4 control-label">订单号:</label>
                                  <div class="col-md-8">
                                      <p class="form-control-static" ><%= @ling_liao_data.pcb_order_no_son %></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row "><div class="col-md-12">
<% if @ling_liao_data.ling_liao_state == "new" %>
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" data-target="#add_ling_liao_item" >添加物料</button>
<% end %>
          </div></div>
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <table class="table table-hover" >
                          <thead>
                              <tr class="active">
                                  <th >物料名称</th>
                                  <th >物料代码</th>
                                  <th width="80">申请数量</th>
                                  <th width="150">实发数量</th>    
                                  <th width="100">单价</th>
                                  <th width="100">总价</th>
                                  <th width="130">PI号</th>
                              </tr>
                          </thead>
                          <tbody> 
                          <% if not @ling_liao_item.blank? %> 
                              <% @ling_liao_item.each do |item| %>
                              <tr> 
                                  <td><%= item.moko_des %></td>
                                  <td><%= item.moko_part %></td>

                                  <td><%= item.qty %></td>


<% if @ling_liao_data.ling_liao_state == "new" %>
                                  <script type="text/javascript">
                                  $(document).ready(function(){
                                      $("#<%=item.id%>_shi_fa_show").dblclick(function(){
                                          $("#<%=item.id%>_shi_fa_show").hide();
                                          $("#<%=item.id%>_shi_fa_edit").show();
                                      });
                                  });
                                  </script>
<% end %>
                                  <td>
                                      <div id="<%=item.id%>_shi_fa_show">
                                          <%= item.f_qty %>
                                      </div>
                                      <div id="<%=item.id%>_shi_fa_edit" style="display:none;">
                                          <%= form_tag({action: :edit_ling_liao_item_qty},method:"post") do %>
                                          <input class="form-control sr-only" name="ling_liao_item_id"  type="text" value="<%=item.id%>">
                                          <div class="input-group input-group-sm">
                                        
                                              <input class="form-control" name="ling_liao_qty"  type="text" value="<%= item.f_qty %>">
                                              <span class="input-group-btn">
                                                  <button class="btn btn-link glyphicon glyphicon-ok" type="submit"></button>
                                              </span>
                                          </div>
                                          <% end %>
                                      </div>
                                  </td>


                                  <td><%= item.cost %></td>
                                  <td><%=  %></td>

                                  <td><%= PiInfo.find_by_id(item.pi_info_id).pi_no %></td>

                              </tr>
                              <% end %>
                          <% end %> 
                          </tbody>  
                      </table>
                  </div>
              </div>
          </div>
<!--
          <div class="row">
              <div class="col-md-3">
                  <div class="form-horizontal">
                      <div class="form-group form-group-sm">
                          <label class="col-md-3 control-label" for="">业务员:</label>
                          <div class="col-md-9">
                              <input class="form-control" type="text" value="" disabled>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-horizontal">
                      <div class="form-group form-group-sm">
                          <label class="col-md-3 control-label" for="">审核人:</label>
                          <div class="col-md-9">
                              <input class="form-control"  type="text" value="<%=current_user.full_name%>" disabled>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary" onclick="return postform()" >保存</button>
      </div>
-->

     






                </div>
            </div>
        </div>
    </div>











<div class="modal fade" id="add_ling_liao_item" tabindex="-1" role="dialog" aria-labelledby="add_ling_liao_item_Label">
    <div class="modal-dialog modal-lg" role="document" style="width: 1200px"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add_ling_liao_item_Label"><strong>选择物料</strong></h4>
            </div>
      
            <div class="modal-body">

                <div class="form-inline">
                <%= form_tag('/find_fu_kuan_item', method:"post", class:"form-inline",remote: true) do %>
                    <div class="row" style="padding-bottom: 10px;">
                        
               
                        <div class="col-md-3" >
                            <lable for="order"  class="control-label sr-only"><strong>信息: </strong></lable>
                            <div class="input-group input-group-sm">
                                <input class="control-label sr-only" name="supplier_list_id" value="<%= @ling_liao_data.id %>">
                                <%= text_field_tag :supplier_code, params[:supplier_code], class:"form-control", size:"40", placeholder:"MOKO PART"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>             
                </div>     


   
                <%= form_tag('/add_ling_liao_dan_item', method:"post") do %>
                <%= text_field_tag :ling_liao_dan_id, params[:ling_liao_dan_id], class:"sr-only", value:@ling_liao_data.id %>
                <div >
                        <input style="margin-right: 5px;" type="button" value="全选" class="btn btn-xs btn-success pull-left" id="selectAll">     
                        <input style="margin-right: 5px;" type="button" value="取消全选" class="btn btn-xs btn-warning pull-left" id="unSelect">     
                        <input type="button" value="反选" class="btn btn-xs btn-info pull-left" id="reverse">
                        <button type="submit" class="btn btn-danger sr-only " >提交</button>
                        <%= submit_tag "提交", class:"btn btn-danger pull-right",style:"margin-bottom: 5px;" %>
                <div>

                <div class="form-group" id="table_buy">
                    
                    <table class="table table-hover">
                    <thead>
                    <tr style="background-color: #eeeeee">

                    <th width="20"></th>
                    <th>订单单号</th>
                    <th>物料编码</th>
                    <th>物料描述</th>
                    <th>数量</th>


                    </tr>
                    </thead>
                    <tbody id="ling_liao_item">
                    <% if not @ling_liao_pmc.blank? %>
                        <% @ling_liao_pmc.each do |item| %>
                                <tr>
                                <td><input class="chk_all" type="checkbox" value="<%= item.id.to_s %>" name="roles[]" id="roles_" checked></td>
                                <td><%= item.erp_no_son %></td>
                                <td><%= item.moko_part %></td>
                                <td><%= item.moko_des %></td>
                                <td><%= item.qty %></td>
                                </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                    </table>

                </div>
                
                <% end %>
            </div>
        </div></small>
    </div>
</div>



















</div>
</small>



<script type="text/javascript">
$("#selectAll").click(function () {   
        $(".chk_all").each(function () {     
            $(this).prop('checked', true);//  
  
        });   
    });   
      
    $("#unSelect").click(function () {     
           $(".chk_all").removeAttr("checked");    
        });   
      
    $("#reverse").click(function () {    
        $(".chk_all").each(function () {     
            this.checked = !this.checked;    
        });   
    });

</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
