<div class="container-fluid" >
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "pcb_draft_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>
        
            <div class="row "><div class="col-md-12">                
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>询价基本信息:</strong></div>
                    <div class="panel-body ">  
                   
                        <div class="col-md-2"><p><strong>询价单号 : </strong><ins id="p_no_show" name="p_no_show"><%= @q_order.order_no %></ins></p>
                        </div>
<!--
                        <div class="col-md-4 form-inline"><strong>项目名称 : </strong><input type="text" class="form-control input-sm" style="width:75%" id="p_name" name="p_name" value="<%= @q_order.p_name %>">
                        </div>
-->
                        <div class="col-md-2 form-inline"><strong>日期 : </strong><ins id="p_riqi_show" name="p_riqi_show"><%= Time.new.strftime("%Y-%m-%d")%></ins>
                                <input type="text" class="form-control sr-only" id="p_riqi" name="p_riqi" >
                        </div> 
                        <div class="col-md-2 form-inline"><strong>交货日期 : </strong><ins></ins>
                                <input type="text" class="form-control sr-only" id="p_pi1" name="p_pi1" >
                        </div>
                        <div class="col-md-1 form-inline"><strong>美金汇率 : </strong><ins></ins>
                                <input type="text" class="form-control sr-only" id="p_pi2" name="p_pi2" >
                        </div>  
                        <div class="col-md-1 form-inline"><strong>修改次数 : </strong><ins></ins>
                                <input type="text" class="form-control sr-only" id="p_pi3" name="p_pi3" >
                        </div>  
                    </div>
                </div>
            </div></div>



            <div class="row "><div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>业务员信息</strong></div>
                    <div class="panel-body ">                     
                        <div class="row ">
                            <div class="col-md-2"><strong>制单人：</strong><ins id="zhidanren_show" name="zhidanren_show"><%= User.find_by(email: @q_order.order_sell).full_name %></ins></div> 
                            <div class="col-md-2"><strong>部门：</strong><ins id="bumen_show" name="bumen_show"><%= @q_order.team %></ins></div> 
                            <div class="col-md-2"><strong>制单人电话：</strong><ins id="lianxifangshi_show" name="lianxifangshi_show"><%= @q_order.phone %></ins></div> 
                        </div>
                    </div>
                </div>
            </div></div>


            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>客户信息</strong> 
                <% if can? :work_e, :all and @q_order.state == "new"%>
                <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#find_c" style="margin-right: 5px;" >选择客户</button>
                <% end %>
                </div>
                <div class="panel-body ">                     
                    <div class="row ">
                        <div class="col-md-2"><strong>客户代码：</strong><ins id="daima_show" name="daima_show"><%= @q_order.c_code %></ins><input type="text" class="input-sm sr-only" style="width:65%" id="daima" name="daima" readonly></div>
                        <div class="col-md-4"><strong>客户信息：</strong><ins id="kehu_show" name="kehu_show"><%= @q_order.c_des %></ins><input type="text" class="input-sm sr-only" style="width:80%" id="kehu" name="kehu" readonly></div> 
                         <div class="col-md-2"><strong>国家：</strong><ins id="guojia_show" name="guojia_show"><%= @q_order.c_country %></ins><input type="text" class="input-sm sr-only" style="width:80%" id="guojia" name="guojia" readonly></div>   
                        
                    </div>
                    <div class="row " style="padding-top: 10px;">
                         <div class="col-md-12"><strong>客户收货地址和电话：</strong><ins id="fahuodizhi_show" name="fahuodizhi_show"><%= @q_order.c_shipping_address %></ins><input type="text" class="input-sm sr-only" style="width:90%" id="fahuodizhi" name="fahuodizhi" readonly></div> 
  
                    </div>
                </div>
            </div>

            </div></div>






<% if params[:c_id] and can? :work_e, :all and @q_order.state == "new"%>
            <div class="row "><div class="col-md-12">
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addsellitem" >添加询价信息</button>
            </div></div>
<% end %>



            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">                
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #eeeeee">
                            <th width="60">操作</th>                           
                            <th width="70">数量</th>
                            <th >PI英文描述</th>
                            <th >中文描述</th>
                            <th width="50">附件</th>
                            <th >备注</th>
                            <th width="40">删除</th>
                        </tr>
                    </thead>
                    <tbody id="biaoge">
                        <% if @q_order_sell_item %>
                        <% @q_order_sell_item.each do |q_item_sell| %>
                        <tr>
                            
                            <td>
                            <% if can? :work_e, :all and @q_order.state == "new"%>
                                <a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#editsellitem" data-edit_c_item_id="<%= q_item_sell.id %>"   data-edit_des_en="<%= q_item_sell.des_en %>" data-edit_des_cn="<%= q_item_sell.des_cn %>" data-edit_qty="<%= q_item_sell.qty %>" data-edit_follow_remark="<%= q_item_sell.remark %>"></a>
                            <% end %>
                            <% if can? :work_d, :all or can? :work_admin, :all %>
                                <a rel="nofollow" data-method="get" href="/copy_order_item?id=<%= q_item_sell.id.to_s %>">复制</a>

                            <% end %>
                            </td>
                            
                            <td><%= q_item_sell.qty %></td>
                            <td><%= q_item_sell.des_en %></td>
                            <td><%= q_item_sell.des_cn %></td>
                            <td>
                                <% if not q_item_sell.att.blank? %>                 
                                    <a class="btn btn-info btn-xs" href="<%= q_item_sell.att %>" target="_blank">下载</a>
                                <% end %>
                            </td>
                            <td><%= q_item_sell.remark %></td>
                            <% if can? :work_e, :all and @q_order.state == "new"%>
                                <td><a class="glyphicon glyphicon-remove" href="/del_pcb_order_sell_item?id=<%= q_item_sell.id %>" data-confirm="确定要删除?"></a></td>
                            <% else %>
                                <td></td>
                            <% end %>
                        </tr>
                        <% end %>
                        <% end %>
                    </tbody>
                </table>             
            </div>
            </div></div>







<% if can? :work_d, :all  or can? :work_g, :all %>
<% if params[:c_id]%>
            <div class="row "><div class="col-md-12">
<!--
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#additem" >添加询价物料</button>
-->
            </div></div>
<% end %>



            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">                
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #eeeeee">
                            <th width="60">操作</th>
                            <th width="130">单号</th>
                            <th width="150">物料编码</th>
                            <th >物料名称</th>
                            <th width="70">数量</th>
                            <th >英文描述</th>
                            <th >中文描述</th>
                            <th width="100">类别</th>
                            <th width="100">总价</th>
                            <th width="100">单价</th>
                            <th width="50">附件</th>
                            <th >备注</th>
                            <th width="70"></th>
                            <th width="40"></th>
                            <th width="70"></th>
                            <th width="40">删除</th>
                        </tr>
                    </thead>
                    <small>
                    <tbody id="biaoge">
                        <% if @q_order_item %>
                        <% @q_order_item.each do |q_item| %>
                        <tr>
                            <td>
                                <a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edititem" data-edit_c_item_id="<%= q_item.id %>"  data-edit_moko_code="<%= q_item.moko_code %>" data-edit_moko_des="<%= q_item.moko_des %>" data-edit_p_type="<%= q_item.p_type %>" data-edit_des_en="<%= q_item.des_en %>" data-edit_des_cn="<%= q_item.des_cn %>" data-edit_qty="<%= q_item.qty %>" data-edit_follow_remark="<%= q_item.remark %>"></a>
                                <a class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#addmoko"  data-itemaddid="<%= q_item.id %>" id="<%= q_item.id.to_s + '_mpn' %>"></a>
                            </td>
<!--
                            <td><%= q_item.moko_code %></td>
                            <td><%= q_item.moko_des %></td>
-->
                            <td><%= q_item.pcb_order_no_son %></td>
                        <%= form_tag({action: :bom_edit_order_item},method:"post",multipart:"ture") do %>  
                            <td><input class="sr-only" id="bom_edit_id" name="bom_edit_id" value="<%= q_item.id %>"><input id="bom_edit_moko_code" name="bom_edit_moko_code" value="<%= q_item.moko_code %>"></td>
                            <td><input id="bom_edit_moko_des" name="bom_edit_moko_des" value="<%= q_item.moko_des %>"><button type="submit" class="btn btn-link btn-sm glyphicon glyphicon-ok " ></button></td>
                        <% end %>
                            <td><%= q_item.qty %></td>
                            <td><%= q_item.des_en %></td>
                            <td><%= q_item.des_cn %></td>
                            <% if q_item.bom_id.blank? %>
                                <td>
                                    <% if q_item.p_type == "COMPONENTS" %>
                                        <%= link_to "元器件", p_viewbom_path(bak: "bak",bom_id: q_item.bom_id) %>
                                    <% else %>
                                        <%= q_item.p_type %>
                                    <% end %>
                                </td>
                            <% else %>
                                <% if q_item.p_type == "COMPONENTS" %>
                                    <td><%= link_to "元器件", p_viewbom_path(bak: "bak",bom_id: q_item.bom_id) %></td>
                                <% elsif q_item.p_type == "PCBA" %>
                                    <td><%= link_to "BOM", p_viewbom_path(bak: "bak",bom_id: q_item.bom_id) %></td>
                                <% else %>
                                    <td><%= q_item.p_type %></td>
                                <% end %>
                            <% end %>
                            <td><%= q_item.t_p %></td>
                            <td><%= q_item.price %></td>
                            <td>
                                <% if not q_item.att.blank? %>                 
                                    <a class="btn btn-info btn-xs" href="<%= q_item.att %>" target="_blank">下载</a>
                                <% end %>
                            </td>
                            <td><%= q_item.remark %></td>
                            <td>   
                                <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#linkbommoko" data-find_linkbom_id="<%= q_item.id %>">关联匹配</a>
                            </td>
                            <td>   
                                <a class="btn btn-danger btn-xs" href="/procurement_new?erp_item_id=<%= q_item.id.to_s %>&erp_no=<%= @q_order.order_no %>&erp_no_son=<%= q_item.pcb_order_no_son %>&erp_qty=<%= q_item.qty %>">上传</a>
                            </td>
                            <td>   
                                <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#linkbom" data-find_linkbom_id="<%= q_item.id %>">关联匹配</a>
                            </td>
                            <td><a class="glyphicon glyphicon-remove" href="/del_pcb_order_item?edit_c_item_id=<%= q_item.id %>" data-confirm="确定要删除?"></a></td>
                        </tr>
                        <% end %>
                        <% end %>
                    </tbody></small>
                </table>             
            </div>
            </div></div>
<% end %>






















<!--
            <div class="row ">             
                <div class="col-md-4" >
                    <div class="panel panel-info" >
                        <div class="panel-heading" ><strong>特殊备注</strong></div>                          
                        <div class="panel-body " style="margin: 0px;padding: 0px;">                     
                            <textarea rows="7" class="form-control" id="teshu_remark" name="teshu_remark"><%= @q_order.follow_remark %></textarea>
                        </div>
                    </div>
                </div> 
            </div> 
-->
         <%= form_tag('/update_pcb_order', method:"post",id:"upatt") do %>
            <div class="row "><div class="col-md-12">   
                <div class="modal-footer">                    
                    <input type="text" class="form-control sr-only" id="p_no" name="p_no" value="<%= @q_order.order_no %>">
<!--
                    <%= submit_tag "保存到草稿", class:"btn btn-success" %>
-->

                    <% if can? :work_e, :all and @q_order.state == "new"%>
                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定要提交到BOM工程师?"} %>
                    <% elsif can? :work_d, :all %>
<!--
                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定要提交到采购工程师?"} %>
-->
                    <% elsif can? :work_g, :all %>

                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定已经完成报价?"} %>

                    <% end %>

                </div>
            </div></div>
       <% end %>
       </small></div>













<div class="modal fade" id="edititem" tabindex="-1" role="dialog" aria-labelledby="edititemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="edititemLabel"><strong>修改询价物料</strong></h4>
        </div>
        
        <div class="modal-body">
<% if can? :work_g, :all %>
            <%= form_tag({action: :edit_pcb_order_item},method:"post",multipart:"ture",id: "order_form") do %>   
            <div class="form-group sr-only">         
                <label for="c_order_id" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_c_item_id" name="edit_c_item_id" >
            </div>  
            
            <div class="form-group">         
              <label for="p_name" class="control-label">物料代码:</label>
              <input type="text" class="form-control" id="edit_moko_code" name="edit_moko_code" readonly>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">物料名称:</label>
              <input type="text" class="form-control" id="edit_moko_des" name="edit_moko_des" readonly>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">类别:</label>
              <select class="form-control" id="edit_p_type" name="edit_p_type" >
                  <option value="">----请选择----</option>
                  <option value="PCB">PCB</option>
                  <option value="PCBA">PCBA</option>
                  <option value="COMPONENTS">COMPONENTS</option>
              </select>
            </div> 
            
            <div class="form-group">         
              <label for="des_en" class="control-label">英文描述:</label>
              <input type="text" class="form-control" id="edit_des_en" name="edit_des_en" readonly>
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="edit_des_cn" name="edit_des_cn" readonly>
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input  autocomplete="off" type="number" class="form-control" id="edit_qty" name="edit_qty" readonly>
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">价格￥:</label>
              <input type="text" class="form-control" id="edit_price" name="edit_price" >
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="edit_follow_remark" name="edit_follow_remark" ></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_edit()">
        </div>
        <% end %>
<% else %>
            <div class="form-inline">
             <%= form_tag('/find_moko_part', method:"get", class:"form-inline",remote: true) do %>
               <div class="form-group ">
                  <lable for="order" , class="control-label"><strong>搜索物料: </strong></lable>
                  <div class="input-group input-group-sm">              
                    <%= text_field_tag :moko_part, params[:moko_part], class:"form-control input-lg", size:"60", placeholder:"物料代码/物料名称/物料描述/"%>               
                    <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                    </div>
                  </div>
              </div>
            <% end %>             
          </div> 
          <div class="form-group" id="edit_table_moko_part">


          </div>   
            <%= form_tag({action: :edit_pcb_order_item},method:"post",multipart:"ture",id: "order_form") do %>   
            <div class="form-group sr-only">         
                <label for="c_order_id" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_c_item_id" name="edit_c_item_id">
            </div>  
            
            <div class="form-group">
              <label for="sell_manager_remark" class="control-label">附件:</label>
              <input name="edit_att" id="edit_att" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>注意：请上传压缩文件. (只允许上传 zip, rar, gz, bz2, 7z 文件)</code>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">物料代码:</label>
              <input type="text" class="form-control" id="edit_moko_code" name="edit_moko_code" <% if can? :work_e, :all %>readonly<% end %>>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">物料名称:</label>
              <input type="text" class="form-control" id="edit_moko_des" name="edit_moko_des" <% if can? :work_e, :all %>readonly<% end %>>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">类别:</label>
              <select class="form-control" id="edit_p_type" name="edit_p_type">
                  <option value="">----请选择----</option>
                  <option value="PCB">PCB</option>
                  <option value="PCBA">PCBA</option>
                  <option value="COMPONENTS">COMPONENTS</option>
              </select>
            </div> 
            
            <div class="form-group">         
              <label for="des_en" class="control-label">英文描述:</label>
              <input type="text" class="form-control" id="edit_des_en" name="edit_des_en">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="edit_des_cn" name="edit_des_cn">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input autocomplete="off" type="number" class="form-control" id="edit_qty" name="edit_qty">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="edit_follow_remark" name="edit_follow_remark"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_edit()">
        </div>
        <% end %>
<% end %>
    </div></small>
  </div>
</div>
    









<div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-labelledby="additemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editModalLabel"><strong>添加询价物料</strong></h4>
        </div>
        
        <div class="modal-body">
            <div class="form-inline">
             <%= form_tag('/find_moko_part', method:"get", class:"form-inline",remote: true) do %>
               <div class="form-group ">
                  <lable for="order" , class="control-label"><strong>搜索物料: </strong></lable>
                  <div class="input-group input-group-sm">              
                    <%= text_field_tag :moko_part, params[:moko_part], class:"form-control input-lg", size:"60", placeholder:"物料代码/物料名称/物料描述/"%>               
                    <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                    </div>
                  </div>
              </div>
            <% end %>             
          </div> 
          <div class="form-group" id="table_moko_part">


          </div>   
            <%= form_tag({action: :add_pcb_order_item},method:"post",multipart:"ture",id: "order_form") do %>   
            <div class="form-group sr-only">         
                <label for="c_order_id" class="control-label">询价id:</label>
                <input type="text" class="form-control" id="c_order_id" name="c_order_id" value="<%= @q_order.id %>">
            </div>  
            <div class="form-group sr-only">         
                <label for="c_id" class="control-label">客户id:</label>
                <input type="text" class="form-control" id="c_id" name="c_id" value="<%= params[:c_id] %>">
            </div>  
            <div class="form-group sr-only">         
                <label for="c_order_no" class="control-label">询价单号:</label>
                <input type="text" class="form-control" id="c_order_no" name="c_order_no" value="<%= @q_order.order_no %>">
            </div>  
            <div class="form-group">
              <label for="sell_manager_remark" class="control-label">附件:</label>
              <input name="att" id="att" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>注意：请上传压缩文件. (只允许上传 zip, rar, gz, bz2, 7z 文件)</code>
            </div> 

            <div class="form-group">         
              <label for="p_name" class="control-label">物料代码:</label>
              <input type="text" class="form-control" id="moko_code" name="moko_code" >
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">物料名称:</label>
              <input type="text" class="form-control" id="moko_des" name="moko_des" >
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">类别:</label>
              <select class="form-control" id="p_type" name="p_type">
                  <option value="">----请选择----</option>
                  <option value="PCB">PCB</option>
                  <option value="PCBA">PCBA</option>
                  <option value="COMPONENTS">COMPONENTS</option>
              </select>
            </div> 
            
            <div class="form-group">         
              <label for="des_en" class="control-label">英文描述:</label>
              <input type="text" class="form-control" id="des_en" name="des_en">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="des_cn" name="des_cn">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input autocomplete="off" type="number" class="form-control" id="qty" name="qty">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="follow_remark" name="follow_remark"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform()">
        </div>
        <% end %>
    </div></small>
  </div>
</div>














<div class="modal fade" id="addsellitem" tabindex="-1" role="dialog" aria-labelledby="addsellitemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editsellModalLabel"><strong>添加询价信息 </strong></h4>
        </div>
        
        <div class="modal-body">
            
            <%= form_tag({action: :add_pcb_order_sell_item},method:"post",multipart:"ture",id: "order_form") do %>   
            <div class="form-group sr-only">         
                <label for="c_order_id" class="control-label">询价id:</label>
                <input type="text" class="form-control" id="c_order_id_sell" name="c_order_id_sell" value="<%= @q_order.id %>">
            </div>  
            <div class="form-group sr-only">         
                <label for="c_id" class="control-label">客户id:</label>
                <input type="text" class="form-control" id="c_id_sell" name="c_id_sell" value="<%= params[:c_id] %>">
            </div>  
            <div class="form-group sr-only">         
                <label for="c_order_no" class="control-label">询价单号:</label>
                <input type="text" class="form-control" id="c_order_no_sell" name="c_order_no_sell" value="<%= @q_order.order_no %>">
            </div>  
            <div class="form-group">
              <label for="sell_manager_remark" class="control-label">附件:</label>
              <input name="att_sell" id="att_sell" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>注意：请上传压缩文件. (只允许上传 zip, rar, gz, bz2, 7z 文件)</code>
            </div> 
            <div class="form-group">         
              <label for="des_en" class="control-label">PI英文描述:</label>
              <input type="text" class="form-control" id="des_en_sell" name="des_en_sell">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="des_cn_sell" name="des_cn_sell">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input autocomplete="off" type="number" class="form-control" id="qty_sell" name="qty_sell">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="follow_remark_sell" name="follow_remark_sell"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_sell()">
        </div>
        <% end %>
    </div></small>
  </div>
</div>
















<div class="modal fade" id="editsellitem" tabindex="-1" role="dialog" aria-labelledby="editsellitemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editsellModalLabel"><strong>修改询价信息 </strong></h4>
        </div>
        
        <div class="modal-body">
            
            <%= form_tag({action: :edit_pcb_order_sell_item},method:"post",multipart:"ture",id: "order_form") do %>  
            <div class="form-group sr-only">         
                <label for="edit_c_item_id_sell" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_c_item_id_sell" name="edit_c_item_id_sell">
            </div> 
            
            <div class="form-group">
              <label for="sell_manager_remark" class="control-label">附件:</label>
              <input name="edit_att_sell" id="edit_att_sell" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>注意：请上传压缩文件. (只允许上传 zip, rar, gz, bz2, 7z 文件)</code>
            </div> 
            <div class="form-group">         
              <label for="des_en" class="control-label">PI英文描述:</label>
              <input type="text" class="form-control" id="edit_des_en_sell" name="edit_des_en_sell">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="edit_des_cn_sell" name="edit_des_cn_sell">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input autocomplete="off" type="number" class="form-control" id="edit_qty_sell" name="edit_qty_sell">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="edit_follow_remark_sell" name="edit_follow_remark_sell"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_edit_sell()">
        </div>
        <% end %>
    </div></small>
  </div>
</div>








<div class="modal fade" id="linkbommoko" tabindex="-1" role="dialog" aria-labelledby="linkbommokoLabel">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="linkbommokoLabel"><strong>选择要关联的<code>BOM</code></strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_linkbom_moko', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="find_linkbom_moko_id" class="control-label">询价ID:</label>
                        <input type="text" class="form-control" id="find_linkbom_moko_id" name="find_linkbom_moko_id" >
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label"><strong>单号: </strong></lable>
                        <div class="input-group input-group-sm">              
                            <%= text_field_tag :c_code_moko, params[:c_code_moko], class:"form-control input-lg", size:"60", placeholder:"单号"%>               
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                            </div>
                            
                        </div>
                    </div>
                <% end %>             
                </div> 
                <div class="form-group" id="table_linkbom_moko">


                </div>
            </div>
        </div></small>
    </div>
</div>









<div class="modal fade" id="linkbom" tabindex="-1" role="dialog" aria-labelledby="linkbomLabel">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="linkbomLabel"><strong>选择要关联的<code>匹配</code></strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_linkbom', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="find_linkbom_id" class="control-label">询价ID:</label>
                        <input type="text" class="form-control" id="find_linkbom_id" name="find_linkbom_id" >
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label"><strong>询价单号: </strong></lable>
                        <div class="input-group input-group-sm">              
                            <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"60", placeholder:"询价单号"%>               
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                            </div>
                            
                        </div>
                    </div>
                <% end %>             
                </div> 
                <div class="form-group" id="table_linkbom">


                </div>
            </div>
        </div></small>
    </div>
</div>





<div class="modal fade" id="find_c" tabindex="-1" role="dialog" aria-labelledby="find_cLabel">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="find_cLabel"><strong>选择客户</strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_c', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="c_order_no" class="control-label">询价单号:</label>
                        <input type="text" class="form-control" id="c_order_no" name="c_order_no" value="<%= @q_order.order_no %>">
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label"><strong>客户: </strong></lable>
                        <div class="input-group input-group-sm">              
                            <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"60", placeholder:"客户代码/客户名/客户公司名/客户联系方式"%>               
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                            </div>
                            
                        </div>
                    </div>
                    <a class="btn btn-success btn-sm" id="new_customer">新建客户</a>
                <% end %>             
                </div> 
                <div class="form-group" id="table_code_c">


                </div>
            </div>
        </div></small>
    </div>
</div>





<div class="modal fade" id="addmoko" tabindex="-1" role="dialog" aria-labelledby="editMpnLabel">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">ADD MOKO PART</h4>
      </div>
      <div class="modal-body">
<%= form_tag({action: :add_moko_part,controller: :procurement},method:"post", class: "form-inline") do %>
          <div class="form-group sr-only">
            <label for="item_id" class="control-label">id:</label>
            <input type="text" class="form-control" id="itemadd_id" name="item_id" >
          </div>
          <div class="form-group sr-only">
            <label for="item_tag" class="control-label">id:</label>
            <input type="text" class="form-control" id="item_tag" name="item_tag" value="edit">
          </div>
          <div class="form-inline" style="padding-bottom: 5px;"> 
              <div class="form-inline">   
              <lable for="类别" class="control-label">类别 : </lable><lable for="a" class="control-label">A.</lable><%= text_field_tag :part_a, params[:part_a], size:2  ,  class:"form-control"%>
              <lable for="b" class="control-label">.</lable><%= text_field_tag :part_b, params[:part_b], size:2 ,  class:"form-control" %>
              </div>
          </div>
          <div class="form-inline" style="padding-bottom: 5px;">  
              <div class="form-inline">
              <a id="change_s" class="" data-method="get" data-remote="true" href=""></a>
              <lable for="package2" class="control-label">封装 : </lable>
              <input id="c_code" autocomplete="off" name="c_code" type="text" class="form-control input-xs" data-provide="typeahead" data-items="200" data-source="<%= raw @all_dn %>" placeholder="物料" size="30" onchange="get_options(this.value)">   
<!--
              <% members = Product.find_by_sql("select * from products GROUP BY products.part_name").collect { |c| [c.part_name,c.part_name] }%>
              <%= select  '', :abc,members,{:include_blank => '--请选择--'}, { "onchange" => "get_options(this.value)" ,class:"form-control"}  %>
-->
              <%= select_tag "package2", "<option value=\"0\">--请选择上级--</option>",  class:"form-control"%>  
              </div>
          </div>
          <div class="form-group" id="all_attr">
          </div>      
     
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >新增物料</button>
      </div>
     <% end %>
    </div>
  </div>
</div>




<div class="modal fade" id="addcustomer" tabindex="-1" role="dialog" aria-labelledby="addcustomerLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addcustomerLabel">新建客户信息</h4>
      </div>
      <%= form_tag({action: :add_pcb_customer},method:"post",multipart:"true",id: "order_form") do %>
      <div class="modal-body">       
          <div class="form-group sr-only">         
            <label for="c_order_no" class="control-label"> 询价单号:</label>
            <input type="text" class="form-control" id="c_order_no" name="c_order_no" value="<%= @q_order.order_no %>">
          </div> 
          <div class="form-group">
            <label for="customer" class="control-label">客户名:</label>
            <input type="text" class="form-control" id="customer" name="customer">
          </div>   
          <div class="form-group">
            <label for="customer_com" class="control-label">客户公司名:</label>
            <input type="text" class="form-control" id="customer_com" name="customer_com">
          </div>       
          <div class="form-group">
            <label for="customer_country" class="control-label">国家:</label>
            <input type="text" class="form-control" id="customer_country" name="customer_country">
          </div> 
<!--      
          <div class="form-group">
            <label for="email" class="control-label">联系方式（邮箱必填)，(﻿whatsapp,line,skype,facebook，等）:</label>
            <textarea class="form-control" id="email" name="email"></textarea>
          </div> 
-->
          <div class="form-group">
            <label for="shipping_address" class="control-label">收货地址和电话:</label>
            <textarea  class="form-control" id="shipping_address" name="shipping_address"></textarea>
          </div> 
<!--
          <div class="form-group">
            <label for="sell" class="control-label">业务:</label>
            <input type="text" class="form-control" id="sell" name="sell">
          </div> 

          <div class="form-group">
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="qty" name="qty">
          </div>         

          <div class="form-group">
            <label for="sell_manager_remark" class="control-label">附件:</label>
            <input name="att" id="att" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>Note: please upload the Compressed file. (only allow you to upload the zip, rar, gz, bz2, 7z file)</code>
          </div> 
-->
          <div class="form-group">
            <label for="qty" class="control-label">备注:</label>
            <textarea  class="form-control" id="remark" name="remark"></textarea>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>
















    </div>
</div>










<script>

$('#addmoko').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var itempid = button.data('itemaddid'); 
  var modal = $(this)
  modal.find($("#itemadd_id")).val(itempid);
})


$('#linkbom').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var find_linkbom_id = button.data('find_linkbom_id'); 
  var modal = $(this)
  modal.find($("#find_linkbom_id")).val(find_linkbom_id);
})

$('#linkbommoko').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var find_linkbom_moko_id = button.data('find_linkbom_id'); 
  var modal = $(this)
  modal.find($("#find_linkbom_moko_id")).val(find_linkbom_moko_id);
})

$('#edititem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var edit_c_item_id = button.data('edit_c_item_id');
  var edit_moko_code = button.data('edit_moko_code');
  var edit_moko_des = button.data('edit_moko_des');
  var edit_p_type = button.data('edit_p_type');
  var edit_des_en = button.data('edit_des_en');
  var edit_des_cn = button.data('edit_des_cn');  
  var edit_qty = button.data('edit_qty'); 
  var edit_follow_remark = button.data('edit_follow_remark');                       
  var modal = $(this);
  modal.find($("#edit_c_item_id")).val(edit_c_item_id);
  modal.find($("#edit_moko_code")).val(edit_moko_code);
  modal.find($("#edit_moko_des")).val(edit_moko_des);
  modal.find($("#edit_p_type")).val(edit_p_type);
  modal.find($("#edit_des_en")).val(edit_des_en);
  modal.find($("#edit_des_cn")).val(edit_des_cn);
  modal.find($("#edit_qty")).val(edit_qty);
  modal.find($("#edit_follow_remark")).html(edit_follow_remark);
})

$('#editsellitem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var edit_c_item_id_sell = button.data('edit_c_item_id');
  var edit_des_en_sell = button.data('edit_des_en');
  var edit_des_cn_sell = button.data('edit_des_cn');  
  var edit_qty_sell = button.data('edit_qty'); 
  var edit_follow_remark_sell = button.data('edit_follow_remark');                       
  var modal = $(this);
  modal.find($("#edit_c_item_id_sell")).val(edit_c_item_id_sell);
  modal.find($("#edit_des_en_sell")).val(edit_des_en_sell);
  modal.find($("#edit_des_cn_sell")).val(edit_des_cn_sell);
  modal.find($("#edit_qty_sell")).val(edit_qty_sell);
  modal.find($("#edit_follow_remark_sell")).html(edit_follow_remark_sell);
})


function postform_edit() {  	         
      if ($("#edit_p_type").val() == "")
      {                    
　　    alert("请选择类别！");                    
　　    return false;                
　     }
      if ($("#edit_qty").val() == "")
      {                    
　　    alert("请填写数量！");                    
　　    return false;                
　     }  
}  

function postform_edit_sell() {  	         
      if ($("#edit_qty_sell").val() == "")
      {                    
　　    alert("请填写数量！");                    
　　    return false;                
　     }  
}  



function postform() {  	         
      if ($("#p_type").val() == "")
      {                    
　　    alert("请选择类别！");                    
　　    return false;                
　     }
      if ($("#qty").val() == "")
      {                    
　　    alert("请填写数量！");                    
　　    return false;                
　     }  
}  



function postform_sell() {  	         
      if ($("#qty_sell").val() == "")
      {                    
　　    alert("请填写数量！");                    
　　    return false;                
　     }  
}  



$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});


  function get_options(value){
    var urla='/procurement/select_with_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
    //$.ajax({
      //type: "POST",
      //url:'/procurement/select_with_ajax?id='+value,
      //data:'text',
      //data:'<%= @options %>',
      //data_a:'<%= @code_a %>',
      //data_b:'<%= @code_b %>',
      //success: function(data,data_a,data_b){
        //$("#package2").html(data);
        //$("#part_a").val(data_a);
        //$("#part_b").val(data_b);
      //}
    //}
  //)
  }

$(document).ready(function(){
  $("#new_customer").click(function(){
  $("#find_c").modal('toggle');
  $("#addcustomer").modal('toggle');
  }); 
});
</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
