<div class="container-fluid" >
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "pi_draft_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>

            <div class="row "><div class="col-md-12">
                
                <div class="panel panel-info">
                        <div class="panel-heading"><strong>PI 信息:</strong></div>
                        <div class="panel-body ">                     
                            <div class="col-md-2"><p><strong>PI NO. : </strong><ins id="p_pi_show" name="p_pi_show"><%= @pi_info.pi_no.to_s %></ins></p>
                                <input type="text" class="form-control sr-only" id="p_pi" name="p_pi" value="<%= @pi_info.pi_no %>">
                            </div>
<!--
                            <div class="col-md-4 form-inline"><p><strong>项目名称 : </strong><input type="text" class="form-control input-sm" style="width:75%" id="p_name" name="p_name" value="<%= @pi_info.p_name %>">
                            </div>
-->
                            <div class="col-md-2"><p><strong>日期 : </strong><ins id="p_riqi_show" name="p_riqi_show"></ins></p>
                                <input type="text" class="form-control sr-only" id="p_riqi" name="p_riqi" >
                            </div> 
                            <div class="col-md-2"><p><strong>交货日期 : </strong><ins></ins></p>
                                <input type="text" class="form-control sr-only" id="p_pi1" name="p_pi1" >
                            </div>
                            <div class="col-md-1"><p><strong>美金汇率 : </strong><ins></ins></p>
                                <input type="text" class="form-control sr-only" id="p_pi2" name="p_pi2" >
                            </div>  
                            <div class="col-md-1"><p><strong>修改次数 : </strong><ins></ins></p>
                                <input type="text" class="form-control sr-only" id="p_pi3" name="p_pi3" >
                            </div>  
                        </div>
                    </div>
            </div></div>



            <div class="row "><div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>业务员信息</strong>
                        <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#edit_user_info" style="margin-right: 5px;" >编辑</button>
                    </div>
                    <div class="panel-body ">                     
                        <div class="row ">
                            <div class="col-md-2"><strong>制单人：</strong><ins id="zhidanren_show" name="zhidanren_show"><%= current_user.en_name %></ins></div> 
                            <div class="col-md-2"><strong>部门：</strong><ins id="bumen_show" name="bumen_show"><%= current_user.team %></ins></div> 
                            <div class="col-md-2"><strong>Tel：</strong><ins id="lianxifangshi_show" name="lianxifangshi_show"><%= current_user.tel %></ins></div> 
                            <div class="col-md-2"><strong>Fox：</strong><ins id="lianxifangshi_show" name="lianxifangshi_show"><%= current_user.fax %></ins></div> 
                            <div class="col-md-4"><strong>Add：</strong><ins id="lianxifangshi_show" name="lianxifangshi_show"><%= current_user.add %></ins></div>
                        </div>
                    </div>
                </div>
            </div></div>


            <div class="row "><div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>收款银行</strong>
                        <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#edit_pi_bank_info" style="margin-right: 5px;" >选择银行</button>
                    </div>
                    <div class="panel-body ">                     
                        <div class="row ">
                        <% if not @bank_info.blank? %>
                            <div class="col-md-3"><strong>Account Name：</strong><ins><%=@bank_info.user_name %></ins></div> 
                            <div class="col-md-3"><strong>Account Number：</strong><ins><%=@bank_info.bank_account %></ins></div> 
                            <div class="col-md-3"><strong>Swift Code：</strong><ins><%=@bank_info.swift_code %></ins></div> 
                            <div class="col-md-3"><strong>Bank Name：</strong><ins><%=@bank_info.bank_name %></ins></div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div></div>




            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>客户信息</strong> 
                <% if can? :work_e, :all and @pi_info.state == "new"%>
                    <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#edit_c_info" style="margin-right: 5px;" >编辑</button>
                    <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#find_c" style="margin-right: 5px;" >选择客户</button>
                <% end %>
                </div>
                <div class="panel-body ">                     
                    <div class="row ">
                        <div class="col-md-1"><strong>Code：</strong><ins id="daima_show" name="daima_show"><%= @pi_info_c_c_no.to_s %></ins></div>
                        <div class="col-md-2"><strong>Customer Name：</strong><ins id="kehu_show" name="kehu_show"><%= @pi_info_c_customer.to_s %></ins></div>
                        <div class="col-md-6"><strong>Company：</strong><ins id="kehu_show" name="kehu_show"><%= @pi_info_c_customer_com.to_s %></ins></div> 
                        <div class="col-md-2"><strong>Country：</strong><ins id="guojia_show" name="guojia_show"><%= @pi_info_c_customer_country.to_s %></ins></div>
                         
                    </div>
                    <div class="row " style="padding-top: 10px;">
                         <div class="col-md-4"><strong>Tel：</strong><ins id="fahuodizhi_show" name="fahuodizhi_show"><%= @pi_info_c_tel.to_s %></ins></div>
                         <div class="col-md-4"><strong>Fax：</strong><ins id="fahuodizhi_show" name="fahuodizhi_show"><%= @pi_info_c_fax.to_s %></ins></div>
                         <div class="col-md-4"><strong>E-mail：</strong><ins id="fahuodizhi_show" name="fahuodizhi_show"><%= @pi_info_c_email.to_s %></ins></div>
                    </div>
                    <div class="row " style="padding-top: 10px;">
                         <div class="col-md-12"><strong>Add：</strong><ins id="fahuodizhi_show" name="fahuodizhi_show"><%= @pi_info_c_shipping_address.to_s %></ins></div>     
                    </div>
                </div>
            </div>
            </div></div>

            <%= render 'layouts/flash_messages' %>
<% if params[:c_id] and can? :work_e, :all and @pi_info.state == "new" %>
            <div class="row "><div class="col-md-12">
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addOrdert" >添加已询价物料</button>
                <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addsb" >添加运费/银行费/总价</button>
                <button  type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addother" >添加其它费用</button>
            </div></div>
<% end %>




            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">                
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #eeeeee">
                            <th width="40">操作</th>
                            <th width="40">删除</th>
<!--
                            <th width="150">物料编码</th>
                            <th >物料名称</th>
                            <th width="70">数量</th>
                            <th >英文描述</th>
                            <th >中文描述</th>
                            <th width="100">类别</th>
                            <th width="100">总价(报价)</th>
                            <th width="100">单价</th>
                            <th width="50">附件</th>
                            <th >备注</th>
-->
                            <th>询价单号</th>
                            <th>Customer Part No.</th>
                            <th>PCB Size(mm)</th>
                            <th width="100">Quantity(PCS)</th>
                            <th width="50">Layer</th>
                            <th>Description</th>
                            <th>PCB Price</th>
                            <th>Components Cost</th>
                            <th>PCBA</th>
                            <th>Unit Price</th>
                            <th>Total Price(USD)</th>
                            <th width="50">提交</th>
                        </tr>
                    </thead>
                    <tbody id="biaoge">
                        <% if @pi_item %>
                        <% @pi_item.each do |pi_item| %>
                        <tr>
                            <td>
                                <% if @pi_info.state == "new" %>
                                <a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edititem" data-edit_c_item_id="<%= pi_item.id %>"  data-edit_moko_code="<%= pi_item.moko_code %>" data-edit_moko_des="<%= pi_item.moko_des %>" data-edit_p_type="<%= pi_item.p_type %>" data-edit_des_en="<%= pi_item.des_en %>" data-edit_des_cn="<%= pi_item.des_cn %>"  data-edit_follow_remark="<%= pi_item.remark %>"  data-edit_price="<%= pi_item.price %>" data-edit_c_p_no="<%= pi_item.c_p_no %>" data-edit_pcb_size="<%= pi_item.pcb_size %>" data-edit_qty="<%= pi_item.qty %>" data-edit_layer="<%= pi_item.layer %>" data-edit_des="<%= pi_item.des %>" data-edit_unit_price="<%= pi_item.unit_price %>" data-edit_pcb_price="<%= pi_item.pcb_price %>" data-edit_com_cost="<%= pi_item.com_cost %>" data-edit_pcba="<%= pi_item.pcba %>" data-edit_t_p="<%= pi_item.t_p %>"  ></a>
                                <% end %>
                            </td>
                            <td>
                                <% if @pi_info.state == "new" %>
                                <a class="glyphicon glyphicon-remove" href="/del_pi_item?del_pi_item_id=<%= pi_item.id %>" data-confirm="确定要删除?"></a>               
                                <% end %>
                            </td>
<!--
                            
                            <td><%= pi_item.moko_code %></td>
                            <td><%= pi_item.moko_des %></td>
                            <td><%= pi_item.qty %></td>
                            <td><%= pi_item.des_en %></td>
                            <td><%= pi_item.des_cn %></td>
                            <td><%= pi_item.p_type %></td>
                            <td><%= pi_item.t_p %></td>
                            <td><%= pi_item.price %></td>
                            <td>
                                <% if not pi_item.att.blank? %>                 
                                    <a class="btn btn-info btn-xs" href="<%= pi_item.att %>" target="_blank">下载</a>
                                <% end %>
                            </td>
                            <td><%= pi_item.remark %></td>
-->
                            <td>
                                <% if pi_item.bom_id.blank? %>
                                    <%= PcbOrderItem.find_by_id(pi_item.order_item_id).pcb_order_no_son %>
                                <% else %>
                                    <%= link_to PcbOrderItem.find_by_id(pi_item.order_item_id).pcb_order_no_son, p_viewbom_path(bak: "bak",bom_id: pi_item.bom_id,pi_item_id: pi_item.id) %>
                                <% end %>
                            </td>
                            <td><%= pi_item.c_p_no %></td>
                            <td><%= pi_item.pcb_size %></td>
                            <td><%= pi_item.qty %></td>
                            <td><%= pi_item.layer %></td>
                            <td><%= pi_item.des %></td>
                            <td><%= pi_item.pcb_price %></td>
                            <td><%= pi_item.com_cost %></td>
                            <td><%= pi_item.pcba %></td>
                            <td><%= pi_item.unit_price %></td>
                            <td><%= pi_item.t_p %></td>
                            <td>
                            <% if pi_item.state.blank? %>
                                <a href="/pi_draft?p_pi=<%= @pi_info.id %>&p_item=<%= pi_item.id %>&commit=提交" class="btn btn-success btn-xs" data-confirm="确定要提交PI?" >提交</a>
                            <% end %>
                            </td>
                        </tr>
                        <% end %>
                        <% end %> 

                        <% if @pi_other_item %>
                        <% @pi_other_item.each do |pi_item| %>
                        <tr>
                            <td>
                                <% if @pi_info.state == "new" %>
                                <a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#editotheritem" data-edit_item_id_other="<%= pi_item.id %>" data-edit_p_type_other="<%= pi_item.p_type %>" data-edit_remark_other="<%= pi_item.remark %>" data-edit_t_p_other="<%= pi_item.t_p %>" ></a>
                                <% end %>
                            </td>
                            <td colSpan="2">其它费用种类: <%= pi_item.p_type %></td>
                            <td colSpan="6">备注: <%= pi_item.remark %></td>
                            <td>金额: <%= pi_item.t_p %></td>
                            <td colSpan="3"></td>
                            <td>
                                <% if @pi_info.state == "new" %>
                                <a class="glyphicon glyphicon-remove" href="/del_pi_other_item?del_pi_other_item_id=<%= pi_item.id %>" data-confirm="确定要删除?"></a>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                        <% end %>
                        <tr>
                            <td colSpan="12"></td>
                            <td colSpan="2"><strong>Shipping Cost: <%= @pi_info.pi_shipping_cost %></strong></td>
                        </tr>
                        <tr>
                            <td colSpan="12"></td>
                            <td colSpan="2"><strong>Bank Fee: <%= @pi_info.pi_bank_fee %></strong></td>
                        </tr>
                        <tr>
                            <td colSpan="12"></td>
                            <td colSpan="2">
                                <label for="t_p_edit" class="col-md-3 control-label bg-danger" id="t_p_label">Total:</label>
                                      <div id="t_p_show">
                                          <%= @pi_info.t_p %>
                                      </div>
                                      <div style="display:none;" id="t_p_edit">
                                      <%= form_tag({action: :edit_pi_info_t_p},method:"post") do %>
                                          <input type="text" class="form-control sr-only"  name="p_pi_id" value="<%= @pi_info.id %>">
                                          <div class="input-group input-group-sm">
                                              <input type="text" class="form-control"  name="p_pi_t_p" value="<%= @pi_info.t_p %>">
                                              <span class="input-group-btn">
                                                  <button class="btn btn-link glyphicon glyphicon-ok" type="submit"></button>
                                              </span>
                                          </div>
                                      <% end %>
                                      </div>
                            </td>
                        </tr>    
                        <tr>
                            <td colSpan="12"></td>
                            <td colSpan="2"><strong>Total RMB: <%= @pi_info.t_p_rmb %></strong></td>
                        </tr>                 
                    </tbody>
                </table>             
            </div>
            </div></div>

            <div class="row ">
<!--
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>结算</strong></div>
                        <div class="panel-body ">                     
                            <li><p>Leadtime:<ins></ins></p></li>
                            <li><p>Payment Terms:<ins></ins></p></li>
                            <li><p>Bank information:<ins></ins></p></li>
                                <ul>
                                    <li>Account Name:<ins></ins></li>
                                    <li>Account Number:<ins></ins></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="panel panel-info" >
                        <div class="panel-heading" ><strong>特殊备注</strong></div>                          
                        <div class="panel-body " style="margin: 0px;padding: 0px;">                     
                            <textarea rows="7" class="form-control" id="teshu_remark" name="teshu_remark"><%= @pi_info.follow_remark.to_s %></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                   <li><p>费用:</p></li>
                   <li><p>PI佣金:</p></li>
                   <li><p>佣金:</p></li>
                   <li><p>PI净金额:</p></li>
                </div>
-->
            </div> 
            <div class="row "><div class="col-md-12">   
                <div class="modal-footer">
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-warning btn-sm" target="_blank" href="/pi_print?id=<%= @pi_info.id %>&type=1" >打印MOKO1</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-warning btn-sm" target="_blank" href="/pi_print?id=<%= @pi_info.id %>&type=2" >打印MOKO2</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-warning btn-sm" target="_blank" href="/pi_print?id=<%= @pi_info.id %>&type=3" >打印EASTWIN1</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-warning btn-sm" target="_blank" href="/pi_print?id=<%= @pi_info.id %>&type=4" >打印EASTWIN2</a></span>
<!--                    
                    <%= submit_tag "保存到草稿", class:"btn btn-success" %>
-->
<!--
                    <%= form_tag('/pi_draft', method:"post") do %>
                        <input type="text" class="form-control sr-only" id="p_pi" name="p_pi" value="<%= @pi_info.id %>">
                        
                    <% if can? :work_e, :all and @pi_info.state == "new"%>
                        <%= submit_tag "提交", class:"btn btn-success" ,data:{confirm: "确定要提交PI?"} %>
                    <% elsif can? :work_d, :all and @pi_info.bom_state == nil %>
                        <%= submit_tag "提交", class: "btn btn-success",data:{confirm: "确定审核通过?"} %>
                    <% elsif can? :work_finance, :all and @pi_info.finance_state == nil %>
                        <%= submit_tag "提交", class: "btn btn-success",data:{confirm: "确定审核通过?"} %>
                    <% end %>
                    <% if can? :work_admin, :all %>
                        <%= submit_tag "提交", class: "btn btn-success",data:{confirm: "确定审核通过?"} %>
                    <% end %>
                    <% end %>
-->
                </div>
            </div></div>
            <div class="row "><div class="col-md-12">   
                <div class="modal-footer">
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-info btn-sm" target="_blank" href="/pi_out_xlsx_moko_a?id=<%= @pi_info.id %>" >导出MOKO1</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-info btn-sm" target="_blank" href="/pi_out_xlsx_moko_b?id=<%= @pi_info.id %>" >导出MOKO2</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-info btn-sm" target="_blank" href="/pi_out_xlsx_moko_c?id=<%= @pi_info.id %>&type=3" >导出EASTWIN1</a>&nbsp;</span>
                    <span class="nav navbar-nav navbar-left"><a class="btn btn-info btn-sm" target="_blank" href="/pi_out_xlsx_moko_d?id=<%= @pi_info.id %>&type=4" >导出EASTWIN2</a></span>

                </div>
            </div></div>

       
       </small></div>
    </div>



<div class="modal fade" id="find_c" tabindex="-1" role="dialog" aria-labelledby="find_cLabel">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="find_cLabel"><strong>选择客户</strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_c_pi', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="c_order_no" class="control-label">询价单号:</label>
                        <input type="text" class="form-control" id="c_pi_no" name="c_pi_no" value="<%= @pi_info.pi_no %>">
                    </div>
                    <div class="form-group ">
                        <lable for="order" , class="control-label"><strong>客户: </strong></lable>
                        <div class="input-group input-group-sm">              
                            <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"60", placeholder:"客户代码/客户名/客户公司名/客户联系方式"%>               
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                            </div>
                        </div>
                    </div>
                <% end %>             
                </div> 
                <div class="form-group" id="table_code">


                </div>
            </div>
        </div></small>
    </div>
</div>







<div class="modal fade" id="addOrdert" tabindex="-1" role="dialog" aria-labelledby="addOrdertLabel">
  <div class="modal-dialog modal-lg" role="document">
  <small>
      <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel"><strong>添加已询价物料</strong></h4>
      </div>
      
      <div class="modal-body">  
<!--      
          <div class="form-inline">
             <%= form_tag('/find_order', method:"get", class:"form-inline",remote: true) do %>
               <div class="form-group sr-only"> 
                   <label for="pi" class="control-label">pi:</label>
                   <input type="text" class="form-control" id="pi" name="pi" value="<%= @pi_info.pi_no.to_s %>">
               </div>
               <div class="form-group ">
                  <lable for="order" , class="control-label"><strong>客户: </strong></lable>
                  <div class="input-group input-group-sm">              
                    <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"60", placeholder:"客户代码/客户名/客户公司名/客户联系方式/Order NO."%>               
                    <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                    </div>
                  </div>
              </div>
            <% end %>             
          </div> 
-->
          <div class="form-group" id="table_code">
          <% if params[:c_id]%>
              <br>
              <small>
              <table class="table table-bordered">
              <thead>
              <tr class="active">
              <th  width="120">Order NO.</th>
              <th >备注</th>
              <th>英文描述</th>
              <th>中文描述</th>
              <th width="45">操作</th>
              <tr>
              </thead>
              <tbody>
              <% #PcbOrderItem.where(c_id: params[:c_id],state: "quotechked").each do |pi_item_f| %>
              <% PcbOrderItem.find_by_sql("SELECT DISTINCT pcb_order_items.pcb_order_sell_item_id, pcb_order_sell_items.* FROM pcb_order_items INNER JOIN pcb_order_sell_items ON pcb_order_sell_items.id = pcb_order_items.pcb_order_sell_item_id WHERE pcb_order_items.state = 'quotechked' AND pcb_order_items.c_id = #{params[:c_id]} AND pcb_order_items.pi_lock = ''").each do |pi_item_f| %>
                    <tr>
                    <td><div><%= pi_item_f.pcb_order_no.to_s %></div></td>
                    <td><div><%= pi_item_f.remark.to_s %></div></td>
                    <td><div><%= pi_item_f.des_en.to_s %></div></td>
                    <td><div><%= pi_item_f.des_cn.to_s %></div></td>
                    <td><a rel="nofollow" data-method="get"  href="/find_order_check?id=<%= pi_item_f.pcb_order_id.to_s %>&pi=<%= params[:pi_no].to_s %>"><div>确认</div></a></td>
                    </tr>
              <% end %>
              </tbody>
              </table>
              </small>
          <% end %>
          </div>
      
        </div>
        </div></small>
    </div>
</div>



<div class="modal fade" id="edititem" tabindex="-1" role="dialog" aria-labelledby="edititemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="edititemLabel"><strong>修改PI物料</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :edit_pi_item},method:"post",multipart:"ture",id: "order_form") do %>   
            <div class="form-group sr-only">         
                <label for="c_order_id" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_c_item_id" name="edit_c_item_id">
            </div>   
<!--
            <div class="form-group">         
              <label for="p_name" class="control-label">物料代码:</label>
              <input type="text" class="form-control" id="edit_moko_code" name="edit_moko_code" <% if can? :work_e, :all %>readonly<% end %>>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">物料名称:</label>
              <input type="text" class="form-control" id="edit_moko_des" name="edit_moko_des" <% if can? :work_e, :all %>readonly<% end %>>
            </div> 
            <div class="form-group">         
              <label for="p_name" class="control-label">类别:</label>
              <input type="text" class="form-control" id="edit_p_type" name="edit_p_type" <% if can? :work_e, :all %>readonly<% end %>>
            </div> 
            <div class="form-group">
              <label for="edit_t_p" class="control-label">报价(美金):</label>
              <input type="text" class="form-control" id="edit_t_p" name="edit_t_p" >
            </div>
            <div class="form-group">
              <label for="edit_price" class="control-label">单价(美金):</label>
              <input type="text" class="form-control" id="edit_price" name="edit_price" >
            </div>
            <div class="form-group">         
              <label for="des_en" class="control-label">英文描述:</label>
              <input type="text" class="form-control" id="edit_des_en" name="edit_des_en">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="edit_des_cn" name="edit_des_cn">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input type="number" class="form-control" id="edit_qty" name="edit_qty">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="edit_follow_remark" name="edit_follow_remark"></textarea>
            </div>
-->
            <div class="form-group">         
              <label for="p_name" class="control-label">Customer Part No.:</label>
              <input type="text" class="form-control" id="edit_c_p_no" name="edit_c_p_no" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label">PCB Size(mm):</label>
              <input type="text" class="form-control" id="edit_pcb_size" name="edit_pcb_size" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label"><code>必填</code>Quantity(PCS):</label>
              <input type="text" class="form-control" id="edit_qty" name="edit_qty" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label">Layer:</label>
              <input type="text" class="form-control" id="edit_layer" name="edit_layer" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label">Description:</label>
              <input type="text" class="form-control" id="edit_des" name="edit_des" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label">Unit Price(<code>Unit Price = Total Price/Quantity</code>):</label>
              <input type="text" class="form-control" id="edit_unit_price" name="edit_unit_price" disabled>
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label"><code>必填</code>PCB Price(光板费):</label>
              <input type="text" class="form-control" id="edit_pcb_price" name="edit_pcb_price" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label"><code>必填</code>Components Cost(元器件费):</label>
              <input type="text" class="form-control" id="edit_com_cost" name="edit_com_cost" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label"><code>必填</code>PCBA(组装费):</label>
              <input type="text" class="form-control" id="edit_pcba" name="edit_pcba" >
            </div>
            <div class="form-group">         
              <label for="p_name" class="control-label">Total Price(USD)(<code>Total Price = PCB Price + Components Cost + PCBA</code>):</label>
              <input type="text" class="form-control" id="edit_t_p" name="edit_t_p" disabled>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_edit()">
        </div>
        <% end %>
    </div></small>
  </div>
</div>



<div class="modal fade" id="edit_user_info" tabindex="-1" role="dialog" aria-labelledby="edit_user_infoLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="edit_user_infoLabel"><strong>修改业务员信息</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :edit_user_info},method:"post") do %>    
            <div class="form-group">         
              <label for="edit_en_name" class="control-label">EN Name:</label>
              <input type="text" class="form-control" id="edit_en_name" name="edit_en_name" value="<%= current_user.en_name %>">
            </div> 
            <div class="form-group">         
              <label for="edit_tel" class="control-label">Tel:</label>
              <input type="text" class="form-control" id="edit_tel" name="edit_tel" value="<%= current_user.tel %>">
            </div> 
            <div class="form-group">         
              <label for="edit_fax" class="control-label">Fax:</label>
              <input type="text" class="form-control" id="edit_fax" name="edit_fax" value="<%= current_user.fax %>">
            </div>     
            <div class="form-group">         
              <label for="edit_add" class="control-label">Add:</label>
              <textarea  class="form-control" id="edit_add" name="edit_add"><%= current_user.add %></textarea>
            </div>                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <% end %>
    </div></small>
  </div>
</div>


<div class="modal fade" id="edit_c_info" tabindex="-1" role="dialog" aria-labelledby="edit_c_infoLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="edit_c_infoLabel"><strong>修改客户信息</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :edit_c_info},method:"post") do %>  
            <div class="form-group sr-only">         
                <label for="edit_c_id" class="control-label">cid:</label>
                <input type="text" class="form-control" id="edit_c_id" name="edit_c_id" value="<%= @pi_info.pcb_customer_id %>">
            </div>  
            <div class="form-group">         
              <label for="edit_c_customer" class="control-label">C Name:</label>
              <input type="text" class="form-control" id="edit_c_customer" name="edit_c_customer" value="<%= @pi_info_c_customer %>">
            </div> 
            <div class="form-group">         
              <label for="edit_c_customer_com" class="control-label">Company:</label>
              <input type="text" class="form-control" id="edit_c_customer_com" name="edit_c_customer_com" value="<%= @pi_info_c_customer_com %>">
            </div> 
            <div class="form-group">         
              <label for="edit_c_tel" class="control-label">Tel:</label>
              <input type="text" class="form-control" id="edit_c_tel" name="edit_c_tel" value="<%= @pi_info_c_tel %>">
            </div> 
            <div class="form-group">         
              <label for="edit_c_fax" class="control-label">Fax:</label>
              <input type="text" class="form-control" id="edit_c_fax" name="edit_c_fax" value="<%= @pi_info_c_fax %>">
            </div> 
            <div class="form-group">         
              <label for="edit_c_email" class="control-label">Email:</label>
              <input type="text" class="form-control" id="edit_c_email" name="edit_c_email" value="<%= @pi_info_c_email %>">
            </div>    
            <div class="form-group">         
              <label for="edit_c_add" class="control-label">Add:</label>
              <textarea  class="form-control" id="edit_c_add" name="edit_c_add"><%= @pi_info_c_shipping_address %></textarea>
            </div>                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <% end %>
    </div></small>
  </div>
</div>

<div class="modal fade" id="addsb" tabindex="-1" role="dialog" aria-labelledby="addsbLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class=t_p_label"modal-title" id="addsbLabel"><strong>添加运费/银行费 总价</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :add_pi_sb},method:"post") do %>   
            <div class="form-group sr-only">         
                <label for="add_pi_sb_id" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="add_pi_sb_id" name="add_pi_sb_id" value="<%= @pi_info.id %>">
            </div>   
  
            <div class="form-group">         
              <label for="add_sc" class="control-label">Shipping Cost:</label>
              <input type="text" class="form-control" id="add_sc" name="add_sc" value="<%= @pi_info.pi_shipping_cost %>">
            </div> 
            <div class="form-group">
              <label for="add_bf" class="control-label">Bank Fee:</label>
              <input type="text" class="form-control" id="add_bf" name="add_bf" value="<%= @pi_info.pi_bank_fee %>">
            </div>  
            <div class="form-group">
              <label for="add_t_p" class="control-label">Total:</label>
              <input type="text" class="form-control" id="add_t_p" name="add_t_p" value="<%= @pi_info.t_p %>" disabled>
            </div> 
            <div class="form-group">
              <label for="add_t_p_rmb" class="control-label">Total RMB:</label>
              <input type="text" class="form-control" id="add_t_p_rmb" name="add_t_p_rmb" value="<%= @pi_info.t_p_rmb %>" disabled>
            </div>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <% end %>
    </div></small>
  </div>
</div>


<div class="modal fade" id="addother" tabindex="-1" role="dialog" aria-labelledby="addotherLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addotherLabel"><strong>添加其他费用</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :add_pi_other_item},method:"post") do %> 
            <div class="form-group sr-only">         
                <label for="add_pi_info_id_other" class="control-label">pi_info_id:</label>
                <input type="text" class="form-control" id="add_pi_info_id_other" name="add_pi_info_id_other" value="<%= @pi_info.id %>">
            </div>  
            <div class="form-group sr-only">         
                <label for="add_c_id_other" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="add_c_id_other" name="add_c_id_other" value="<%= params[:c_id] %>">
            </div>   
            <div class="form-group sr-only">         
                <label for="add_pi_no_other" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="add_pi_no_other" name="add_pi_no_other" value="<%= params[:pi_no] %>">
            </div>   
            <div class="form-group">         
              <label for="add_type_other" class="control-label">费用种类:</label>
              <input type="text" class="form-control" id="add_type_other" name="add_type_other" >
            </div> 
            <div class="form-group">         
              <label for="add_remark_other" class="control-label">备注:</label>
              <textarea  class="form-control" id="add_remark_other" name="add_remark_other"></textarea>
            </div> 
            <div class="form-group">
              <label for="add_t_p_other" class="control-label">报价(美金):</label>
              <input type="text" class="form-control" id="add_t_p_other" name="add_t_p_other" >
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <% end %>
    </div></small>
  </div>
</div>

<div class="modal fade" id="editotheritem" tabindex="-1" role="dialog" aria-labelledby="editotheritemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editotheritemLabel"><strong>修改其他费用</strong></h4>
        </div>
        
        <div class="modal-body">  
            <%= form_tag({action: :edit_pi_other_item},method:"post") do %>   
            <div class="form-group sr-only">         
                <label for="add_item_id_other" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_item_id_other" name="edit_item_id_other" >
            </div>    
            <div class="form-group">         
              <label for="add_p_type_other" class="control-label">费用种类:</label>
              <input type="text" class="form-control" id="edit_p_type_other" name="edit_p_type_other" >
            </div> 
            <div class="form-group">         
              <label for="add_remark_other" class="control-label">备注:</label>
              <textarea  class="form-control" id="edit_remark_other" name="edit_remark_other"></textarea>
            </div> 
            <div class="form-group">
              <label for="add_t_p_other" class="control-label">报价(美金):</label>
              <input type="text" class="form-control" id="edit_t_p_other" name="edit_t_p_other" >
            </div>         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <% end %>
    </div></small>
  </div>
</div>



<div class="modal fade" id="edit_pi_bank_info" tabindex="-1" role="dialog" aria-labelledby="edit_pi_bank_info_Label">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit_pi_bank_info_Label"><strong>选择收款银行</strong></h4>
            </div>
      <%= form_tag('/edit_pi_bank_info', method:"post", class:"form-inline") do %>
            <div class="modal-body">        
                <div>
                
         
                        <label for="c_order_no" class="control-label sr-only">询价单号:</label>
                        <input type="text" class="form-control sr-only"  name="pi_id" value="<%= @pi_info.id %>">


                        <lable for="order" , class="control-label sr-only"><strong>收款银行: </strong></lable>
                        <div class=" input-group-sm">              
                            <select class="form-control " name="bank_info" id="bank_info" >
                                <option value="">--请选择收款银行--</option>
                                <% BankInfo.all.each do |item| %>
                                    <option value="<%= item.id %>"><%= item.des %></option>
                                <% end %>
                            </select>               

                        </div>

            
                </div> 
 
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="提交" >
            </div>
        <% end %>
        </div></small>
    </div>
</div>







</div>

<script>
$('#edititem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var edit_c_item_id = button.data('edit_c_item_id');
  var edit_moko_code = button.data('edit_moko_code');
  var edit_moko_des = button.data('edit_moko_des');
  var edit_p_type = button.data('edit_p_type');
  var edit_des_en = button.data('edit_des_en');
  var edit_des_cn = button.data('edit_des_cn');  


  var edit_price = button.data('edit_price'); 
  var edit_follow_remark = button.data('edit_follow_remark');   



  var edit_c_p_no = button.data('edit_c_p_no'); 
  var edit_pcb_size = button.data('edit_pcb_size'); 
  var edit_qty = button.data('edit_qty');  
  var edit_layer = button.data('edit_layer'); 
  var edit_des = button.data('edit_des'); 
  var edit_unit_price = button.data('edit_unit_price'); 
  var edit_pcb_price = button.data('edit_pcb_price'); 
  var edit_com_cost = button.data('edit_com_cost'); 
  var edit_pcba = button.data('edit_pcba'); 
  var edit_t_p = button.data('edit_t_p'); 
                    
  var modal = $(this);
  modal.find($("#edit_c_item_id")).val(edit_c_item_id);
  modal.find($("#edit_moko_code")).val(edit_moko_code);
  modal.find($("#edit_moko_des")).val(edit_moko_des);
  modal.find($("#edit_p_type")).val(edit_p_type);
  modal.find($("#edit_des_en")).val(edit_des_en);
  modal.find($("#edit_des_cn")).val(edit_des_cn);


  modal.find($("#edit_price")).val(edit_price);
  modal.find($("#edit_follow_remark")).html(edit_follow_remark);

  modal.find($("#edit_c_p_no")).val(edit_c_p_no);
  modal.find($("#edit_pcb_size")).val(edit_pcb_size);
  modal.find($("#edit_qty")).val(edit_qty);
  modal.find($("#edit_layer")).val(edit_layer);
  modal.find($("#edit_des")).val(edit_des);
  modal.find($("#edit_unit_price")).val(edit_unit_price);
  modal.find($("#edit_pcb_price")).val(edit_pcb_price);
  modal.find($("#edit_com_cost")).val(edit_com_cost);
  modal.find($("#edit_pcba")).val(edit_pcba);
  modal.find($("#edit_t_p")).val(edit_t_p);


})

$('#editotheritem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var edit_item_id_other = button.data('edit_item_id_other');
  var edit_p_type_other = button.data('edit_p_type_other'); 
  var edit_t_p_other = button.data('edit_t_p_other');  
  var edit_remark_other = button.data('edit_remark_other');                       
  var modal = $(this);
  modal.find($("#edit_item_id_other")).val(edit_item_id_other);
  modal.find($("#edit_p_type_other")).val(edit_p_type_other);
  modal.find($("#edit_t_p_other")).val(edit_t_p_other);
  modal.find($("#edit_remark_other")).html(edit_remark_other);
})








$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
$(document).ready(function(){
    $("#t_p_label").dblclick(function(){
        $("#t_p_show").hide();
        $("#t_p_edit").show();
    });
});
</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
