<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "new_pi_buy"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div class="row "><div class="col-md-12">                
                <div class="panel panel-info">
                        <div class="panel-heading"><strong>采购 信息:</strong></div>
                        <div class="panel-body ">                     
                            <div class="col-md-2"><p><strong>采购单号: </strong><ins id="p_pi_show" name="p_pi_show"><%= @pi_buy_info.pi_buy_no.to_s %></ins></p>                                
                            </div>
                            <div class="col-md-2"><p><strong>日期 : </strong><ins id="p_riqi_show" name="p_riqi_show"><%= @pi_buy_info.created_at.to_s %></ins></p>
                            </div> 
                            <div class="col-md-2"><p><strong>采购工程师: </strong><ins><%= @pi_buy_info.user.to_s %></ins></p>
                            </div>   
                        </div>
                    </div>
            </div></div>

            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>供应商信息</strong> 
                <% if can? :work_g, :all and @pi_buy_info.state == "new"%>
                <button type="button" class="btn btn-primary btn-xs  navbar-right" data-toggle="modal" data-target="#find_dn" style="margin-right: 5px;" >选择供应商</button>
                <% end %>
                </div>
                <div class="panel-body ">                     
                    <div class="row ">
                        <div class="col-md-2"><strong>供应商简称：</strong><ins id="daima_show" name="daima_show"><%= @pi_buy_info.dn %></ins><input type="text" class="input-sm sr-only" style="width:65%" id="daima" name="daima" readonly></div>
                        <div class="col-md-4"><strong>供应商全称：</strong><ins id="kehu_show" name="kehu_show"><%= @pi_buy_info.dn_long %></ins><input type="text" class="input-sm sr-only" style="width:80%" id="kehu" name="kehu" readonly></div>
                    </div>
                    
                </div>
            </div>

            </div></div>




            <div class="row "><div class="col-md-12">
                <button  type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addbuy" >添加采购物料</button>
            </div></div>
























            <div class="row "><div class="col-md-12 col-sm-12 form-inline" >
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="50">删除</th>
      <th width="130">PI No.</th>
      <th width="220">MPN</th>
      <th width="150">MOKO PART</th>
      <th >MOKO DES</th>
      <th width="80">数量</th>
      <th width="80">单价￥</th>
      <th >供应商</th>
      <th >备注</th>
    </tr>
  </thead>
  <tbody><small>
<% if not @pi_buy.blank? %>
  <% @pi_buy.each do |buy| %>
  <tr>
      <td></td>
      <td></td>
      <td><%= buy.mpn %></td>
      <td><%= buy.moko_part %></td>
      <td><%= buy.moko_des %></td>
      <td><%= buy.quantity %></td>
      <td><%= buy.cost %></td>
      <td><%= buy.dn_long %></td>
                    <td>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;" >
<% PItemRemark.where(p_item_id: buy.p_item_id).each do |remark_item| %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >

<strong><%= remark_item.user_name %>: </strong>
<%= remark_item.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
</div>

<% if not buy.dn_id.blank? %>
<% if not PDn.find_by_id(buy.dn_id).blank? %>
<% if not PDn.find(buy.dn_id).remark.blank? %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >
<% if not PDn.find(buy.dn_id).info.blank? %>                 
<a class="btn btn-info btn-xs" href="<%= PDn.find(buy.dn_id).info %>" target="_blank">下载</a>
<% end %>
<strong>采购工程师: </strong>
<%= PDn.find(buy.dn_id).remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
                    </td>
  </tr>
  <% end %>
<% end %> 
  </small>   
  </tbody>
</table>
            </div></div>










         <%= form_tag('/#', method:"post",id:"upatt") do %>
            <div class="row "><div class="col-md-12">   
                <div class="modal-footer">                    
                    <input type="text" class="form-control sr-only" id="p_no" name="p_no" value="">
                    <% if can? :work_e, :all %>
                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定要提交到BOM工程师?"} %>
                    <% elsif can? :work_d, :all %>
                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定要提交到采购工程师?"} %>
                    <% elsif can? :work_g, :all %>
                        <%= submit_tag "提交", class: "btn btn-info",data:{confirm: "确定已经完成报价?"} %>
                    <% end %>
                </div>
            </div></div>
       <% end %>









        </div>
    </div>




<div class="modal fade" id="addbuy" tabindex="-1" role="dialog" aria-labelledby="find_cLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 1200px"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="find_cLabel"><strong>选择采购物料</strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_pi_buy', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="c_order_no" class="control-label">单号:</label>
                        <%= text_field_tag :pi_buy_no, params[:pi_buy_no], class:"sr-only", value:params[:pi_buy_no] %>
                    </div>
                    <div class="form-group ">
                        <lable for="dn_code" , class="control-label"><strong></strong></lable>
                        <div class="input-group input-group-sm">  
                            <% if @key_order %>   
                                <%= text_field_tag :key_order, @key_order, class:"form-control  input-lg", size:"30"%>     
                            <% else %> 
                                <%= text_field_tag :key_order, params[:key_order], class:"form-control input-lg", size:"100", placeholder:"MOKO描述/MOKO编号"%>
                            <% end %>                     
                                      
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                            </div>
                        </div>
                        
                        <a id="tijiao" type="button" class="btn btn-info btn-sm" href="#">提交</a>
                        
                    </div>
                <% end %>             
                </div> 
                <%= form_tag('/add_pi_buy_item', method:"get") do %>
                <%= text_field_tag :pi_buy_id, params[:pi_buy_id], class:"sr-only", value:@pi_buy_info.id %>
                <div class="form-group" id="table_buy">

                    <table class="table table-hover">
                    <thead>
                    <tr style="background-color: #eeeeee">
                    <th width="20"></th>
                    <th >MOKO DES</th>
                    <th width="80">数量</th>
                    <th width="80">单价￥</th>
                    <th width="80">附件</th>
                    <th >供应商</th>
                    <th >备注</th>
                    </tr>
                    </thead>
                    <tbody><small>
                    <% if not @pi_buy_find.blank? %>
                        <% @pi_buy_find.each do |buy| %>
                                <tr>
                                <td><input type="checkbox" value="<%= buy.id.to_s %>" name="roles[]" id="roles_" checked></td>
                                <td><%= buy.moko_des.to_s %></td>
                                <td><%= buy.quantity.to_s %></td>
                                <td><%= buy.cost.to_s %></td>
                                <% if not PDn.find_by_id(buy.dn_id).blank? %>  
                                    <% if not PDn.find_by_id(buy.dn_id).info.blank? %>
                                        <td><small><a href="<%= dn.info %>">下载</a></small></td>
                                    <% else %>
                                        <td></td>
                                    <% end %>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td><%= buy.dn_long.to_s %></td>
                                <td>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;" >
<% PItemRemark.where(p_item_id: buy.id).each do |remark_item| %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >

<strong><%= remark_item.user_name %>: </strong>
<%= remark_item.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
</div>

<% if not buy.dn_id.blank? %>
<% if not PDn.find_by_id(buy.dn_id).blank? %>
<% if not PDn.find(buy.dn_id).remark.blank? %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >
<% if not PDn.find(buy.dn_id).info.blank? %>                 
<a class="btn btn-info btn-xs" href="<%= PDn.find(buy.dn_id).info %>" target="_blank">下载</a>
<% end %>
<strong>采购工程师: </strong>
<%= PDn.find(buy.dn_id).remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
                                    </td>
                                </tr>
                        <% end %>
                    <% end %>
                    </small></tbody>
                    </table>




                </div>
                <%= submit_tag "tijiao", class:"btn btn-primary btn-sm sr-only",id:"tijiao_true" %>
                <% end %>
            </div>
        </div></small>
    </div>
</div>












<div class="modal fade" id="find_dn" tabindex="-1" role="dialog" aria-labelledby="find_cLabel">
    <div class="modal-dialog modal-lg" role="document"><small>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="find_cLabel"><strong>选择供应商</strong></h4>
            </div>
      
            <div class="modal-body">        
                <div class="form-inline">
                <%= form_tag('/find_dn', method:"get", class:"form-inline",remote: true) do %>
                    <div class="form-group sr-only">         
                        <label for="c_order_no" class="control-label">单号:</label>
                        <input type="text" class="form-control" id="pi_buy_no" name="pi_buy_no" value="<%= params[:pi_buy_no] %>">
                    </div>
                    <div class="form-group ">
                        <lable for="dn_code" , class="control-label"><strong>供应商: </strong></lable>
                        <div class="input-group input-group-sm">  
                            <input id="dn_code" autocomplete="off" name="dn_code" type="text" class="form-control input-lg" data-provide="typeahead" data-items="20" data-source="<%= raw @all_dn %>" placeholder="供应商简称" size="60">            
                                      
                            <div class="input-group-btn">
                                <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>                             
                            </div>
                            
                        </div>
                    </div>
<!--
                    <a class="btn btn-success btn-sm" id="new_customer">新建客户</a>
-->
                <% end %>             
                </div> 
                <div class="form-group" id="table_dn">


                </div>
            </div>
        </div></small>
    </div>
</div>







</div>




<script>
$(document).ready(function(){
  $("#tijiao").click(function(){
    $("#tijiao_true").click();
  });
});
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
