<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "ecn_new"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
           

<% if @get_ecn_info.state == "checking" %> 
<%= form_tag({action: :cut_in_ecn},method:"post",multipart:"true") do %>
        <div class="row">
            <div class="col-md-6 col-sm-6 " >
                <h2 style="padding-top:0px;margin-top:0px;"><span class="label label-default">工程变更通知(ECN)</span></h2>
            </div>

            <% if can? :work_admin, :all or can? :work_e, :all %>
            <div class="col-md-6 col-sm-6">
                <input class="sr-only" name="bom_ecn_info_id" id="bom_ecn_info_id" type="text" value="<%= @get_ecn_info.id %>">
                <%= submit_tag "执行ECN", class:"btn btn-danger pull-right",data:{confirm: "确定要执行ECN?"} %>


            </div>
            <% end %>
        </div>
<% end %>
<% elsif @get_ecn_info.state == "checked" %>
        <div class="row">
            <div class="col-md-6 col-sm-6 " >
                <h2 style="padding-top:0px;margin-top:0px;"><span class="label label-default">工程变更通知(ECN)</span></h2>
            </div>


        </div>
<% end %>


<%= form_tag({action: :edit_ecn_up},method:"post",multipart:"true") do %>
<% if @get_ecn_info.state == "new" %>
        <div class="row">
            <div class="col-md-6 col-sm-6 " >
                <h2 style="padding-top:0px;margin-top:0px;"><span class="label label-default">工程变更通知(ECN)</span></h2>
            </div>
            
            <% if can? :work_admin, :all or can? :work_e, :all %>
            <div class="col-md-6 col-sm-6">
                <input class="sr-only" name="bom_ecn_info_id" id="bom_ecn_info_id" type="text" value="<%= @get_ecn_info.id %>">
                <%= submit_tag "发送给BOM工程师", class:"btn btn-primary pull-right",data:{confirm: "确定要发送给BOM工程师?"} %>
                <%= submit_tag "保存草稿", class:"btn btn-info pull-right",style:"margin-right:10px;"%>
<!--
                <button type="submit" class="btn btn-primary pull-right" onclick="return postform()" >发送给BOM工程师</button>
                <button style="margin-right:10px;" type="submit" class="btn btn-info pull-right" onclick="return postform()" >保存草稿</button>
-->
            </div>
            <% end %>
            
        </div>
<% end %>      

        <div class="row" >
            <div class="col-md-12 col-sm-12" >
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>ECN</strong>
                    </div>
                    <div class="panel-body" style="padding: 15px 15px 1px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label" for="c_code">BOM编号:</label>
                                        <div class="col-md-8">
                                            
                                            <p class="form-control-static" id="bom_no"><%= @get_ecn_info.bom_no %></p>

                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="voucher_item" class="col-md-4 control-label">产品型号:</label>
                                        <div class="col-md-8" >
                                            <p class="form-control-static" id="c_code_show" ></p>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="voucher_item" class="col-md-4 control-label">变更原因:</label>
                                        <div class="col-md-8" >
                                            <textarea type="text" class="form-control" id="ecn_remark" name="ecn_remark"  ><%= @get_ecn_info.remark %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm ">
                                        <label for="xianjin_kemu" class="col-md-3 control-label">签署:</label>   
                                        <div class="col-md-9">
                                            <p class="form-control-static" id="" ><%= current_user.full_name %></p>    
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="voucher_bank_name" class="col-md-3 control-label">发起人:</label>
                                        <div class="col-md-9" >
                                            
                                            <p class="form-control-static" id="" ><%= current_user.full_name %></p>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="voucher_bank_account" class="col-md-3 control-label">审核:</label>
                                        <div class="col-md-9" >
                                            
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label for="" class="col-md-3 control-label">批准:</label>
                                        <div class="col-md-9" >
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label for="finance_at" class="col-md-4 control-label">日期:</label>
                                        <div class="col-md-8">
                                            
                                        </div>
                                    </div>
                                </div>
<!--
                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label for="change_at" class="col-md-4 control-label">变更性质:</label>
                                        <div class="col-md-8">




                                <label class="checkbox-inline">
                                    <input type="radio" value="ever" name="change_type[]" id="change_type_ever" <% if @get_ecn_info.change_type == "ever" %> checked <% end %>>
                                    <strong>永久</strong>
                                </label>


                                <label class="checkbox-inline">
                                    <input type="radio" value="temp" name="change_type[]" id="change_type_temp" <% if @get_ecn_info.change_type == "temp" %> checked <% end %>>
                                    <strong>临时</strong>
                                </label>
                                          





                                        </div>
                                    </div>
                                </div>
-->






                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label for="finance_at" class="col-md-4 control-label">执行时间:</label>
                                        <div class="col-md-8">
<!--
                                            <%= text_field_tag :finance_at, params[:finance_at], id: "finance_at",class:"form-control input-sm", size:"10" %>
<script type="text/javascript">
    $(function () {
        $('#finance_at').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD'
        });    
    });
</script>
-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label for="finance_at" class="col-md-4 control-label">BOM修改时间:</label>
                                        <div class="col-md-8">
<!--
                                            <%= text_field_tag :finance_at, params[:finance_at], id: "finance_at",class:"form-control input-sm", size:"10" %>
<script type="text/javascript">
    $(function () {
        $('#finance_at').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD'
        });    
    });
</script>
-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>ECN</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="recipient-name" class="control-label">生效:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label>
                                     <input type="checkbox" value="a" name="sheng_xiao_type[]" id="sheng_xiao_type_a" <% if @get_ecn_info.sheng_xiao_type == "a" %> checked <% end %>>
                                     <strong>立即更改</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" value="b" name="sheng_xiao_type[]" id="sheng_xiao_type_b" <% if @get_ecn_info.sheng_xiao_type == "b" %> checked <% end %>> 
                                    <strong>批量变更</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" value="c" name="sheng_xiao_type[]" id="sheng_xiao_type_c" <% if @get_ecn_info.sheng_xiao_type == "c" %> checked <% end %>>
                                    <strong>自然汰换</strong>
                                </label>
                            </div> 
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" value="d" name="sheng_xiao_type[]" id="sheng_xiao_type_d" <% if @get_ecn_info.sheng_xiao_type == "d" %> checked <% end %>>
                                    <strong>消耗库存</strong>
                                </label>
                            </div> 
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" value="e" name="sheng_xiao_type[]" id="sheng_xiao_type_e" <% if @get_ecn_info.sheng_xiao_type == "e" %> checked <% end %>>
                                    <strong>其它</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
<% end %>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>ECN</strong> 
                        <% if @get_ecn_info.state == "checked" %>
                        <% if can? :work_admin, :all or can? :work_e, :all %>
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#add_item_ecn" data-backdrop="static" data-ecn_info_id_new="<%= @get_ecn_info.id %>">添加物料</button>
                        <% end %>
                        <% end %>
                    </div>
                            <table class="table table-bordered table-hover" >
                                <colgroup>
                                    <% if can? :work_admin, :all or can? :work_d, :all %>
                                    <col width=4%></col>
                                    <% end %>
                                    <col width=4%></col>
                                    <col width=4%></col>
                                    <col width=4%></col>
                                    <col width=10%></col>
                                    <col width=10%></col>
                                    <col width=15%></col>
                                    <col width=3%></col>
                                    <col width=10%></col>
                                    <col width=10%></col>
                                    <col width=15%></col>
                                    <col width=3%></col>
                                    <col width=22%></col>
                                </colgroup>
                                <thead>
                                    <tr class="active">
                                        <% if can? :work_admin, :all or can? :work_d, :all %>
                                        <th rowspan="2">操作</th>
                                        <% end %>
                                        <th rowspan="2">BOM代号</th>
                                        <th rowspan="2">匹配代号</th>
                                        <th rowspan="2">性质</th>
                                        <th colspan="4">变更前</th>
                                        <th colspan="4">变更后</th> 
                                        <th rowspan="2">备注</th>
                                    </tr>
                                    <tr class="active">
                                        <th >位号</th>
                                        <th >华创编码</th> 
                                        <th >华创描述</th>
                                        <th >用量</th>
                                        <th >位号</th>
                                        <th >华创编码</th> 
                                        <th >业务描述</th>
                                        <th >用量</remarkupdateth>
                                    </tr>
                                </thead>
                                <tbody>  
                                <% if not@get_ecn_item.blank?%>
                                <% @get_ecn_item.each_with_index do |item,index| %>
                                    <tr <% if item.state == "new" %>class="danger"<% elsif item.state == "opt" %>class="success"<% end %>> 
                                        <% if can? :work_admin, :all or can? :work_d, :all %>
                                        <td <% if not item.opt_type.blank? %>rowspan="2"<% end %> ><a type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bom_eng_set" data-backdrop="static" data-up_item_id="<%= item.id %>"  data-up_old_moko_part="<%= item.old_moko_part %>" data-up_old_moko_des="<%= item.old_moko_des %>" data-up_old_part_code="<%= item.old_part_code %>" data-up_old_quantity="<%= item.old_quantity %>" data-up_new_moko_part="<%= item.new_moko_part %>" data-up_new_moko_des="<%= item.new_moko_des %>" data-up_new_part_code="<%= item.new_part_code %>" data-up_new_quantity="<%= item.new_quantity %>" data-sell_change_type="<%= item.change_type %>" data-eng_moko_part="<%= item.eng_moko_part %>" data-eng_moko_des="<%= item.eng_moko_des %>" data-eng_part_code="<%= item.eng_part_code %>" data-eng_quantity="<%= item.eng_quantity %>" data-eng_remark="<%= item.eng_remark %>" data-opt_type="<%= item.opt_type %>">操作</a></td>
                                        <% end %>
                                        <td><%= item.moko_bom_item_id %></td>
                                        <td><%= item.bom_item_id %></td>
                                        <td><%= item.change_type %></td>
                                        <td style="word-break : break-all; "><%= item.old_part_code %></td>
                                        <td><%= item.old_moko_part %></td>
                                        <td><%= item.old_moko_des %></td>
                                        <td><%= item.old_quantity %></td>
                                        <td style="word-break : break-all; "><%= item.new_part_code %></td>
                                        <td><%= item.new_moko_part %></td>
                                        <td><%= item.new_sell_des %></td>
                                        <td><%= item.new_quantity %></td>
                                        <td><%= item.remark %></td>
                                    </tr> 
                                    <% if not item.opt_type.blank? %>
                                    <tr class="warning">
                                        <td colspan="11">
                                            <div>
                                                <label>操作类型：</label><%= item.opt_type %>
                                                <label>MOKO PART：</label><%= item.eng_moko_part %>
                                                <label>MOKO描述：</label><%= item.eng_moko_des %>
                                                <label>位号：</label><%= item.eng_part_code %>
                                                <label>用量：</label><%= item.eng_quantity %>
                                                <label>备注：</label><%= item.eng_remark %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                                <% end %>
                                <% end %>
                                </tbody>  
                            </table>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>BOM</strong>
                    </div>

                            <table class="table table-bordered table-hover table-condensed" >
                                <thead>
                                    <tr class="active">
                                        <th width="75">BOM代号</th>
                                        <th width="75">匹配代号</th>
                                        <th >位号</th>
                                        <th width="200">华创编码</th> 
                                        <th >华创描述</th>
                                        <th width="45">用量</th>
                                        <% if can? :work_admin, :all or can? :work_e, :all %>
                                        <th width="50">操作</th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody>  
                                <% @baojia.each_with_index do |item,index| %>
                                    <tr <% if item.ecn_tag == "new" %>class="danger"<% end %> > 
                                        <td><%= item.moko_bom_item_id %></td>
                                        <td><%= item.id %></td>
                                        <td style="word-break : break-all; "><%= item.part_code %></td>
                                        <td><%= item.moko_part %></td>
                                        <td><%= item.moko_des %></td>
                                        <td><%= item.quantity %></td>
                                        <% if can? :work_admin, :all or can? :work_e, :all %>
                                        <td>
                                           <a type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#remarkupdate" data-backdrop="static" data-bom_item_id="<%= item.id %>" data-ecn_info_id="<%= @get_ecn_info.id %>" data-old_moko_part="<%= item.moko_part %>" data-old_moko_des="<%= item.moko_des %>" data-old_part_code="<%= item.part_code %>" data-old_quantity="<%= item.quantity %>" data-moko_bom_item_id="<%= item.moko_bom_item_id %>">变更</a>
                                        </td>
                                        <% end %>
                                    </tr> 
                                <% end %>
                                </tbody>  
                            </table>

                </div>
            </div>
        </div>

        </div>
    </div>
</div>








<div class="modal fade" id="bom_eng_set" tabindex="-1" role="dialog" aria-labelledby="bom_eng_setLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bom_eng_setLabel">工程师ECN操作</h4>
      </div>
      <div class="modal-body">




                            <div  class="form-group" >
                              
                                <%= form_tag('/search_m_ecn', remote: true, class:"form-inline") do %>
                                <div class="form-group">
                                    <%= text_field_tag :q, params[:q], id:"input_up", class:"form-control", size:30, value: "", placeholder:"Description"%>
                                    
                                    <%= submit_tag t(:search), class:"btn btn-primary" %>
                                </div>
                                <% end %>
<div class="row">
  <div class="col-md-12" id="up_lab">
  </div>
</div>


<div class="row">
  <div class="col-md-12" id="up_tbody">  
  </div>    
</div>
                            </div>







        <%= form_tag('/up_ecn_item', method:"post") do %>
          <div class="form-group sr-only">
            <label for="itemp_id_remark" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="up_item_id" name="up_item_id">
          </div>

          <div class="form-group">
            <label for="change_at" class="control-label">操作类型:</label>
            <div class="bg-danger">
              <label class="checkbox-inline">
                <input type="radio" value="edit" name="opt_type[]" id="opt_item_type_edit" >
                <strong>修改物料</strong>
              </label>
              <label class="checkbox-inline">
                <input type="radio" value="add" name="opt_type[]" id="opt_item_type_add" >
                <strong>增加物料</strong>
              </label>
              <label class="checkbox-inline">
                <input type="radio" value="del" name="opt_type[]" id="opt_item_type_del" >
                <strong>删除物料</strong>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">MOKO PART:</label>
            <code id="up_old_moko_part_show"></code>
            <p id="up_new_moko_part_show" class="bg-success"></p>
            <input type="text" class="form-control" id="up_eng_moko_part" name="up_eng_moko_part">
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">MOKO描述:</label>
            <code id="up_old_moko_des_show"></code>
            <p id="up_new_moko_des_show" class="bg-success"></p>
            <textarea type="text" class="form-control" id="up_eng_moko_des" name="up_eng_moko_des"></textarea>
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">位号:</label>
            <code id="up_old_part_code_show"></code>
            <p id="up_new_part_code_show" class="bg-success"></p>
            <input type="text" class="form-control" id="up_eng_part_code" name="up_eng_part_code">
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">用量:</label>
            <code id="up_old_quantity_show"></code>
            <p id="up_new_quantity_show" class="bg-success"></p>
            <input type="number" class="form-control" id="up_eng_quantity" name="up_eng_quantity">
          </div>

          <div class="form-group">
            <label for="change_at" class="control-label">变更性质:</label>
            <div >
                <code id="sell_change_type"></code>
            </div>
          </div>

          <div class="form-group">
            <label for="pj_remark">备注：</label>
            <code id="up_ecn_remark"></code>
            <textarea type="text" class="form-control" id="up_eng_remark" name="up_eng_remark"  ></textarea>
          </div>             
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return postform_eng()" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="remarkupdate" tabindex="-1" role="dialog" aria-labelledby="remarkupdateLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="remarkupdateLabel">变更ECN项目</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/add_ecn_item', method:"post") do %>
          <div class="form-group sr-only">
            <label for="itemp_id_remark" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="bom_item_id" name="bom_item_id">
            <input type="text" class="form-control" id="moko_bom_item_id" name="moko_bom_item_id">
            <input type="text" class="form-control" id="ecn_info_id" name="ecn_info_id">
            <input type="text" class="form-control" id="old_moko_part" name="old_moko_part">
            <input type="text" class="form-control" id="old_moko_des" name="old_moko_des">
            <input type="text" class="form-control" id="old_part_code" name="old_part_code">
            <input type="text" class="form-control" id="old_quantity" name="old_quantity">
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">位号:</label>
            <code id="old_part_code_show"></code>
            <input type="text" class="form-control" id="new_part_code" name="new_part_code">
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">描述:</label>
            <code id="old_moko_des_show"></code>
            <textarea type="text" class="form-control" id="new_sell_des" name="new_sell_des"></textarea>
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">用量:</label>
            <code id="old_quantity_show"></code>
            <input type="number" class="form-control" id="new_quantity" name="new_quantity">
          </div>

          <div class="form-group">
            <label for="change_at" class="control-label">变更性质:</label>
            <div >
              <label class="checkbox-inline">
                <input type="radio" value="ever" name="change_type[]" id="change_item_type_ever" >
                <strong>永久</strong>
              </label>
              <label class="checkbox-inline">
                <input type="radio" value="temp" name="change_type[]" id="change_item_type_temp" >
                <strong>临时</strong>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="pj_remark">备注：</label>
            <textarea type="text" class="form-control" id="ecn_remark" name="ecn_remark"  ></textarea>
          </div>             
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="add_item_ecn" tabindex="-1" role="dialog" aria-labelledby="add_item_ecnLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add_item_ecnLabel">添加ECN项目</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/add_ecn_item', method:"post") do %>
          <div class="form-group sr-only">
            <label for="itemp_id_remark" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="ecn_info_id_new" name="ecn_info_id" >

          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">位号:</label>

            <input type="text" class="form-control" id="new_part_code" name="new_part_code">
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">描述:</label>
         
            <textarea type="text" class="form-control" id="new_sell_des" name="new_sell_des"></textarea>
          </div>
          <div class="form-group">
            <label for="itemp_id_remark" class="control-label">用量:</label>
        
            <input type="number" class="form-control" id="new_quantity" name="new_quantity">
          </div>
          <div class="form-group">
            <label for="change_at" class="control-label">变更性质:</label>
            <div >
              <label class="checkbox-inline">
                <input type="radio" value="ever" name="change_type[]" id="change_item_type_ever" <% if @get_ecn_info.change_type == "ever" %> checked <% end %>>
                <strong>永久</strong>
              </label>
              <label class="checkbox-inline">
                <input type="radio" value="temp" name="change_type[]" id="change_item_type_temp" <% if @get_ecn_info.change_type == "temp" %> checked <% end %>>
                <strong>临时</strong>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="pj_remark">备注：</label>
            <textarea type="text" class="form-control" id="ecn_remark" name="ecn_remark"  ></textarea>
          </div>             
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>



</div>




<script>

$('#bom_eng_set').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var up_item_id = button.data('up_item_id');

  var up_old_moko_part = button.data('up_old_moko_part');
  var up_old_moko_des = button.data('up_old_moko_des');
  var up_old_part_code = button.data('up_old_part_code');
  var up_old_quantity = button.data('up_old_quantity');

  var up_new_moko_part = button.data('up_new_moko_part');
  var up_new_moko_des = button.data('up_new_moko_des');
  var up_new_part_code = button.data('up_new_part_code');
  var up_new_quantity = button.data('up_new_quantity');

  var sell_change_type = button.data('sell_change_type');

  var eng_moko_part = button.data('eng_moko_part');
  var eng_moko_des = button.data('eng_moko_des');
  var eng_part_code = button.data('eng_part_code');
  var eng_quantity = button.data('eng_quantity');
  var eng_remark = button.data('eng_remark');
  var opt_type = button.data('opt_type');

  var modal = $(this);
  modal.find($("#up_item_id")).val(up_item_id);

  modal.find($("#up_old_moko_part_show")).val(up_old_moko_part);
  modal.find($("#up_old_moko_des_show")).text(up_old_moko_des);
  modal.find($("#up_old_part_code_show")).text(up_old_part_code);
  modal.find($("#up_old_quantity_show")).text(up_old_quantity);

  modal.find($("#up_new_moko_part_show")).val(up_new_moko_part);
  modal.find($("#up_new_moko_des_show")).text(up_new_moko_des);
  modal.find($("#up_new_part_code_show")).text(up_new_part_code);
  modal.find($("#up_new_quantity_show")).text(up_new_quantity);

  modal.find($("#sell_change_type")).text(sell_change_type);


  modal.find($("#up_eng_part_code")).val(eng_part_code);
  modal.find($("#up_eng_moko_part")).val(eng_moko_part);
  modal.find($("#up_eng_moko_des")).val(eng_moko_des);
  modal.find($("#up_eng_quantity")).val(eng_quantity);
  modal.find($("#up_eng_remark")).text(eng_remark);

  if (opt_type == "edit")
    {
    modal.find($("#opt_item_type_edit")).attr("checked",true);
    modal.find($("#opt_item_type_add")).removeAttr("checked");
    modal.find($("#opt_item_type_del")).removeAttr("checked");
    }
  else if(opt_type == "add")
    {
    modal.find($("#opt_item_type_edit")).removeAttr("checked");
    modal.find($("#opt_item_type_add")).attr("checked",true);
    modal.find($("#opt_item_type_del")).removeAttr("checked");
    }
  else if(opt_type == "del")
    {
    modal.find($("#opt_item_type_edit")).removeAttr("checked");
    modal.find($("#opt_item_type_add")).removeAttr("checked");
    modal.find($("#opt_item_type_del")).attr("checked",true);
    }



})


$('#remarkupdate').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var bom_item_id = button.data('bom_item_id');
  var moko_bom_item_id = button.data('moko_bom_item_id');
  var ecn_info_id = button.data('ecn_info_id');
  var old_moko_part = button.data('old_moko_part');
  var old_moko_des = button.data('old_moko_des');
  var old_part_code = button.data('old_part_code');
  var old_quantity = button.data('old_quantity');
  var modal = $(this);
  modal.find($("#bom_item_id")).val(bom_item_id);
  modal.find($("#moko_bom_item_id")).val(moko_bom_item_id);
  modal.find($("#ecn_info_id")).val(ecn_info_id);
  modal.find($("#old_moko_part")).val(old_moko_part);
  modal.find($("#old_moko_des")).val(old_moko_des);
  modal.find($("#old_part_code")).val(old_part_code);
  modal.find($("#old_quantity")).val(old_quantity);
  modal.find($("#old_moko_des_show")).text(old_moko_des);
  modal.find($("#old_part_code_show")).text(old_part_code);
  modal.find($("#old_quantity_show")).text(old_quantity);

  modal.find($("#new_part_code")).val("");
  modal.find($("#new_sell_des")).val("");
  modal.find($("#new_quantity")).val("");
  modal.find($("#ecn_remark")).text("");

  modal.find($("#change_item_type_ever")).removeAttr("checked");
  modal.find($("#change_item_type_temp")).removeAttr("checked");


})

$('#add_item_ecn').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var ecn_info_id = button.data('ecn_info_id_new');
  var modal = $(this);
  modal.find($("#ecn_info_id_new")).val(ecn_info_id); 
})

function get_options(value){
    var urla='/work_flow/select_pcbcustomer_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
  }


</script>

<script type="text/javascript">
function postform() {  	           
      if ($("#price").val() == "")
      {                    
　　    alert("请选填写报价！");                    
　　    return false;                
　     }

}  

$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
  $('#whMenu').collapse('hide');
});
  

function postform_eng() { 
    if (document.getElementById('opt_item_type_edit').checked == false & document.getElementById('opt_item_type_add').checked == false &  document.getElementById('opt_item_type_del').checked == false)
      {                    
　　    alert("请选择操作类型！");                    
　　    return false;                
　     }                   
}    
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
