<div class="container" >
<div class="row" style="padding: 0px;">
  <h2><p class="text-primary">工程部处理问题</p></h2><hr>
</div>
<div class="row"style="padding: 0px;">
    <div class="col-md-3 nav navbar-nav" >
        <%= link_to "查询未处理的问题",  {action: "index"}, class: "btn btn-danger  btn-lg" %>
    </div>
    <%= form_tag('/work_flow', method:"get", class:"form-inline") do %>
       <div class="col-md-6 form-group  nav navbar-nav navbar-right">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group">    
            <%= text_field_tag :order, params[:order], class:"form-control input-lg", size:"100%",  placeholder:"单号"%>          
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>
      <% end %>
</div>

<% if @topic %>


<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
        
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-size: 18px;"><strong>问题--(<%= @topic.order_no %>)</strong></div>
            <div class="panel-body">
                

             <% @feedback_all.each do |fed| %>
                <div class="panel panel-info " style="background-color: #d9edf7;">
                    
                       <div style="word-break:break-all;white-space:normal;"><p><% if fed.feedback_type=="production" %><span class="label label-warning" style="font-size: 13px;">生产部反馈</span><% elsif fed.feedback_type=="engineering"%><span class="label label-danger" style="font-size: 13px;">工程部反馈</span><% elsif fed.feedback_type=="sell"%><span class="label label-success" style="font-size: 13px;">业务部反馈</span><% elsif fed.feedback_type=="procurement"%><span class="label label-info" style="font-size: 13px;">采购部反馈</span><% elsif fed.feedback_type=="merchandiser"%><span class="label label-info" style="font-size: 13px;">跟单部反馈</span><% end %> 由 <span class="text-primary"><strong><%= User.where(email: fed.user_name).first.full_name %></strong></span> 发到 
<% fed.send_to.to_s.split(',').each do |rece| %>
            <%= t(:"#{rece}") %>
<% end %>
<%= fed.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></p><br>
                        <p><strong><%= raw fed.feedback %></strong></p></div>
                        
                </div>
            <% end %>
            <div class="panel panel-info " style="background-color: #d9edf7;">
                       <div style="word-break:break-all;white-space:normal;"><p><% if @topic.feedback_type=="production" %><span class="label label-warning" style="font-size: 13px;">生产部反馈</span><% elsif @topic.feedback_type=="engineering"%><span class="label label-danger" style="font-size: 13px;">工程部反馈</span><% elsif @topic.feedback_type=="sell"%><span class="label label-success" style="font-size: 13px;">业务部反馈</span><% elsif @topic.feedback_type=="procurement"%><span class="label label-info" style="font-size: 13px;">采购部反馈</span><% elsif @topic.feedback_type=="merchandiser"%><span class="label label-info" style="font-size: 13px;">跟单部反馈</span><% end %> 由 <span class="text-primary"><strong><%= User.where(email: @topic.user_name).first.full_name %></strong></span> &raquo; <%= @topic.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %><strong> 当前状态 </strong><span class="text-primary"><%= @receive %></span></p><br>
                        <p><strong><%= raw @topic.feedback %></strong></p></div>
                        
                </div>
            <%= form_tag('/edit_work', method:"post") do %>
               <div class="panel panel-info " >
                   <div class="panel-heading"><span class="text-primary"><strong>处理问题---<%= @topic.order_no %></strong></span></div>

                    
                    <ul class="list-group">
                   
                        <li class="list-group-item" style="margin: 0px;padding: 0px;">
                            <%= text_field_tag :work_id, params[:work_id], class:"sr-only", value: @topic.order_id.to_s %>
                            <%= text_field_tag :feedback_up,params[:feedback_up],class:"sr-only",value: @topic.id.to_s %>
                            <%= kindeditor_tag :engineering_feedback, '',:editor_id => 'my_feedback',:items => ["undo","redo","|","image","multiimage","insertfile","|","fontname","fontsize","forecolor","hilitecolor","bold"] %>
                        </li>    
                    </ul>  
                    


                    <div class="panel-body">
                       
                       <%= text_field_tag :feedback_up,params[:feedback_up],class:"sr-only",value: @topic.id.to_s %>                    

                       <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="production" name="send_up[]" id="send_up1" onclick="change_2()"> 
                               <strong><%= '生产部' %></strong>
                           </label>
                       </div>
                       <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="procurement" name="send_up[]" id="send_up2" onclick="change_2()">  
                               <strong><%= '采购部' %></strong>
                           </label>
                       </div>
                       <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="sell" name="send_up[]" id="send_up4" onclick="change_2()" > 
                               <strong><%= '业务部' %></strong>
                           </label>
                       </div>
                        <div class="checkbox-inline">
                           <label>
                               <input type="checkbox" value="merchandiser" name="send_up[]" id="send_up3" onclick="change_2()"> 
                               <strong><%= '跟单部' %></strong>
                           </label>
                       </div>
       <script>
        function change_1(){
               document.getElementById('send_up1').checked = false; 
               document.getElementById('send_up2').checked = false; 
               document.getElementById('send_up4').checked = false;
               document.getElementById('send_up3').checked = false;                 
           } 
         function change_2(){
               document.getElementById('send_up_mark').checked = false;                            
           }       
        </script>
                       <div class="checkbox">
                           <label>
                               <input type="checkbox" value="mark" name="send_up" id="send_up_mark" onclick="change_1()" />
                               <p><strong><%= '标记 ' %></strong><i class="text-info">---暂时不能确认分发到哪，可以先标注，待确认后再分发.</i></p>
                           </label>
                       </div>




                       <div class="modal-footer">
                        <%= submit_tag "提交", class:"btn btn-primary", :onclick => "return postform()" %>
                       </div>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        
   
    </div>
</div>


<% end %>
</div>

<script type="text/javascript">
function postform() {  	         
    html = my_feedback.html();  

if (document.getElementById('send_up_mark').checked == true)
    {
    }
    else if (document.getElementById('send_up1').checked == false & document.getElementById('send_up2').checked == false & document.getElementById('send_up3').checked == false &  document.getElementById('send_up4').checked == false & document.getElementById('send_up_mark').checked == false)
      {                    
　　    alert("请选择接收问题的部门！");                    
　　    return false;                
　     } 
    else if (html == "")
      {                    
　　    alert("请填写问题的内容！");                    
　　    return false;                
　     }    
    
}    
</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts purchasing and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

