<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "factory_in_manual"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
            
            
            <span  style="color:#999;">
               <%= form_tag('/factory_in', method:"get", class:"form-inline") do %>
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    
                                        
                      <%= text_field_tag :order_no, params[:order_no], class:"form-control input-lg", size:"20", placeholder:"单号"%>
             
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                </div>
                <a type="button" class="btn btn-success btn-sm" href="/factory_in">料齐的订单</a>
            </div>
            <% end %>                       
            </span>
            </div>
        </div>
<br>
<%= render 'layouts/flash_messages' %>


        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
<% if not @buy_done.blank? %>   
<% @buy_done.each do |wh| %>                
<table class="table" style="padding: 0px;margin: 0px;">
<!--
  <thead>
    <tr style="background-color: #eeeeee">
      <th >订单号</th>
      <th >订单状态</th>
      <th >领料状态</th>
      <th >物料状态</th>
      <th width="80"> </th>
      <th width="75">操作</th>
    </tr>
  </thead>
-->
  <tbody>

      <tr >
<!--
        <td><%= wh.pcb_order_no_son %></td>
        <td><%= wh.state %></td>
        <td><%= wh.factory_state %></td>
        <td><%= wh.buy_type %></td>
        <td> </td>
            <td><a type="button" class="btn btn-info btn-xs" href="/factory_online_manual?order=<%= wh.pcb_order_no_son %>">申请领料</a></td>
-->


          <td width="180" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>订单号: </strong><%= wh.pcb_order_no_son %></small></td>
          <td width="180" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>订单状态: </strong><%= wh.state %></small></td>
          <td width="180" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>领料状态: </strong><%= wh.factory_state %></small></td>
          <td width="180" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>物料状态: </strong><%= wh.buy_type %></small></td>
          <td width="180" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>操作: </strong><a type="button" class="btn btn-info btn-xs" href="/factory_online_manual?order=<%= wh.pcb_order_no_son %>">申请领料</a></small></td>
      </tr>
  </tbody>



</table>
    <% if not LingLiaoDanInfo.where(pcb_order_no_son: wh.pcb_order_no_son).blank? %>
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color: #eeeeee">
                    <th>订单号</th>
                    <th>领料单号</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
            <% LingLiaoDanInfo.where(pcb_order_no_son: wh.pcb_order_no_son).each do |item| %>
                <tr>
                    <td><%= link_to item.pcb_order_no_son, edit_ling_liao_dan_path(id: item.id) %></td>
                    <td><%= item.id %></td>
                    <td><%= item.ling_liao_state %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>

<% end %>
<% end %>
        </div></div>
        </div>
    </div>












</div>



<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
