<small><div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "fu_kuan_dan_finance"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-inline" >
                    <div style="padding-bottom: 10px;">
                        <ul class="nav nav-tabs" >
                            <li <% if params[:state] == "none" %>class="active"<% end %> ><a href="/fu_kuan_dan_list?state=none">新建付款单</a></li>
                            <li <% if params[:state] == "new" %>class="active"<% end %> ><a href="/fu_kuan_dan_list?state=new">未提交审批的付款单</a></li>
                            <li <% if params[:state] == "check" %>class="active"<% end %> ><a href="/fu_kuan_dan_list?state=check">等待审批的付款单</a></li>
                            <li <% if params[:state] == "checked" %>class="active"<% end %> ><a href="/fu_kuan_dan_list?state=checked">已经审批的付款单</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 form-inline" >

                        <table class="table table-hover">
                            <thead>
                                <tr style="background-color: #eeeeee">
                                    <th width="100">新建付款单</th>
                                    <th width="70">编号</th>     
                                    <th width="70">状态</th>
                                    <th width="70">借款方式</th>
                                    <th width="150">供应商简称</th>
                                    <th>供应商全称</th>
                                </tr>
                            </thead>
                            <tbody>
<% if not @list.blank? %>
                            <% @list.each do |item| %>  
                                <tr>
                                    <% if item.fu_kuan_dan_state == "done" %>
                                    <td><a style="margin-right: 100px;" type="button" class="btn btn-success btn-xs" >已建付款单</a></td>
                                    <% else %>
                                    <td><a style="margin-right: 100px;" type="button" class="btn btn-primary btn-xs" href="/new_fu_kuan_dan?id=<%= item.id %>" >新建付款单</a></td>
                                    <% end %>
                                    <td><%= "FKSH_"+item.id.to_s %></td>
                                    <td><%= item.state %></td>
                                    <td><%= item.supplier_clearing %></td>
                                    <td><%= item.supplier_name %></td>
                                    <td><%= item.supplier_name_long %></td>
                                </tr>
                            <% end %>
<% end %>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>

</div>
</small>



<script type="text/javascript">
$(document).ready(function(){
    $("#new_customer").click(function(){
        $("#new_fu_kuan_shen_qing").modal('toggle');
        $("#find_supplier").modal({
            toggle: true,
            backdrop: "static"
        });
    }); 
});
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
