<% if can? :work_up, :all  %>
<small>
<small>
<div class="row" style="margin: 3px;padding: 0px;">
  <h2><p class="text-primary">订单数据维护</p></h2><hr>
  <%= render 'layouts/flash_messages' %>
</div>
<div class="row panel panel-default" style="margin: 1px 0px;padding: 0px;background-color: #d9edf7;" >
    
    <% if user_signed_in? %>
        <% if can? :work_a, :all %>
    <div class="col-md-7 nav navbar-nav" style="margin: 3px;padding: 0px;">
        <script>
        function change_p(){
        if (document.getElementById('collapseExampledow').className=='collapse in')
        {document.getElementById('collapseExamplebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('collapseExamplebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExampledow" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_p()">新建订单
            <span id="collapseExamplebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>       
    



        <script>
        function change_q(){
        if (document.getElementById('upWarehouse').className=='collapse in')
        {document.getElementById('upWarehousebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('upWarehousebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#upWarehouse" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_q()">更新入库数量
            <span id="upWarehousebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        



        <script>
        function change_add(){
        if (document.getElementById('addFeed').className=='collapse in')
        {document.getElementById('addFeedbut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('addFeedbut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addFeed" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_add()">更新补料状态
            <span id="addFeedbut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button> 

 
        <script>
        function change_end(){
        if (document.getElementById('order_state').className=='collapse in')
        {document.getElementById('order_statebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('order_statebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#order_state" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_end()">结单
            <span id="order_statebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button> 
<!--
        <script>
        function change_y(){
        if (document.getElementById('order_y').className=='collapse in')
        {document.getElementById('order_ybut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('order_ybut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-warning btn-sm" type="button" data-toggle="collapse" data-target="#order_y" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_y()">标注料齐
            <span id="order_ybut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button> 
-->
        <script>
        function change_r(){
        if (document.getElementById('order_r').className=='collapse in')
        {document.getElementById('order_rbut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('order_rbut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-danger btn-sm" type="button" data-toggle="collapse" data-target="#order_r" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_r()">标注异常
            <span id="order_rbut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button> 
<!--
        <%= link_to "查询料齐的订单",  {action: "index", empty_date: "ready"},class: "btn btn-warning btn-sm" %> 
        <%= link_to "查询异常的订单",  {action: "index", empty_date: "danger"},class: "btn btn-danger btn-sm" %>       
        <%= link_to "查询未填写交期的订单",  {action: "index", empty_date: "show_empty"},class: "btn btn-danger btn-sm" %>    
-->        
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">查询工具<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><%= link_to "查询料齐的订单",  {action: "index", empty_date: "ready"} %></li>
                <li><%= link_to "查询异常的订单",  {action: "index", empty_date: "danger"} %></li>
                <li><%= link_to "查询未填写交期的订单",  {action: "index", empty_date: "show_empty"} %></li>
            </ul>
         </div>
        <% end %>
    <% end %>
    </div>


    <%= form_tag('/work_flow', method:"get", class:"form-inline") do %>
       <div class="col-md-4 form-group nav navbar-nav navbar-right" style="margin: 3px;padding: 0px;">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group input-group-sm">
            <span class="input-group-addon"> 
                
                <%= radio_button :order_s, :order_s, '1'  , :checked => @order_check_1 %>全部
                
                <%= radio_button :order_s, :order_s, '2' , :checked => @order_check_2 %>已结单
                
                <%= radio_button :order_s, :order_s, '3', :checked => @order_check_3 %>未结单

                <%= radio_button :order_s, :order_s, '4', :checked => @order_check_4 %>产品代码
                
            </span>    
            <%= text_field_tag :order, params[:order], class:"form-control", size:"100%"%>          
            <span class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary" %>
            </span>
          </div>
        </div>
      <% end %>
</div>

<div class="row" style="padding-top: 7px;padding-right: 8px;padding-left: 8px;">
    <div class="col-md-6" >
    <div class="collapse" id="collapseExampledow">
        <div class="well">
                <%= form_tag('/up_work', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>下单日期 单号 数量 业务交期 产品代码</code></p>
                    <p>
                        <%= text_area_tag :order_info, params[:order_info], size:"100x10", class:"form-control"%>
                    </p>
                </div> 
                <div >
                    <%= submit_tag "提交订单", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="upWarehouse">
        <div class="well">
                <%= form_tag('/up_warehouse', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号  入库数量 </code></p>
                    <p>
                        <%= text_area_tag :warehouse_info, params[:warehouse_info], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "更新", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="order_state">
        <div class="well">
                <%= form_tag('/order_state', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号</code></p>
                    <p>
                        <%= text_area_tag :order_state, params[:order_state], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "结单", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="order_y">
        <div class="well">
                <%= form_tag('/order_state', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号</code></p>
                    <p>
                        <%= text_area_tag :order_y, params[:order_y], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "标注料齐", class:"btn btn-warning btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="order_r">
        <div class="well">
                <%= form_tag('/order_state', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号 备注</code></p>
                    <p>
                        <%= text_area_tag :order_r, params[:order_r], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "标注异常", class:"btn btn-danger btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
     <div class="collapse" id="addFeed">
        <div class="well">
                <%= form_tag('/add_feed', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号 补料状态</code></p>
                    <p>
                        <%= text_area_tag :add_feed, params[:add_feed], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "更新补料状态", class:"btn btn-danger btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    </div>
</div>




<% if @work_flow %>

<%= will_paginate(@work_flow) %>
 <div class="page_info">
      <%# page_entries_info @work_flow, :entry_name => 'item',:total_count => "aa" %>
    </div>
<% if user_signed_in? %>
    <% if can? :work_a, :all %>
<div class="row " style="padding-top: 1px;padding-right: 8px;padding-left: 8px;">
    <div class="col-lg-12 " style="margin: 0px;padding: 0px;" >
        
        <div  style="margin: 2px;padding: 0px;">
        
        <table class="table table-bordered table-condensed table-hover " >
            <thead >
                <tr nowrap="nowrap">
                    <th class="bg-primary" width="50">详细</th>
                    <th class="bg-primary" width="60">操作</th>
                    <th class="bg-primary" width="110">状态</th>
<!--
                    <th class="bg-primary">下单日期</th>
-->
                    <th class="bg-primary" width="190">单号</th>
                    <th class="bg-primary" width="50">数量</th>
<!--
                    <th class="bg-primary">业务交期</th>
                    <th class="bg-primary">产品代码</th>
-->                    
                    <th class="bg-primary" width="60">入库数量</th>
                    <th class="bg-primary" width="60">SMT</th>
                    <th class="bg-primary" width="60">DIP</th>
                    <th class="bg-primary" width="100">贴片通知生产</th>
                    <th class="bg-info" width="80"><%= link_to "贴片交期",  {action: "index", sort_date: "smd"} %><span class="caret"></span></th>
                    <th class="bg-primary" width="100">后焊通知生产</th>
                    <th class="bg-info" width="110"><%= link_to "后焊&完成交期",  {action: "index", sort_date: "dip"} %><span class="caret"></span></th>                    
 
                    <th class="bg-warning" width="85">问题提醒</th>
                    <th class="bg-primary" width="100">补料已回</th>
                    <th class="bg-primary" width="80">补料状态</th>
                    <th class="bg-info" width="80"><%= link_to "清尾完成",  {action: "index", sort_date: "clear"} %><span class="caret"></span></th>
                    <th class="bg-primary">备注</th>
                </tr>
            </thead>
            <tbody >
                <% @work_flow.each do |work| %>
                <%= form_tag('/edit_work', method:"get") do %>
                <tr <% if work.order_state.to_i == 1 %>class="success"<% elsif work.order_state.to_i == 2 %>class="warning"<% elsif work.order_state.to_i == 3 %>class="danger"<% elsif work.order_state.to_i == 4 %>class="info"<% end %> nowrap="nowrap"> 
                    <td> 
                        <script>
                            function change_<%= work.id.to_s %>(){
                                if (document.getElementById('<%= work.id.to_s + work.order_no %>').className=='collapse in')
                                    {document.getElementById('<%= work.id.to_s + "but" %>').className='glyphicon glyphicon-plus';}
                                else
                                    {document.getElementById('<%= work.id.to_s + "but" %>').className='glyphicon glyphicon-minus';}
                                }
                        </script>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#<%= work.id.to_s + work.order_no %>" aria-expanded="false" aria-controls="collapseExamplebom"  style="height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" onclick="change_<%= work.id.to_s %>()">
                            <span id="<%= work.id.to_s + 'but' %>" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td> 
                    <td>
                        
                            <%= submit_tag "更新", class:"btn btn-success btn-sm" , style:"height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td> 
                    <td>
                        <div class="btn-group" role="group-sm" aria-label="...">
                            <%= link_to "A",  {action: "edit_work", commit: "A", work_id: work.id.to_s},class: "btn btn-default btn-sm", style:"height: 25px;padding: 5px 10px;" %>                           
                            <%= link_to "C",  {action: "edit_work", commit: "C", work_id: work.id.to_s},class: "btn btn-danger btn-sm", style:"height: 25px;padding: 5px 10px;" %>
                            <%= link_to "D",  {action: "edit_work", commit: "D", work_id: work.id.to_s},class: "btn btn-info btn-sm", style:"height: 25px;padding: 5px 10px;" %> 
                           
                        </div>   
                    </td>  
<!--          
                    <td>
                        <%= work.order_date %>
                       
                    </td>
-->
                    <td class="success" nowrap="nowrap">
                        <%= text_field_tag :work_id, work.id.to_s,  class:"sr-only", size:2 , value: work.id.to_s %>
                        
                        <a tabindex="0" class="btn btn-sm  btn-info" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="订单号--<%= work.order_no %>" data-content="<%= '下单日期: '+work.order_date.to_s + '  业务交期: ' + work.salesman_end_date.to_s +  '  产品代码： ' + work.product_code.to_s %>" , style="height: 25px;padding: 3px 10px;line-height: 1.5;border-radius: 3px;">信息</a>                         
                        <%= work.order_no %>
                    </td>
                    <td class="success">
                        <%= work.order_quantity %>
                    </td>
<!--
                    <td>
                        <%= work.salesman_end_date %>
                    </td> 
                    <td>
                        <%= work.product_code %>
                    </td> 
-->                
                    <td class="success"> 
                        <%= work.warehouse_quantity %>
                    </td>
                    <td <% if work.smd =~ /[齐]/ %>class="success"<% end %>>
                        <%= text_field_tag :smd, params[:smd], id: work.id.to_s+"smd",class:"form-control input-sm",value:work.smd , size:"3", style:"height: 25px;padding: 5px 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>
                    <td <% if work.dip =~ /[齐]/ %>class="success"<% end %>>
                        <%= text_field_tag :dip, params[:dip], id: work.id.to_s+"dip",class:"form-control input-sm",value:work.dip , size:"3", style:"height: 25px;padding: 5px 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>
                    <td <% if work.smd_start_date != nil %>class="success"<% end %>>                       
                        <%= work.smd_start_date %>                                                               
                    </td> 
                    <td <% if work.smd_end_date != nil or work.smd_state != "" %>class="success"<% end %>>
                        <% if work.smd_state == "" %>
                            <%= work.smd_end_date %>  
                        <% else %>
                          <%= work.smd_state %>
                       <% end %>                                             
                    </td> 
                    <td <% if work.dip_start_date != nil %>class="success"<% end %>>
                        <%= work.dip_start_date %>                                                              
                    </td> 
                    <td <% if work.dip_end_date != nil %>class="success"<% end %>>
                        <%= work.dip_end_date %>
                    </td> 
                    
                   <td>
                       <a class="btn btn-sm <% if Topic.where(order_no: work.order_no).blank? %> btn-default disabled<% else %> btn-danger<% end %>" , style="height: 25px;padding: 3px 10px;line-height: 1.5;border-radius: 3px;">Warning</a>                                                             
                    </td>                                        
                    </td>
                    <td>
                        <%= text_field_tag :supplement_date, params[:supplement_date], id: work.id.to_s+"supplement_date",class:"form-control input-sm",value:work.supplement_date , size:"9", style:"height: 25px;padding: 5px 10px;line-height: 1.5;border-radius: 3px;" %>
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"supplement_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td>
                    <td>
                        <%= text_field_tag :feed_state, params[:feed_state], id: work.id.to_s+"feed_state",class:"form-control input-sm",value:work.feed_state , size:"7", style:"height: 25px;padding: 5px 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td> 
                    <td>
                        <%= work.clear_date %>
                    </td> 
                    <td>  
                        <%= text_field_tag :remark, params[:remark], id: work.id.to_s+"remark",class:"form-control input-sm",value:work.remark , size:"20" , style:"height: 25px;padding: 5px 10px;line-height: 1.5;border-radius: 3px;"%>
                    </td>
                </tr>
                <tr> 
                   <td colSpan="17" style="margin: 0px;padding: 0px;">
                    <div class="col-md-12" style="margin: 0px;padding: 0px;">
                        <div class="collapse" id="<%= work.id.to_s + work.order_no %>" >
                            <div class="row " style="margin: 0px;padding: 0px;">
                                <div class="col-md-12 panel panel-default" style="margin: 0px;padding: 0px;">
                                      




<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " >
        
        <div class="panel panel-primary">
            <div class="panel-heading" ><strong>反馈汇总--<%= work.order_no %></strong></div>
            <div class="panel-body">
            


            <% Topic.where(order_no: work.order_no).order("updated_at DESC").each do |fed| %>
<div class="well" style="margin: 2px;padding: 0px;">


                   <div class="row" style="padding-top: 7px;padding-left: 5px;padding-right: 20px;">
                   <div class="col-md-12" style="margin: 0px;padding: 0px;">
                   <div class="row" style="margin: 0px;padding: 0px;">
                   <div class="col-md-6" style="margin: 0px;">
                       <div class="panel panel-info" style="background-color: #d9edf7;">
                       <div style="word-break:break-all;white-space:normal;"><p style="word-break:break-all;white-space:normal;"><strong><%= raw fed.feedback %></strong></p></div>    
                       
                             
                   </div>



                   </div>
                   

                   


                          <div class="col-md-6  panel  " style="margin: 0px;">
             <% answer = Feedback.where(topic_id: fed.id, feedback_level: '1').order("created_at ")%>
             <% if not answer.blank? %>
             <% answer.each do |feed| %>
                <div class="row " >
                <div class="col-md-12  panel panel-danger " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
                       <div style="word-break:break-all;white-space:normal;"><p style="word-break:break-all;white-space:normal;"><strong><%= raw feed.feedback %></strong></p>

                        <script>
                            function change_<%= feed.id.to_s %>(){
                                if (document.getElementById('<%= feed.id.to_s + feed.order_no %>').className=='collapse in')
                                    {document.getElementById('<%= feed.id.to_s + "but" %>').className='glyphicon glyphicon-plus';}
                                else
                                    {document.getElementById('<%= feed.id.to_s + "but" %>').className='glyphicon glyphicon-minus';}
                                }
                        </script>
                        

                       <p class="text-right" style="margin: 0px;"><small><span class="text-danger" ><strong>跟单部反馈-解决方案</strong></span> 由 <span class="text-primary"><strong><%= User.where(email: feed.user_name).first.full_name %></strong></span> &raquo; <%= feed.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %><button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#<%= feed.id.to_s + feed.order_no %>" aria-expanded="false" aria-controls="collapseExamplebom"  onclick="change_<%= feed.id.to_s %>()">
                            <span id="<%= feed.id.to_s + 'but' %>" class="<%= @pic %>" aria-hidden="true"></span>
                        </button></small></p></div>                     
                </div>
                </div>
            
<div class="collapse" id="<%= feed.id.to_s + feed.order_no %>" >
             <% Feedback.where(topic_id: fed.id).order("created_at ").each do |feed| %>
                <div class="row" >
                <div class="col-md-12  panel panel-success " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
                       <div style="word-break:break-all;white-space:normal;"><p style="word-break:break-all;white-space:normal;"><strong><%= raw feed.feedback %></strong></p>
                       <p class="text-right" style="margin: 0px;"><small><% if feed.feedback_type=="production" %><span class="text-warning" ><strong>生产部反馈</strong></span><% elsif feed.feedback_type=="engineering"%><span class="text-danger" ><strong>工程部反馈</strong></span><% elsif feed.feedback_type=="sell"%><span class="text-success" ><strong>业务部反馈</strong></span><% elsif feed.feedback_type=="merchandiser"%><span class="text-info" ><strong>跟单部反馈</strong></span><% elsif feed.feedback_type=="procurement"%><span class="text-muted" ><strong>采购部反馈</strong></span><% end %> 由 <span class="text-primary"><strong><%= User.where(email: feed.user_name).first.full_name %></strong></span> &raquo; <%= feed.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></small></p></div>                   
                </div>
                </div>
            <% end %>   
</div>
            <% end %>
            <% else %> 
             <% Feedback.where(topic_id: fed.id).order("created_at ").each do |feed| %>
                <div class="row" >
                <div class="col-md-12  panel panel-success " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
                       <div style="word-break:break-all;white-space:normal;"><p style="word-break:break-all;white-space:normal;"><strong><%= raw feed.feedback %></strong></p>
                       <p class="text-right" style="margin: 0px;"><small><% if feed.feedback_type=="production" %><span class="text-warning" ><strong>生产部反馈</strong></span><% elsif feed.feedback_type=="engineering"%><span class="text-danger" ><strong>工程部反馈</strong></span><% elsif feed.feedback_type=="sell"%><span class="text-success" ><strong>业务部反馈</strong></span><% elsif feed.feedback_type=="merchandiser"%><span class="text-info" ><strong>跟单部反馈</strong></span><% elsif feed.feedback_type=="procurement"%><span class="text-muted" ><strong>采购部反馈</strong></span><% end %> 由 <span class="text-primary"><strong><%= User.where(email: feed.user_name).first.full_name %></strong></span> &raquo; <%= feed.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></small></p></div>                   
                </div>
                </div>
            <% end %>
            <% end %>




            </div>
            </div>
             <% receive = "" %>
             <% fed.feedback_receive.split(',').each do |rece| %>
             <% receive += " " + t(:"#{rece}") %>
             <% end %>
             <div style="padding-left: 15px;"><small><strong>问题编号 </strong> <span class="text-primary">No.<%= fed.id %></span><strong> 提问人 </strong><span class="text-primary"><%= User.where(email: fed.user_name).first.full_name %></span><strong> 部门 </strong><span class="text-primary"><%= t(:"#{fed.feedback_type}") %></span><strong> 当前状态 </strong><span class="text-primary"><%= receive %></span><strong> owner </strong><span class="text-primary"><%= fed.feedback_receive_user %></span><strong> 时间 </strong><span class="text-primary"><%= fed.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></span></small></div>
            
            </div>
            </div>


</div>    
<% end %>














            
            </div>
        </div>
        
   
    </div>
</div>


                                </div>
                            </div>
                            <div class="row " style="margin: 0px;padding: 0px;">
                                <div class="col-md-12 panel panel-default" style="margin-bottom: 50px;padding: 0px;">
                                    <p><span class="label label-default" >历史记录<%= work.order_no.to_s %></span></p>
                                    <table class="table table-bordered  table-hover" >
                                        <thead >
                                            <tr nowrap="nowrap" class="active">    
                                                <th class="warning" width="190">用户名</th>      
                                                <th class="warning" width="140">日期</th>
                                                <th width="140">单号</th>
                                                <th width="50">数量</th>
                                                    
                                                <th width="65">入库数量</th>
                                                <th width="50">SMD</th>
                                                <th width="50">DIP</th>
                                                <th width="90">贴片通知生产</th>
                                                <th width="85">贴片交期</th>
                                                <th width="90">后焊通知生产</th>
                                                <th width="85">后焊交期</th>                                                                    
                                                <th width="85">补料已回</th>
                                                <th width="85">清尾完成</th>                                                
                                                <th>备注</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <% Work.where(order_no: work.order_no).order("created_at DESC").each do |his| %>
                                            <tr>
                                                <td><%= his.user_name %></td>
                                                <td><%= his.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td> 
                                                <td><%= his.order_no %></td>
                                                <td><%= his.order_quantity %></td>
                                                
                                                <td><%= his.warehouse_quantity %></td>
                                                <td><%= his.smd %></td>
                                                <td><%= his.dip %></td>
                                                <td><%= his.smd_start_date %></td>
                                                <td><%= his.smd_end_date %></td>
                                                <td><%= his.dip_start_date %></td>
                                                <td><%= his.dip_end_date %></td>                                               
                                                <td><%= his.supplement_date %></td>
                                                <td><%= his.clear_date %></td>                                                
                                                <td><%= his.remark %></td>                                               
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        
        </table>
        </div>
        
   
    </div>
</div>
        <% end %>
        <% end %>

<% end %>

</small>
</small>
<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  });
</script>

<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
<% else %> 
You don't have permission to access this page
<% end %> 
