
<div class="row panel panel-default" style="margin: 1px 0px;padding: 0px;background-color: #d9edf7;">
    
    <% if user_signed_in? %>
        <% if can? :work_a, :all %>
    <div class="col-md-6 nav navbar-nav" style="margin: 3px;padding: 0px;">
        <script>
        function change_p(){
        if (document.getElementById('collapseExampledow').className=='collapse in')
        {document.getElementById('collapseExamplebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('collapseExamplebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExampledow" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_p()">新建订单
            <span id="collapseExamplebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>       
    



        <script>
        function change_q(){
        if (document.getElementById('upWarehouse').className=='collapse in')
        {document.getElementById('upWarehousebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('upWarehousebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#upWarehouse" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_q()">更新入库数量
            <span id="upWarehousebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button> 

 
        <script>
        function change_end(){
        if (document.getElementById('order_state').className=='collapse in')
        {document.getElementById('order_statebut').className='glyphicon glyphicon-plus';}
        else
        {document.getElementById('order_statebut').className='glyphicon glyphicon-minus';}
        }
        </script>
        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#order_state" aria-expanded="false" aria-controls="collapseExamplebom" onclick="change_end()">结单
            <span id="order_statebut" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>       
    <% end %>
    <% end %>
    <% if user_signed_in? %>
        <% if (can? :work_b, :all) or (can? :work_a, :all) %>
          
        <%= link_to "查询未填写交期的订单",  {action: "index", empty_date: "show_empty"},class: "btn btn-danger " %>            
    
        <% end %>
    <% end %>
    </div>


    <%= form_tag('/work_flow', method:"post", class:"form-inline") do %>
       <div class="col-md-4 form-group nav navbar-nav navbar-right" style="margin: 3px;padding: 0px;">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group">
            <span class="input-group-addon"> 
                <%= radio_button :order_s, :order_s, '1' , :checked => true %>
                <%= label :order_s_all, '全部' %>
                <%= radio_button :order_s, :order_s, '2' %> 
                <%= label :order_s_end, '已结单' %>
                <%= radio_button :order_s, :order_s, '3' %>
                <%= label :order_s_ongoing, '未结单' %>
            </span>    
            <%= text_field_tag :order, params[:order], class:"form-control ", size:"100%",  placeholder:"单号"%>          
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary " %>
            </div>
          </div>
        </div>
      <% end %>
</div>

<div class="row" style="padding-top: 7px;padding-right: 8px;padding-left: 8px;">
    <div class="col-md-6" >
    <div class="collapse" id="collapseExampledow">
        <div class="well">
                <%= form_tag('/up_work', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>下单日期 单号 数量 业务交期 产品代码</code></p>
                    <p>
                        <%= text_area_tag :order_info, params[:order_info], size:"100x10", class:"form-control"%>
                    </p>
                </div> 
                <div >
                    <%= submit_tag "提交订单", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="upWarehouse">
        <div class="well">
                <%= form_tag('/up_warehouse', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号  入库数量 </code></p>
                    <p>
                        <%= text_area_tag :warehouse_info, params[:warehouse_info], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "更新", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    <div class="collapse" id="order_state">
        <div class="well">
                <%= form_tag('/order_state', method:"post", class:"form-inline") do %>
                <div>
                    <p class="text-warning">数据格式：<code>单号</code></p>
                    <p>
                        <%= text_area_tag :order_state, params[:order_state], size:"100x10", class:"form-control"%>
                    </p>                
                </div> 
                <div >
                    <%= submit_tag "结单", class:"btn btn-info btn-lg" %>
                </div>
                <% end %> 
        </div>
    </div>
    </div>
</div>




<% if @work_flow %>

<% if user_signed_in? %>
    <% if can? :work_a, :all %>
<div class="row " style="padding-top: 1px;padding-right: 8px;padding-left: 8px;">
    <div class="col-lg-12 " style="margin: 0px;padding: 0px;" >
        
        <div  style="margin: 2px;padding: 0px;">
        
        <table class="table table-bordered table-condensed table-hover smfs">
            <thead >
                <tr>
                    <th class="bg-primary">详细</th>
                    <th class="bg-primary">操作</th>
                    <th class="bg-primary">料齐</th>
                    <th class="bg-primary">异常</th>
                    <th class="bg-primary">下单日期</th>
                    <th class="bg-primary">单号</th>
                    <th class="bg-primary">数量</th>
                    <th class="bg-primary">业务交期</th>
                    <th class="bg-primary">产品代码</th>
                    
                    <th class="bg-primary">入库数量</th>
                    <th class="bg-primary">SMD</th>
                    <th class="bg-primary">DIP</th>
                    <th class="bg-primary">贴片通知生产</th>
                    <th class="bg-info">贴片交期</th>
                    <th class="bg-primary">后焊通知生产</th>
                    <th class="bg-info">后焊交期</th>
                    <th class="bg-primary">更改交期</th>
 
                    <th class="bg-warning">生产反馈</th>

                    <th class="bg-danger">测试反馈</th>

                    <th class="bg-primary">补料已回</th>
                    <th class="bg-info">清尾完成</th>
                    <th class="bg-primary">业务状态</th>

                    <th class="bg-primary">备注</th>
                </tr>
            </thead>
            <tbody >
                <% @work_flow.each do |work| %>
                <%= form_tag('/edit_work', method:"post") do %>
                <tr <% if work.order_state.to_i == 1 %>class="success"<% elsif work.order_state.to_i == 2 %>class="warning"<% elsif work.order_state.to_i == 3 %>class="danger"<% end %> > 
                    <td> 
                        <script>
                            function change_<%= work.id.to_s %>(){
                                if (document.getElementById('<%= work.id.to_s + work.order_no %>').className=='collapse in')
                                    {document.getElementById('<%= work.id.to_s + "but" %>').className='glyphicon glyphicon-plus';}
                                else
                                    {document.getElementById('<%= work.id.to_s + "but" %>').className='glyphicon glyphicon-minus';}
                                }
                        </script>
                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#<%= work.id.to_s + work.order_no %>" aria-expanded="false" aria-controls="collapseExamplebom"  style="height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" onclick="change_<%= work.id.to_s %>()">
                            <span id="<%= work.id.to_s + 'but' %>" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td> 
                    <td>
                        
                            <%= submit_tag "更新", class:"btn btn-info btn-sm" , style:"height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>
                    </td> 
                    <td>
                            <%= submit_tag "料齐", class:"btn btn-warning btn-sm" , style:"height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>
                    </td> 
                    <td>
                            <%= submit_tag "异常", class:"btn btn-danger btn-sm" , style:"height: 25px;padding: 1px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>
                        
                    </td>             
                    <td>
                        <%= text_field_tag :work_id, work.id.to_s,  class:"sr-only", size:2 , value: work.id.to_s %>
                        <%= work.order_date %>
                       
                    </td>
                    <td>
                        <%= work.order_no %>
                    </td>
                    <td>
                        <%= work.order_quantity %>
                    </td>
                    <td>
                            <%= text_field_tag :salesman_end_date, params[:salesman_end_date], id: work.id.to_s+"salesman_end_date",class:"form-control input-sm",value:work.salesman_end_date , size:"8", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>                                       
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"salesman_end_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    <td>
                        <%= text_field_tag :product_code, params[:product_code], id: work.id.to_s+"product_code",class:"form-control input-sm",value:work.product_code, size:"15", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>                 
                    




                    <td> 
                        <%= work.warehouse_quantity %>
                    </td>
                    <td>
                        <%= text_field_tag :smd, params[:smd], id: work.id.to_s+"smd",class:"form-control input-sm",value:work.smd , size:"1", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>
                    <td>
                        <%= text_field_tag :dip, params[:dip], id: work.id.to_s+"dip",class:"form-control input-sm",value:work.dip , size:"1", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>
                    <td>
                        <%= text_field_tag :smd_start_date, params[:smd_start_date], id: work.id.to_s+"smd_start_date",class:"form-control input-sm",value:work.smd_start_date , size:"8", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>                                       
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"smd_start_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    <td>
                        <%= work.smd_end_date %>                                               
                    </td> 
                    <td>
                        <%= text_field_tag :dip_start_date, params[:dip_start_date], id: work.id.to_s+"dip_start_date",class:"form-control input-sm",value:work.dip_start_date , size:"8", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>                                       
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"dip_start_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    <td>
                        <%= work.dip_end_date %>
                    </td> 
                    <td>
                        <%= text_field_tag :update_date, params[:update_date], id: work.id.to_s+"update_date",class:"form-control input-sm",value:work.update_date , size:"8", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>                                       
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"update_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td> 
                    



                   <td>
                       <a tabindex="0" class="btn btn-sm <% if work.production_feedback == "" %> btn-default disabled<% else %> btn-danger<% end %>" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="生产反馈--<%= work.order_no %>" data-content="<%= work.production_feedback %>" , style="height: 25px;padding: 3px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;">SHOW</a>                                                             
                    </td> 
                    <td>
                        <a tabindex="0" class="btn btn-sm <% if work.test_feedback == "" %> btn-default disabled<% else %> btn-danger<% end %>" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="测试反馈--<%= work.order_no %>" data-content="<%= work.test_feedback %>" , style="height: 25px;padding: 3px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;">SHOW</a>                       
                    </td>
                    <td>
                        <%= text_field_tag :supplement_date, params[:supplement_date], id: work.id.to_s+"supplement_date",class:"form-control input-sm",value:work.supplement_date , size:"8", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                        <script type="text/javascript">
                          $(function () {
                            $('#<%= work.id.to_s+"supplement_date" %>').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                        </script>
                    </td>
                    <td>
                        <%= work.clear_date %>
                    </td> 
                    <td>
                        <%= text_field_tag :salesman_state, params[:salesman_state], id: work.id.to_s+"salesman_state",class:"form-control input-sm",value:work.salesman_state , size:"15", style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;" %>
                    </td>
                    <td>  
                        <%= text_field_tag :remark, params[:remark], id: work.id.to_s+"remark",class:"form-control input-sm",value:work.remark , size:"22" , style:"height: 25px;padding: 5px 10px;font-size: 10px;line-height: 1.5;border-radius: 3px;"%>
                    </td>
                </tr>
                <tr> 
                   <td colSpan="22" style="margin: 0px;padding: 0px;">
                    <div class="col-md-12" style="margin: 0px;padding: 0px;">
                        <div class="collapse" id="<%= work.id.to_s + work.order_no %>" >
                            <div class="row " style="margin: 0px;padding: 0px;">
                                <div class="col-md-12 panel panel-default" style="margin: 0px;padding: 0px;">
                                    <table width="100%" class="table table-bordered">
                                        <tr width="100%">  
                                            <td width="50%">
                                                
                                                <p><span class="label label-warning" style="font-size: 13px;">生产反馈<%= work.order_no.to_s %></span></p>
                                                <p><%= work.production_feedback %></p>
                                                
                                            </td>
                                            <td width="50%">
                                                
                                                <p><span class="label label-danger" style="font-size: 13px;">测试反馈<%= work.order_no.to_s %></span></p>
                                                <p><%= work.test_feedback %></p>
                                                
                                            </td>     
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row " style="margin: 0px;padding: 0px;">
                                <div class="col-md-12 panel panel-default" style="margin: 0px;padding: 0px;">
                                    <p><span class="label label-default" style="font-size: 13px;">历史记录<%= work.order_no.to_s %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
        </div>
        
   
    </div>
</div>
        <% end %>
        <% end %>

<% end %>


<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  });
  
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

