<div class="container-fluid" >
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "supplier_manage_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>
            <div class="row "><div class="col-md-12">   
                <div>
        <% if can? :work_admin, :all %>
            <div style="padding-bottom: 10px;" data-toggle="modal" data-target="#new_supplier">
            <a type="button" class="btn btn-primary btn-sm">新建供应商</a>
            
            </div>
        <% end %>
                </div>
            </div></div>
           

            <div class="row "><div class="col-md-12">
            <div class="panel panel-info">                
                <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #eeeeee">
                            <th width="30"></th>
                            <th width="80">供应商简称</th>
                            <th width="80">供应商代码</th>
                            <th width="80">物料代码</th>
                            <th width="80">物料分类</th>
                            <th width="50">税点</th>
                            <th width="80">结算方式</th>
                            <th>备注</th>
                            <th>供应商全称</th>
                            <th>经营产品类型</th>
                            <th>供应商类型</th>
                            <th>供应商地址</th>
                            <th>开票全称</th>
                            <th width="80">联系人</th>
                            <th width="100">联系电话</th>
                            <th width="100">联系QQ</th>
                        </tr>
                    </thead>
                    <tbody id="biaoge">
                        <% if @supplier %>
                        <% @supplier.each do |su| %>
                        <tr>
                            <td><span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edit_supplier" data-supplier_name="<%= su.supplier_name %>" data-supplier_code="<%= su.supplier_code %>" data-supplier_part_type_code="<%= su.supplier_part_type_code %>" data-supplier_part_type="<%= su.supplier_part_type %>" data-supplier_tax="<%= su.supplier_tax %>" data-supplier_clearing="<%= su.supplier_clearing %>" data-supplier_remark="<%= su.supplier_remark %>" data-supplier_name_long="<%= su.supplier_name_long %>" data-supplier_label="<%= su.supplier_label %>" data-supplier_type="<%= su.supplier_type %>" data-supplier_address="<%= su.supplier_address %>" data-supplier_invoice_fullname="<%= su.supplier_invoice_fullname %>" data-supplier_contacts="<%= su.supplier_contacts %>" data-supplier_phone="<%= su.supplier_phone %>" data-supplier_qq="<%= su.supplier_qq %>" data-supplier_id="<%= su.id %>"></span></td>
                            <td><%= su.supplier_name %></td>
                            <td><%= su.supplier_code %></td>
                            <td><%= su.supplier_part_type_code %></td>
                            <td><%= su.supplier_part_type %></td>
                            <td><%= su.supplier_tax %></td>
                            <td><%= su.supplier_clearing %></td>
                            <td><%= su.supplier_remark %></td>
                            <td><%= su.supplier_name_long %></td>
                            <td><%= su.supplier_label %></td>
                            <td><%= su.supplier_type %></td>
                            <td><%= su.supplier_address %></td>
                            <td><%= su.supplier_invoice_fullname %></td>
                            <td><%= su.supplier_contacts %></td>
                            <td><%= su.supplier_phone %></td>
                            <td><%= su.supplier_qq %></td>
                        </tr>
                        <% end %>
                        <% end %>                                
                    </tbody>
                </table>             
            </div>
            </div></div>

       
       </small></div>
    </div>


<div class="modal fade" id="new_supplier" tabindex="-1" role="dialog" aria-labelledby="new_supplierLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_supplierLabel">新建MOKO供应商</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({action: :new_moko_supplier},method:"post") do %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_name" class="input-group-addon"><strong>供应商简称:</strong></span>
                  <input class="form-control" name="supplier_name" id="supplier_name" type="text"  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商代码:</strong></span>
                  <input class="form-control" name="supplier_code" id="supplier_code" type="text" >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>物料代码:</strong></span>
                  <input class="form-control" name="supplier_part_type_code" id="supplier_part_type_code" type="text">
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>物料分类:</strong></span>
                  <input class="form-control" name="supplier_part_type" id="supplier_part_type" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>税点:</strong></span>
                  <input class="form-control" name="supplier_tax" id="supplier_tax" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>结算方式:</strong></span>
                  <input class="form-control" name="supplier_clearing" id="supplier_clearing" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系人:</strong></span>
                  <input class="form-control" name="supplier_contacts" id="supplier_contacts" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系电话:</strong></span>
                  <input class="form-control" name="supplier_phone" id="supplier_phone" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系QQ:</strong></span>
                  <input class="form-control" name="supplier_qq" id="supplier_qq" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商全称:</strong></span>
                  <input class="form-control" name="supplier_name_long" id="supplier_name_long" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商类型:</strong></span>
                  <input class="form-control" name="supplier_type" id="supplier_type" type="text">
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label for="supplier_invoice_fullname" class="control-label">开票全称:</label>
            <input class="form-control" name="supplier_invoice_fullname" id="supplier_invoice_fullname" type="text">
          </div>
          <div class="form-group">
            <label for="supplier_address" class="control-label">供应商地址:</label>
            <textarea class="form-control" name="supplier_address" id="supplier_address" ></textarea>
          </div>
          <div class="form-group">
            <label for="supplier_label" class="control-label">经营产品类型:</label>
            <textarea class="form-control" name="supplier_label" id="supplier_label" ></textarea>
          </div>
          <div class="form-group">
            <label for="supplier_remark" class="control-label">备注:</label>
            <textarea class="form-control" name="supplier_remark" id="supplier_remark" ></textarea>
          </div>       
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_supplier" tabindex="-1" role="dialog" aria-labelledby="edit_supplierLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit_supplierLabel">修改MOKO供应商</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({action: :edit_moko_supplier},method:"post") do %>
          <div class="form-group sr-only">
            <label for="edit_supplier_id" class="control-label">id:</label>
            <input class="form-control" name="supplier_id" id="edit_supplier_id" type="text">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_name" class="input-group-addon"><strong>供应商简称:</strong></span>
                  <input class="form-control" name="supplier_name" id="edit_supplier_name" type="text"  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商代码:</strong></span>
                  <input class="form-control" name="supplier_code" id="edit_supplier_code" type="text" >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>物料代码:</strong></span>
                  <input class="form-control" name="supplier_part_type_code" id="edit_supplier_part_type_code" type="text">
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>物料分类:</strong></span>
                  <input class="form-control" name="supplier_part_type" id="edit_supplier_part_type" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>税点:</strong></span>
                  <input class="form-control" name="supplier_tax" id="edit_supplier_tax" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>结算方式:</strong></span>
                  <input class="form-control" name="supplier_clearing" id="edit_supplier_clearing" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系人:</strong></span>
                  <input class="form-control" name="supplier_contacts" id="edit_supplier_contacts" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系电话:</strong></span>
                  <input class="form-control" name="supplier_phone" id="edit_supplier_phone" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>联系QQ:</strong></span>
                  <input class="form-control" name="supplier_qq" id="edit_supplier_qq" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商全称:</strong></span>
                  <input class="form-control" name="supplier_name_long" id="edit_supplier_name_long" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <span for="supplier_code" class="input-group-addon"><strong>供应商类型:</strong></span>
                  <input class="form-control" name="supplier_type" id="edit_supplier_type" type="text">
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label for="edit_supplier_invoice_fullname" class="control-label">开票全称:</label>
            <input class="form-control" name="supplier_invoice_fullname" id="edit_supplier_invoice_fullname" type="text">
          </div>
          <div class="form-group">
            <label for="edit_supplier_address" class="control-label">供应商地址:</label>
            <textarea class="form-control" name="supplier_address" id="edit_supplier_address" ></textarea>
          </div>
          <div class="form-group">
            <label for="edit_supplier_label" class="control-label">经营产品类型:</label>
            <textarea class="form-control" name="supplier_label" id="edit_supplier_label" ></textarea>
          </div>
          <div class="form-group">
            <label for="edit_supplier_remark" class="control-label">备注:</label>
            <textarea class="form-control" name="supplier_remark" id="edit_supplier_remark" ></textarea>
          </div>       
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>



</div>
<script>
$('#edit_supplier').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var supplier_id = button.data('supplier_id')
  var supplier_name = button.data('supplier_name')
  var supplier_code = button.data('supplier_code')
  var supplier_part_type_code = button.data('supplier_part_type_code')
  var supplier_part_type = button.data('supplier_part_type')
  var supplier_tax = button.data('supplier_tax')
  var supplier_clearing = button.data('supplier_clearing')
  var supplier_remark = button.data('supplier_remark')
  var supplier_name_long = button.data('supplier_name_long')
  var supplier_label = button.data('supplier_label')
  var supplier_type = button.data('supplier_type')
  var supplier_address = button.data('supplier_address')
  var supplier_invoice_fullname = button.data('supplier_invoice_fullname')
  var supplier_contacts = button.data('supplier_contacts')
  var supplier_phone = button.data('supplier_phone')
  var supplier_qq = button.data('supplier_qq')
  var modal = $(this)
  modal.find($("#edit_supplier_id")).val(supplier_id)
  modal.find($("#edit_supplier_name")).val(supplier_name)
  modal.find($("#edit_supplier_code")).val(supplier_code)
  modal.find($("#edit_supplier_part_type_code")).val(supplier_part_type_code)
  modal.find($("#edit_supplier_part_type")).val(supplier_part_type)
  modal.find($("#edit_supplier_tax")).val(supplier_tax)
  modal.find($("#edit_supplier_clearing")).val(supplier_clearing)
  modal.find($("#edit_supplier_remark")).html(supplier_remark)
  modal.find($("#edit_supplier_name_long")).val(supplier_name_long)
  modal.find($("#edit_supplier_label")).html(supplier_label)
  modal.find($("#edit_supplier_type")).val(supplier_type)
  modal.find($("#edit_supplier_address")).html(supplier_address)
  modal.find($("#edit_supplier_invoice_fullname")).val(supplier_invoice_fullname)
  modal.find($("#edit_supplier_contacts")).val(supplier_contacts)
  modal.find($("#edit_supplier_phone")).val(supplier_phone)
  modal.find($("#edit_supplier_qq")).val(supplier_qq)
})
</script>

<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
