<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
<!--
        <h3><strong>PCB Order list ---新建订单列表</strong>
-->
        
        </h3>
        <div class="col-md-1 list-group" style="padding: 0px;">
            <div class="alert alert-info text-center" role="alert" style="padding: 10px 10px 0px;margin: 0px;"><h4 ><strong>PCB业务</strong></h4></div>
            <%= link_to "新建订单列表", pcb_order_list_path(new: true) ,class: "list-group-item active"%>
            <%= link_to "等待报价", pcb_order_list_path(quote: true) ,class: "list-group-item "%> 
            <%= link_to "等待下单", pcb_order_list_path(place_an_order: true) ,class: "list-group-item"%>  
            <%= link_to "等待财务审批", pcb_order_list_path ,class: "list-group-item"%>
            <%= link_to "等待采购下单", pcb_order_list_path ,class: "list-group-item"%>
            <%= link_to "等待入库", pcb_order_list_path ,class: "list-group-item"%>       
            <%= link_to "已经入库", pcb_order_list_path ,class: "list-group-item"%>  
        </div>
        <div class="col-md-11" style="padding-top: 10px;">

<div class="row" style="margin: 0px;padding: 0px;" >
<br>
  <ul class="nav nav-tabs" >
      <li role="presentation" ><a href="/sell_pcb_baojia"><h4 ><strong><p class="text-primary" >PCB客户信息表</p></strong></h4></a></li>
      <li role="presentation" class="active"><a href="/pcb_order_list?new=true"><h4 ><strong><p class="text-primary" >新建PCB订单列表</p></strong></h4></a></li>
  </ul>
<br>
  <%= render 'layouts/flash_messages' %>
</div>




        <% if can? :work_pcb_business, :all and can? :work_e, :all %>
            <div style="padding: 10px;">
            <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addOrdert">新建PCB订单</button>
            </div>
        <% end %>
<%= will_paginate(@pcblist) %>            
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="130">Order No.</th>
      <th width="80">客户代码</th>
      <th width="150">Created Date</th>
      <th width="80">数量</th>
      <th width="50">附件</th>
      <th width="100">所属业务员</th>
      <th width="100">跟踪业务员</th>
      <th >跟踪备注</th>
<% if can? :work_pcb_business, :all %>
      <th width="50">删除</th>
<% end %>
      <th width="120">发送到采购报价</th>
    </tr>
  </thead>
  <tbody>
    <% @pcblist.each do |pcb| %>   
      <tr >
        <% if can? :work_pcb_business, :all and can? :work_e, :all %>
            <td><a data-toggle="modal" data-target="#updatePrice" data-customer="<%= PcbCustomer.find(pcb.pcb_customer_id).customer %>" data-qty="<%= pcb.qty %>" data-sell="<%= pcb.sell %>" data-order_sell="<%= pcb.order_sell %>" data-order_no="<%= pcb.order_no %>" data-followedit_remark="<%= pcb.follow_remark %>"><%= pcb.order_no %></a></td>
        <% else %>
            <td><%= pcb.order_no %></td>
        <% end %>
        <td><%= PcbCustomer.find(pcb.pcb_customer_id).c_no %></td>
        <td><%= pcb.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td><%= pcb.qty %></td>
        <td>
            <% if not pcb.att.blank? %>
                <a href="<%= pcb.att.url %>">下载</a>
            <% else %>
                无
            <% end %>
        </td>
        <td><%= User.find_by(email: pcb.sell).full_name %></td>
        <td><%= User.find_by(email: pcb.order_sell).full_name %></td>
        <td><%= pcb.follow_remark %></td>
<% if can? :work_pcb_business, :all %>
        <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/del_pcb_order?order_id=<%= pcb.id.to_s %>" data-confirm="确定要删除?">删除</a></div></td>
<% end %>
        <% if can? :work_pcb_business, :all and can? :work_e, :all %>
            <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/release_pcb_to_quote?bom_id=<%= pcb.id.to_s %>" data-confirm="确定要发送给采购部?">发送给采购部报价</a></div></td>
        <% else %>
            <td><div class="btn-group"><a class="btn btn-danger disabled" >发送给采购部报价</a></div></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
    </div>









<div class="modal fade" id="addOrdert" tabindex="-1" role="dialog" aria-labelledby="addOrdertLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">Add a new PCB Order</h4>
      </div>
      
      <div class="modal-body">        
          <div class="form-inline">
             <%= form_tag('/find_c', method:"get", class:"form-inline",remote: true) do %>
               <div class="form-group ">
                  <lable for="order" , class="control-label"><strong>客户代码: </strong></lable>
                  <div class="input-group input-group-sm">              
                    <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"30"%>               
                    <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                    </div>
                  </div>
              </div>
            <% end %>             
          </div> 
          <div class="form-group" id="table_code">


          </div>
      
      <%= form_tag({action: :add_pcb_order},method:"post",multipart:"true",id: "order_form") do %>
<!--
          <div class="form-group">
            <a id="change_s" class="" data-method="get" data-remote="true" href=""></a>
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="qty" name="qty">
          </div> 
-->
          <div class="form-group">
            <label for="sell_manager_remark" class="control-label">附件:</label>
            <input name="att" id="att" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>Note: please upload the Compressed file. (only allow you to upload the zip, rar, gz, bz2, 7z file)</code>
          </div> 
          <div class="form-group">
            <label for="followedit_remark" class="control-label">跟踪备注:</label><code>注意：请包含要报价的数量。</code>
            <textarea  class="form-control" id="followedit_remark" name="follow_remark"></textarea>
          </div>
          <div class="form-group sr-only">
            <a id="change_s" class="" data-method="get" data-remote="true" href=""></a>
            <label for="customerd" class="control-label">客户代码id:</label>
            <input type="text" class="form-control" id="customerd" name="customer" readonly>
          </div>
          <div class="form-group">
            <a id="change_s" class="" data-method="get" data-remote="true" href=""></a>
            <label for="c_no" class="control-label">客户代码:</label>
            <input type="text" class="form-control" id="c_nod" name="c_no" readonly>
          </div>
          <div class="form-group">
            <a id="change_s" class="" data-method="get" data-remote="true" href=""></a>
            <label for="sell" class="control-label">所属业务员:</label>
            <input type="text" class="form-control" id="selld" name="sell" readonly>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform()">
      </div>
     <% end %>
    </div>
  </div>
</div>





<div class="modal fade" id="updatePrice" tabindex="-1" role="dialog" aria-labelledby="updatePriceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">Update PCB Order price</h4>
      </div>
      <%= form_tag({action: :update_pcb_price},method:"post",multipart:"true",id: "order_form") do %>
      <div class="modal-body">        
          <div class="form-group">
            <label for="customer" class="control-label">Order NO.:</label>
            <input type="text" class="form-control" id="order_no" name="order_no" readonly>
          </div>
          <div class="form-group">
            <label for="customer" class="control-label">客户:</label>
            <input type="text" class="form-control" id="u_customer" name="customer" readonly>
          </div>       
<!--
          <div class="form-group">
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="u_qty" name="qty" >
          </div> 
-->
          <div class="form-group">
            <label for="sell_manager_remark" class="control-label">附件:</label>
            <input name="att" id="att" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>Note: please upload the Compressed file. (only allow you to upload the zip, rar, gz, bz2, 7z file)</code>
          </div> 
          <div class="form-group">
            <label for="followedit_remark" class="control-label">跟踪备注:</label><code>注意：请包含要报价的数量。</code>
            <textarea  class="form-control" id="followedit_remark_up" name="follow_remark"></textarea>
          </div>
          <div class="form-group">
            <label for="qty" class="control-label">所属业务员:</label>
            <input type="text" class="form-control" id="u_sell" name="sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员:</label>
            <input type="text" class="form-control" id="u_order_sell" name="order_sell" readonly>
          </div> 
<!--
          <div class="form-group">
            <label for="qty" class="control-label">报价:</label>
            <input type="text" class="form-control" id="price" name="price" >
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">备注:</label>
            <input type="text" class="form-control" id="remark" name="remark" >
          </div> 
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>









</div>




<script>
function get_options(value){
    var urla='/work_flow/select_pcbcustomer_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
  }

$('#updatePrice').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var order_no = button.data('order_no') 
  var customer = button.data('customer')
  var qty = button.data('qty')
  var sell = button.data('sell')
  var order_sell = button.data('order_sell')
  var followedit_remark = button.data('followedit_remark')
  var modal = $(this)
  modal.find($("#order_no")).val(order_no)
  modal.find($("#u_customer")).val(customer)
  modal.find($("#u_qty")).val(qty)
  modal.find($("#u_sell")).val(sell)
  modal.find($("#u_order_sell")).val(order_sell)
  modal.find($("#followedit_remark_up")).html(followedit_remark)
})
</script>
<script type="text/javascript">
function postform() {  	         
      html = $("#c_nod").val();     
      //alert(html);
      if (html == "")
      {                    
　　    alert("请选择客户代码！");                    
　　    return false;                
　     }
      if ($("#followedit_remark").val() == "")
      {                    
　　    alert("请填写备注，备注中应包含数量！");                    
　　    return false;                
　     }

}    
</script>

<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
