<% content_for :erp_header do %>
    <%= render partial: "work_flow/erp_header", locals: {selected: "pcb_draft_list"} %>
<% end %>
<div class="container-fluid" >
    <div class="row" >

            <ol class="breadcrumb" style="padding: 8px 30px;">
                <li class="active">未提交的</li>
                <li><a href="/pcb_order_list?bom_chk=true">待BOM检查</a></li>
                <li><a href="/pcb_order_list?quote=true">待报价</a></li>
                <li><a href="/pcb_order_list?quotechk=true">已报价</a></li>           
                <% if can? :work_e, :all %>            
                <b style="margin-left: 30%;margin-right: 40%;"><a type="button" class="btn btn-info btn-sm"   href="/new_pcb_order?new=true">新建询价</a></b>
                <% end %>
            </ol>

    </div>
    <div class="row" style="padding-ltft: 10px;padding-right: 10px;">
      <div class="col-md-12" >
        <%= render 'layouts/flash_messages' %>

        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
            <span  style="color:#999;">
               <%= form_tag('/pcb_order_list', method:"get", class:"form-inline") do %>
               
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    
                                        
                  <% if @key_order %>   
                      <%= text_field_tag :key_order, @key_order, class:"form-control  input-lg", size:"30"%>     
                  <% else %> 
                      <%= text_field_tag :key_order, params[:key_order], class:"form-control input-lg", size:"100", placeholder:"询价单号，项目名称，项目描述，客户代码，客户名，业务邮箱，备注"%>
                  <% end %>   
                  <div class="input-group input-group-sm sr-only">
                      <%= text_field_tag :new, 'new', class:"form-control  input-lg"  %> 
                  </div>           
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                </div>

            </div>
            <% end %>                       
            </span>
            </div>
        </div>
<br>













    <% @pcblist.each_with_index do |pcb,index| %>   
      <div class="row">
        <div class="col-md-12" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
            <% if not pcb.pcb_customer_id.blank? %>
              <div class="col-md-3" ><%= index+1 %>询价单号:  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no,c_id: pcb.pcb_customer_id) %></div>
            <% else %>
              <div class="col-md-3"><%= index+1 %>询价单号:  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no) %></div>
            <% end %>
            <div class="col-md-3">业务员: <%= User.find_by(email: pcb.order_sell).full_name %></div>
            <div class="col-md-3">日期: <%= pcb.created_at.localtime.strftime('%Y-%m-%d').to_s %></div>
        
            <% if can? :work_e, :all %>
            <div class="col-md-3">
              <div class="pull-right" >
              
              <%= link_to "修改", edit_pcb_order_path(order_no: pcb.order_no,c_id: pcb.pcb_customer_id),class:"" %>
              <a class="" data-method='get'  href="/del_pcb_order?order_id=<%= pcb.id.to_s %>" data-confirm="确定要删除?">删除</a>
              <%= link_to "提交", update_pcb_order_path(p_no: pcb.order_no,p_name: pcb.p_name,commit: "提交"),class:"" %>
              </div>
            </div>
            <% end %>   
            </div>
        </div> 
        <table class="table table-condensed">
          <% if not PcbOrderSellItem.where(pcb_order_no: pcb.order_no).blank?%>
          <thead>
          <tr >
            <th class="text-center">英文描述</th>
            <th class="text-center">中文描述</th>
            <th class="text-center" width="100">数量</th>
            <th class="text-center">备注</th>
            <th width="50"></th>
            <th width="50"></th>
          </tr>
          </thead>
          <% PcbOrderSellItem.where(pcb_order_no: pcb.order_no).each do |item| %>
              
              <tr >
                  <td class="text-center"><%= item.des_en %></td>
                  <td class="text-center"><%= item.des_cn %></td>
                  <td class="text-center"><%= item.qty %></td>
                  <td class="text-center"><%= item.remark %></td>
                  
                  <% if can? :work_e, :all %>
                  <td class="text-center"><a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#editsellitem" data-edit_c_item_id="<%= item.id %>"   data-edit_des_en="<%= item.des_en %>" data-edit_des_cn="<%= item.des_cn %>" data-edit_qty="<%= item.qty %>" data-edit_follow_remark="<%= item.remark %>"></a></td>
                   <td class="text-center"><a class="glyphicon glyphicon-remove" href="/del_pcb_order_sell_item?id=<%= item.id %>" data-confirm="确定要删除?"></a></td>
                  <% end %>
                  
                  
              </tr>
              
            <% end %>
          <% end %>
        </table>
        </div>  
      </div>
      </div> 
    <% end %>
<%= will_paginate(@pcblist) %>
    </div>
  </div>
</div>


<div class="modal fade" id="editsellitem" tabindex="-1" role="dialog" aria-labelledby="editsellitemLabel">
<div class="modal-dialog modal-lg"><small>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editsellModalLabel"><strong>修改询价信息 </strong></h4>
        </div>
        
        <div class="modal-body">
            
            <%= form_tag({action: :edit_pcb_order_sell_item},method:"post",multipart:"ture",id: "order_form") do %>  
            <div class="form-group sr-only">         
                <label for="edit_c_item_id_sell" class="control-label">itemid:</label>
                <input type="text" class="form-control" id="edit_c_item_id_sell" name="edit_c_item_id_sell">
            </div> 
            
            <div class="form-group">
              <label for="sell_manager_remark" class="control-label">附件:</label>
              <input name="edit_att_sell" id="edit_att_sell" type="file" accept=".zip,.rar,.gz,.bz2,.7z" style="display: block;  text-align: right;  z-index: 999999; cursor: pointer;" ><code>注意：请上传压缩文件. (只允许上传 zip, rar, gz, bz2, 7z 文件)</code>
            </div> 
            <div class="form-group">         
              <label for="des_en" class="control-label">PI英文描述:</label>
              <input type="text" class="form-control" id="edit_des_en_sell" name="edit_des_en_sell">
            </div> 
            <div class="form-group">         
              <label for="des_cn" class="control-label">中文描述:</label>
              <input type="text" class="form-control" id="edit_des_cn_sell" name="edit_des_cn_sell">
            </div> 
            <div class="form-group">
              <label for="qty" class="control-label">数量:</label>
              <input autocomplete="off" type="number" class="form-control" id="edit_qty_sell" name="edit_qty_sell">
            </div> 
            <div class="form-group">
              <label for="follow_remark" class="control-label">备注:</label><code>注意：如果需要多个数量的报价，请在备注中包含要报价的数量。</code>
              <textarea  class="form-control" id="edit_follow_remark_sell" name="edit_follow_remark_sell"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" onclick="return postform_edit_sell()">
        </div>
        <% end %>
    </div></small>
  </div>
</div>





<script type="text/javascript">

$('#editsellitem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var edit_c_item_id_sell = button.data('edit_c_item_id');
  var edit_des_en_sell = button.data('edit_des_en');
  var edit_des_cn_sell = button.data('edit_des_cn');  
  var edit_qty_sell = button.data('edit_qty'); 
  var edit_follow_remark_sell = button.data('edit_follow_remark');                       
  var modal = $(this);
  modal.find($("#edit_c_item_id_sell")).val(edit_c_item_id_sell);
  modal.find($("#edit_des_en_sell")).val(edit_des_en_sell);
  modal.find($("#edit_des_cn_sell")).val(edit_des_cn_sell);
  modal.find($("#edit_qty_sell")).val(edit_qty_sell);
  modal.find($("#edit_follow_remark_sell")).html(edit_follow_remark_sell);
})



function postform_edit_sell() {  	         
      if ($("#edit_qty_sell").val() == "")
      {                    
　　    alert("请填写数量！");                    
　　    return false;                
　     }  
}  




$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
   
</script>

<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
