<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "pcb_draft_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">

<div class="row" style="margin: 0px;padding: 0px;" >
<!--
<br>
  <ul class="nav nav-tabs" >
      <li role="presentation" ><a href="/sell_pcb_baojia"><h5 ><strong><p class="text-primary" >PCB客户信息表</p></strong></h5></a></li>
      <li role="presentation" class="active"><a href="/pcb_order_list?new=true"><h5 ><strong><p class="text-primary" >询价草稿列表</p></strong></h5></a></li>
  </ul>
<br>
-->
  <%= render 'layouts/flash_messages' %>
</div>




        <% if can? :work_e, :all %>
            <div style="padding: 10px;">
            <a  type="button" class="btn btn-primary btn-sm"  href="/new_pcb_order?new=true">新建询价</a>
            
            </div>
        <% end %>
<%= will_paginate(@pcblist) %>            
<table class="table" >
  <thead >
    <tr style="background-color: #eeeeee;">
      <th width="220">询价单号</th>
      <th width="80">客户代码</th>
      <th >客户</th>
      <th width="150">日期</th>
      <th width="100">所属业务员</th>
      <th width="100">跟踪业务员</th>
      <th >跟踪备注</th>
<% if can? :work_e, :all %>
      <th width="50">删除</th>
<% end %>
<!--
      <th width="120">发送到采购报价</th>
-->
    </tr>
  </thead>
  <tbody ><small>
    <% @pcblist.each do |pcb| %>   
      <tr >
        <% if not pcb.pcb_customer_id.blank? %>
            <td width="220" style="border-top:0px none #ddd;">  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no,c_id: pcb.pcb_customer_id) %></td>
        <% else %>
            <td width="220" style="border-top:0px none #ddd;">  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no) %></td>
        <% end %>
        <td width="80" style="border-top:0px none #ddd;"><%= pcb.c_code %></td>
        <td style="border-top:0px none #ddd;"><%= pcb.c_des %></td>
        <td width="150" style="border-top:0px none #ddd;"><%= pcb.created_at.localtime.strftime('%Y-%m-%d').to_s %></td>
        <td style="border-top:0px none #ddd;"></td>
        <td width="100" style="border-top:0px none #ddd;"><%= User.find_by(email: pcb.order_sell).full_name %></td>
        <td style="border-top:0px none #ddd;"><%= pcb.follow_remark %></td>
<% if can? :work_e, :all %>
        <td style="border-top:0px none #ddd;"><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/del_pcb_order?order_id=<%= pcb.id.to_s %>" data-confirm="确定要删除?">删除</a></div></td>
<% end %>
<!--
        <% if can? :work_pcb_business, :all and can? :work_e, :all %>
            <td style="border-top:0px none #ddd;"><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/release_pcb_to_quote?bom_id=<%= pcb.id.to_s %>" data-confirm="确定要发送给采购部?">发送给采购部报价</a></div></td>
        <% else %>
            <td style="border-top:0px none #ddd;"><div class="btn-group"><a class="btn btn-danger disabled" >发送给采购部报价</a></div></td>
        <% end %>
-->        
      </tr>
      <% if not PcbOrderSellItem.where(pcb_order_no: pcb.order_no).blank?%>
      <tr >
          <td colspan="8" style="margin: 0px;padding: 0px;border-top:0px none #ddd;">
          <div class="highlight" style="margin: 0px;padding: 0px;">
          <% PcbOrderSellItem.where(pcb_order_no: pcb.order_no).each do |item| %>
              <table style="width:100%;max-width:100%;margin: 0px;padding: 0px;">
              <tr style="margin: 0px;padding: 0px;">
                  <td width="150" style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.pcb_order_no %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>描述:</strong><%= item.des_en %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.des_cn %></td>
                  <td width="120" style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>数量:</strong><%= item.qty %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>备注:</strong><%= item.remark %></td>
              </tr>
              </table>
          <% end %>
          </div>
          </td>
      </tr>
      <% end %>
    <% end %>
  </small>
  </tbody>
</table>
        </div>
    </div>

</div>


<script type="text/javascript">

$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
   
</script>

<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
