<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <% if params[:bom_chk]%>
                <%= render partial: "work_flow/menu", locals: {selected: "pcb_bom_chk"} %>
            <% elsif params[:quote] %>
                <%= render partial: "work_flow/menu", locals: {selected: "pcb_quote"} %>
            <% elsif params[:quotechk] %>
                <%= render partial: "work_flow/menu", locals: {selected: "pcb_quotechk"} %>
            <% end %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
            
            
            <span  style="color:#999;">
               <%= form_tag('/pcb_order_list', method:"get", class:"form-inline") do %>
               <div class="form-group  nav navbar-nav navbar-left">
                  
                  <lable for="order" , class="sr-only">Qrder : </lable>
                  <div class="input-group input-group-sm">    
                                        
                  <% if @key_order %>   
                      <%= text_field_tag :key_order, @key_order, class:"form-control  input-lg", size:"30"%>     
                  <% else %> 
                      <%= text_field_tag :key_order, params[:key_order], class:"form-control input-lg", size:"100", placeholder:"询价单号，项目名称，项目描述，客户代码，客户名，业务邮箱，备注"%>
                  <% end %>               
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                  </div>
                </div>
<!--
                <a type="button" class="btn btn-info btn-sm" href="/pcb_order_list?bom_chk=true">等待BOM检查</a>
                <a type="button" class="btn btn-danger btn-sm" href="/pcb_order_list?quote=true">等待报价</a>
                <a type="button" class="btn btn-success btn-sm" href="/pcb_order_list?quotechk=true">已经报价</a>
-->
            </div>
            <% end %>                       
            </span>
            </div>
        </div>


<br>
















        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
<% if not @pcblist.blank? %>        
<%= will_paginate(@pcblist) %>            
<table class="table">
<!--
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="130">Order No.</th>
      <th width="150">Created Date</th>
      <th width="80">进度</th>
      <th width="80">数量</th>
      <th width="80">价格￥</th>
      <th width="90">所属业务员</th>
      <th width="90">跟踪业务员</th>
      <th >采购备注</th>
      <th >跟踪备注</th>
      <% if can? :work_pcb_business, :all and can? :work_g, :all %>
      <th width="60">退回</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @pcblist.each do |pcb| %>   
      <tr >
        <% if not pcb.pcb_customer_id.blank? %>
            <td>  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no,c_id: pcb.pcb_customer_id) %></td>
        <% else %>
            <td>  <%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no) %></td>
        <% end %>
        
        <td><%= pcb.created_at.localtime.strftime('%Y-%m-%d').to_s %></td>
        <td>
            <% if pcb.state == "bom_chk" %>
                BOM检查
            <% elsif pcb.state == "quote" %>
                等待报价
            <% elsif pcb.state == "quotechk" %>
                报价完成
            <% end %>
        </td>
        <td><%= pcb.qty %></td>
        <td><%= pcb.price %></td>
        <td></td>
        <td><%= User.find_by(email: pcb.order_sell).full_name %></td>
        <td><%= pcb.remark %></td>
        <td><%= pcb.follow_remark %></td>
        <% if can? :work_pcb_business, :all and can? :work_g, :all %>
            <td><div class="btn-group"><a class="btn btn-warning btn-xs" data-method='get'  href="/back_pcb_to_order?bom_id=<%= pcb.id.to_s %>" data-confirm="确定要退回给业务?">退回</a></div></td>
        
        <% end %>
      </tr>
      <% if not PcbOrderItem.where(pcb_order_no: pcb.order_no).blank?%>
      <tr >
          <td colspan="9" style="margin: 0px;padding: 0px;border-top:0px none #ddd;">
          <div class="highlight" style="margin: 0px;padding: 0px;">
          <% PcbOrderItem.where(pcb_order_no: pcb.order_no).each do |item| %>
              <table style="width:100%;max-width:100%;margin: 0px;padding: 0px;">
              <tr style="margin: 0px;padding: 0px;">
                  <td width="150" style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.pcb_order_no %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>描述:</strong><%= item.des_en %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.des_cn %></td>
                  <td width="120" style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>数量:</strong><%= item.qty %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><strong>备注:</strong><%= item.remark %></td>
              </tr>
              </table>
          <% end %>
          </div>
          </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
-->




  <tbody ><small>
    <% @pcblist.each do |pcb| %>   
      <tr>
        <% if not pcb.pcb_customer_id.blank? %>
            <td width="220" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>询价单号: </strong><%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no,c_id: pcb.pcb_customer_id) %></small></td>
        <% else %>
            <td width="220" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>询价单号: </strong><%= link_to pcb.order_no, edit_pcb_order_path(order_no: pcb.order_no) %><small></small></td>
        <% end %>
        <td width="150" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>业务员: </strong><%= User.find_by(email: pcb.order_sell).full_name %></small></td>
        <td width="150" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>进度: </strong>
            <% if pcb.state == "bom_chk" %>
                BOM检查
            <% elsif pcb.state == "quote" %>
                等待报价
            <% elsif pcb.state == "quotechk" %>
                报价完成
            <% end %></small>
        </td>
        <td width="150" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>日期: </strong><%= pcb.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></small></td>
        <td style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><strong>备注: </strong><%= pcb.remark.to_s %></small></td>
<% if can? :work_e, :all %>
        <td width="50" style="padding: 20px 0px 0px;border-top:0px none #ddd;"><small><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/del_pcb_order?order_id=<%= pcb.id.to_s %>" data-confirm="确定要删除?">删除</a></div></small></td>
<% end %>      
      </tr>
      <% if not PcbOrderItem.where(pcb_order_no: pcb.order_no).blank?%>
        
      <tr >
          <td colspan="6" style="margin: 0px;padding: 0px 0px 20px;border-top:0px none #ddd;">
          <small><div class="highlight" style="margin: 0px;padding: 0px;">
          <table class="table" style="width:100%;max-width:100%;margin: 0px;padding: 0px;">
          <thead>
          <tr style="background-color: #eeeeee;">
            <th >子单号</th>
            <th >英文描述</th>
            <th >中文描述</th>
            <th width="100">类别</th>
            <th width="100">数量</th>
            <th width="100">总价</th>
            <th width="100">单价</th>
            <th >备注</th>
          </tr>
          </thead>
          <% PcbOrderItem.where(pcb_order_no: pcb.order_no).each do |item| %>
              
              <tr style="margin: 0px;padding: 0px;">
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.pcb_order_no_son %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.des_en %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.des_cn %></td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;">
                  <% if item.p_type == "COMPONENTS" %>
                      元器件
                  <% else %>
                      <%= item.p_type %>
                  <% end %>
                  </td>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.qty.to_s %></td>
                  <% if not item.bom_id.blank? %>
                      <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= ProcurementBom.find_by_id(item.bom_id).t_p.to_s %></td>
                      <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= ProcurementBom.find_by_id(item.bom_id).t_p/(item.qty.to_i) %></td>
                  <% else %>
                      <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.t_p.to_s %></td>
                      <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.price.to_s %></td>
                  <% end %>
                  <td style="margin: 0px;padding: 10px;border-top:1px solid #ddd;"><%= item.remark.to_s %></td>
              </tr>
              
          <% end %>
          </table>
          </div></small>
          </td>
      </tr>
      <% end %>
    <% end %>
  </small>
  </tbody>
</table>
<% end %>
        </div></div>
        </div>
    </div>










<div class="modal fade" id="updatePrice" tabindex="-1" role="dialog" aria-labelledby="updatePriceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel"><strong>采购报价</strong></h4>
      </div>
      <%= form_tag({action: :update_pcb_price},method:"post",multipart:"true",id: "order_form") do %>
      <div class="modal-body">        
          <div class="form-group">
            <label for="customer" class="control-label">Order NO.:</label>
            <input type="text" class="form-control" id="order_no" name="order_no" readonly>
          </div>
          <div class="form-group">
            <label for="customer" class="control-label">客户:</label>
            <input type="text" class="form-control" id="u_customer" name="customer" readonly>
          </div>       
          <div class="form-group">
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="u_qty" name="qty" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">所属业务员:</label>
            <input type="text" class="form-control" id="u_sell" name="sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员:</label>
            <input type="text" class="form-control" id="u_order_sell" name="order_sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员备注:</label>
            <textarea type="text" class="form-control" id="follow_remark" name="follow_remark" readonly></textarea>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">报价:</label>
            <input type="text" class="form-control" id="price" name="price" >
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">备注:</label>
            <textarea  class="form-control" id="remark" name="remark"></textarea>
          </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return postform()">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>









</div>




<script>
function get_options(value){
    var urla='/work_flow/select_pcbcustomer_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
  }

$('#updatePrice').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var order_no = button.data('order_no') 
  var customer = button.data('customer')
  var qty = button.data('qty')
  var sell = button.data('sell')
  var remark = button.data('remark')
  var follow_remark = button.data('follow_remark')
  var order_sell = button.data('order_sell')
  var modal = $(this)
  modal.find($("#order_no")).val(order_no)
  modal.find($("#u_customer")).val(customer)
  modal.find($("#u_qty")).val(qty)
  modal.find($("#u_sell")).val(sell)
  modal.find($("#remark")).html(remark)
  modal.find($("#follow_remark")).html(follow_remark)
  modal.find($("#u_order_sell")).val(order_sell)
})
</script>

<script type="text/javascript">
function postform() {  	           
      if ($("#price").val() == "")
      {                    
　　    alert("请选填写报价！");                    
　　    return false;                
　     }

}  

$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
  
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
