<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "pi_buy_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">




        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
        
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="130">PI No.</th>
      <th width="130">Created Date</th>
      <th width="80">MPN</th>
      <th >DES</th>
      <th width="80">数量</th>
      <th width="80">单价￥</th>
      <th >供应商</th>
    </tr>
  </thead>
  <tbody><small>
<% if not @pi_buy.blank? %>
  <%= will_paginate(@pi_buy) %> 
  <% @pi_buy.each do |buy| %>
  <tr>
      <td><%= buy.pi_no %></td>
      <td><%= buy.pi_no %></td>
      <td><%= buy.mpn %></td>
      <td><%= buy.description %></td>
      <td><%= buy.quantity %></td>
      <td><%= buy.cost %></td>
      <td>
          <% if not buy.dn_id.blank? %>
              <% if not PDn.find_by_id(buy.dn_id).blank? %>
                  <%= PDn.find_by_id(buy.dn_id).dn_long %> 
              <% end %>
          <% end %>
      </td>
  </tr>
  <% end %>
<% end %> 
  </small>   
  </tbody>
</table>

        </div></div>
        </div>
    </div>










<div class="modal fade" id="updatePrice" tabindex="-1" role="dialog" aria-labelledby="updatePriceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel"><strong>采购报价</strong></h4>
      </div>
      <%= form_tag({action: :update_pcb_price},method:"post",multipart:"true",id: "order_form") do %>
      <div class="modal-body">        
          <div class="form-group">
            <label for="customer" class="control-label">Order NO.:</label>
            <input type="text" class="form-control" id="order_no" name="order_no" readonly>
          </div>
          <div class="form-group">
            <label for="customer" class="control-label">客户:</label>
            <input type="text" class="form-control" id="u_customer" name="customer" readonly>
          </div>       
          <div class="form-group">
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="u_qty" name="qty" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">所属业务员:</label>
            <input type="text" class="form-control" id="u_sell" name="sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员:</label>
            <input type="text" class="form-control" id="u_order_sell" name="order_sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员备注:</label>
            <textarea type="text" class="form-control" id="follow_remark" name="follow_remark" readonly></textarea>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">报价:</label>
            <input type="text" class="form-control" id="price" name="price" >
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">备注:</label>
            <textarea  class="form-control" id="remark" name="remark"></textarea>
          </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return postform()">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>

</div>




<script>
function get_options(value){
    var urla='/work_flow/select_pcbcustomer_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
  }

$('#updatePrice').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var order_no = button.data('order_no') 
  var customer = button.data('customer')
  var qty = button.data('qty')
  var sell = button.data('sell')
  var remark = button.data('remark')
  var follow_remark = button.data('follow_remark')
  var order_sell = button.data('order_sell')
  var modal = $(this)
  modal.find($("#order_no")).val(order_no)
  modal.find($("#u_customer")).val(customer)
  modal.find($("#u_qty")).val(qty)
  modal.find($("#u_sell")).val(sell)
  modal.find($("#remark")).html(remark)
  modal.find($("#follow_remark")).html(follow_remark)
  modal.find($("#u_order_sell")).val(order_sell)
})
</script>

<script type="text/javascript">
function postform() {  	           
      if ($("#price").val() == "")
      {                    
　　    alert("请选填写报价！");                    
　　    return false;                
　     }

}  

$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
  
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
