<div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "buy_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div style="padding: 10px;">
            <a  type="button" class="btn btn-primary btn-sm"  href="/new_pi_buy">新建采购单</a>
            
            </div>



        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
        
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="150">采购单号</th>
      <th  >供应商</th>
      <th width="230">总价</th>
      <th width="230">Created Date</th>
      <th width="100">采购工程师</th>
      <th width="65">状态</th>
      <% if can? :work_g, :all or can? :work_admin, :all%>
      <th width="50">操作</th>
      <% end %>
    </tr>
  </thead>
  <tbody><small>
<% if not @pi_buy_list.blank? %>
  <%= will_paginate(@pi_buy_list) %> 
  <% @pi_buy_list.each do |buy_list| %>
  <tr>
      <td ><%= link_to buy_list.pi_buy_no, edit_pi_buy_path(pi_buy_no: buy_list.pi_buy_no) %></td>
      <td data-toggle="collapse" href="#buy_<%= buy_list.id.to_s %>" aria-expanded="false" aria-controls="buy_<%= buy_list.id %>"><%= buy_list.dn_long %></td>
      <td data-toggle="collapse" href="#buy_<%= buy_list.id.to_s %>" aria-expanded="false" aria-controls="buy_<%= buy_list.id %>"><%= buy_list.t_p_sum %></td>
      <td data-toggle="collapse" href="#buy_<%= buy_list.id.to_s %>" aria-expanded="false" aria-controls="buy_<%= buy_list.id %>"><%= buy_list.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
      <td data-toggle="collapse" href="#buy_<%= buy_list.id.to_s %>" aria-expanded="false" aria-controls="buy_<%= buy_list.id %>"><%= User.find_by_email(buy_list.user).full_name %></td>
      <td data-toggle="collapse" href="#buy_<%= buy_list.id.to_s %>" aria-expanded="false" aria-controls="buy_<%= buy_list.id %>"><%= buy_list.state %></td>
      <% if can? :work_g, :all or can? :work_admin, :all%>
      <td>    
          <%= link_to "提交", send_pi_buy_check_path(pi_buy_no: buy_list.pi_buy_no), class: "btn btn-info btn-xs",data: {confirm: "确定要提交？"}%> 
      </td>           
      <% end %>
  </tr>
  <tr>
      <td colSpan="6" style="padding: 0px;margin: 0px;">
          <div class="collapse" id="buy_<%= buy_list.id %>">




<div class="row "><div class="col-md-12 col-sm-12 form-inline" >
<table class="table table-hover">
  <thead>
    <tr class="warning">
      <th width="150">PI No.</th>
      <th width="220">MPN</th>
      <th width="150">MOKO PART</th>
      <th >MOKO DES</th>
      <th width="80">需求数量</th>
      <th width="80">购买数量</th>
      <th width="80">单价￥</th>
      <th >供应商</th>
      <th >备注</th>
    </tr>
  </thead>
  <tbody><small>
<% if not PiBuyItem.where(pi_buy_info_id: buy_list.id).blank? %>
  <% PiBuyItem.where(pi_buy_info_id: buy_list.id).each do |buy| %>
  <tr class="warning">
      <td><%= buy.erp_no_son %></td>
      <td><%= buy.mpn %></td>
      <td>
          <a class="text-info" data-method='get' data-remote='true' href="/cost_history_buy?part_code=<%= buy.moko_part.to_s%>&item_id=<%= buy.id.to_s %>"><%= buy.moko_part %></a>
      </td>
      <td><%= buy.moko_des %></td>
      <td><%= buy.pmc_qty %></td>
      <td><div data-toggle="modal" data-target="#edit_buy_qty" data-buy_id="<%= buy.id %>" data-buy_qty="<%= buy.buy_qty %>" data-buy_cost="<%= buy.cost %>" data-buy_moko_des="<%= buy.moko_des %>" data-buy_dn="<%= buy.dn %>" data-buy_dn_long="<%= buy.dn_long %>"><%= buy.buy_qty %></div></td>
      <td><%= buy.cost %></td>
      <td><%= buy.dn_long %></td>
      <td>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;" >
<% PItemRemark.where(p_item_id: buy.p_item_id).each do |remark_item| %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >

<strong><%= remark_item.user_name %>: </strong>
<%= remark_item.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
</div>

<% if not buy.dn_id.blank? %>
<% if not PDn.find_by_id(buy.dn_id).blank? %>
<% if not PDn.find(buy.dn_id).remark.blank? %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >
<% if not PDn.find(buy.dn_id).info.blank? %>                 
<a class="btn btn-info btn-xs" href="<%= PDn.find(buy.dn_id).info %>" target="_blank">下载</a>
<% end %>
<strong>采购工程师: </strong>
<%= PDn.find(buy.dn_id).remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
      </td>



  </tr>
  <% end %>
<% end %> 
  </small>   
  </tbody>
</table>
            </div></div>



















          </div>
      </td>
  </tr>
  <% end %>
<% end %> 
  </small>   
  </tbody>
</table>

        </div></div>









        </div>
    </div>










<div class="modal fade" id="updatePrice" tabindex="-1" role="dialog" aria-labelledby="updatePriceLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel"><strong>采购报价</strong></h4>
      </div>
      <%= form_tag({action: :update_pcb_price},method:"post",multipart:"true",id: "order_form") do %>
      <div class="modal-body">        
          <div class="form-group">
            <label for="customer" class="control-label">Order NO.:</label>
            <input type="text" class="form-control" id="order_no" name="order_no" readonly>
          </div>
          <div class="form-group">
            <label for="customer" class="control-label">客户:</label>
            <input type="text" class="form-control" id="u_customer" name="customer" readonly>
          </div>       
          <div class="form-group">
            <label for="qty" class="control-label">数量:</label>
            <input type="number" class="form-control" id="u_qty" name="qty" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">所属业务员:</label>
            <input type="text" class="form-control" id="u_sell" name="sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员:</label>
            <input type="text" class="form-control" id="u_order_sell" name="order_sell" readonly>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">跟踪业务员备注:</label>
            <textarea type="text" class="form-control" id="follow_remark" name="follow_remark" readonly></textarea>
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">报价:</label>
            <input type="text" class="form-control" id="price" name="price" >
          </div> 
          <div class="form-group">
            <label for="qty" class="control-label">备注:</label>
            <textarea  class="form-control" id="remark" name="remark"></textarea>
          </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return postform()">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>

</div>




<script>
function get_options(value){
    var urla='/work_flow/select_pcbcustomer_ajax?id='+value;
    $("#change_s").attr("href",urla);
    $("#change_s").click(); 
  }

$('#updatePrice').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var order_no = button.data('order_no') 
  var customer = button.data('customer')
  var qty = button.data('qty')
  var sell = button.data('sell')
  var remark = button.data('remark')
  var follow_remark = button.data('follow_remark')
  var order_sell = button.data('order_sell')
  var modal = $(this)
  modal.find($("#order_no")).val(order_no)
  modal.find($("#u_customer")).val(customer)
  modal.find($("#u_qty")).val(qty)
  modal.find($("#u_sell")).val(sell)
  modal.find($("#remark")).html(remark)
  modal.find($("#follow_remark")).html(follow_remark)
  modal.find($("#u_order_sell")).val(order_sell)
})
</script>

<script type="text/javascript">
function postform() {  	           
      if ($("#price").val() == "")
      {                    
　　    alert("请选填写报价！");                    
　　    return false;                
　     }

}  

$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
  
</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
