<% content_for :erp_header do %>
    <%= render partial: "work_flow/erp_header", locals: {selected: "pi_draft_list"} %>
<% end %>
<div class="container-fluid" >
    <div class="row" >

            <ol class="breadcrumb" style="padding: 8px 30px;">
                <li class="active">未题交的PI</li>
                <li><a href="/pi_list">PI列表</a></li>         
                <% if can? :work_e, :all %>            
                <b style="margin-left: 30%;margin-right: 40%;"><a type="button" class="btn btn-info btn-sm"   href="/new_pcb_pi">新建PI</a></b>
                <% end %>
            </ol>

    </div>
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">
            <%= render partial: "work_flow/menu", locals: {selected: "pi_draft_list"} %>
        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>

<%= will_paginate(@pilist) %>            
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="220">PI单号</th>
      <th width="200">项目名称</th>
      <th width="80">客户代码</th>
      <th >客户</th>
      <th width="150">日期</th>
      <th width="100">所属业务员</th>
      <th width="100">跟踪业务员</th>
      <th >跟踪备注</th>
<% if can? :work_e, :all %>
      <th width="50">删除</th>
<% end %>
<!--
      <th width="120">发送到采购报价</th>
-->
    </tr>
  </thead>
  <tbody><small>
    <% @pilist.each do |pcb| %>   
      <tr >
        <% if not pcb.pcb_customer_id.blank? %>
            <td><%= link_to pcb.pi_no, edit_pcb_pi_path(pi_info_id: pcb.id,pi_no: pcb.pi_no,c_id: pcb.pcb_customer_id) %></td>
        <% else %>
            <td><%= link_to pcb.pi_no, edit_pcb_pi_path(pi_info_id: pcb.id,pi_no: pcb.pi_no) %></td>
        <% end %>
        <td><%= pcb.p_name %></td>
        <td><%= pcb.c_code %></td>
        <td><%= pcb.c_des %></td>
        <td><%= pcb.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td></td>
        <td><%= User.find_by(email: pcb.pi_sell).full_name %></td>
        <td><%= pcb.follow_remark %></td>
<% if can? :work_e, :all %>
        <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/del_pcb_pi?pi_id=<%= pcb.id.to_s %>" data-confirm="确定要删除?">删除</a></div></td>
<% end %>
<!--
        <% if can? :work_pcb_business, :all and can? :work_e, :all %>
            <td><div class="btn-group"><a class="btn btn-danger btn-xs" data-method='get'  href="/release_pcb_to_quote?bom_id=<%= pcb.id.to_s %>" data-confirm="确定要发送给采购部?">发送给采购部报价</a></div></td>
        <% else %>
            <td><div class="btn-group"><a class="btn btn-danger disabled" >发送给采购部报价</a></div></td>
        <% end %>
-->
      </tr>
    <% end %>
  </small>
  </tbody>
</table>


       </small></div>
    </div>








</div>

<script>
$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
   
</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
