<% content_for :erp_header do %>
    <% if can? :work_g, :all %>
        <%= render partial: "work_flow/erp_header_caigou", locals: {selected: "pi_waitfor_buy"} %>
    <% elsif can? :work_a, :all %>
        <%= render partial: "work_flow/erp_header_pmc", locals: {selected: "pi_waitfor_buy"} %>
    <% end %>
<% end %>
<small><div class="container-fluid" >
    <div class="row" >
        <ol class="breadcrumb" style="padding: 8px 30px;">
            <li class="active">待采购物料</li>
            <li><a href="/pi_buy_baojia_list">采购询价</a></li> 
            <li><a href="/pi_buy_list">采购订单</a></li>         
            <li><a href="/fu_kuan_shen_qing_list">付款申请</a></li>
            <li><a href="/pi_buy_list">付款水单</a></li>
            <li><a href="/cai_gou_fa_piao_list">采购发票</a></li>
        </ol>
    </div> 



    <div class="row" style="padding: 0px;">
        <div class="col-md-6" style="padding-top: 1px;"> 
            <div class="form-inline">
                <%= form_tag('/pi_waitfor_buy', method:"get", class:"form-inline") do %>
                <div class="row">
                  

                 <div class="col-md-4 col-sm-4 " >
                 <div class="input-group input-group-sm"> 
                     <span class="input-group-addon " >开始 : </span>
                       <%= text_field_tag :start_date, params[:start_date], id: "start_date",class:"form-control input-sm", size:"10" %>
                       <script type="text/javascript">
                          $(function () {
                            $('#start_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                       </script>
                     <span class="input-group-addon " >结束 : </span>
                       <%= text_field_tag :end_date, params[:end_date], id: "end_date",class:"form-control input-sm", size:"10" %>
                       <script type="text/javascript">
                          $(function () {
                            $('#end_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                       </script>
                 </div>
                 </div>

                 <div class="col-md-5 col-sm-5 " >

                 <div class="input-group input-group-sm">  
                      <%= text_field_tag :c_code, params[:c_code], class:"form-control input-lg", size:"100", placeholder:"PI"%>
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class:"btn btn-primary btn-sm", onclick:"return postformchk()" %>
                  </div>
                </div>
                </div>
                </div>


                <% end %>             
            </div> 
        </div>
    </div>


        <div class="row">
            <div class="col-md-6 col-sm-6 " style="padding-top: 10px;" >
            <input style="margin-right: 5px;margin-top: 10px;" type="button" value="全选" class="btn btn-xs btn-success pull-left" id="selectAll">     
            <input style="margin-right: 5px;margin-top: 10px;" type="button" value="取消全选" class="btn btn-xs btn-warning pull-left" id="unSelect">     
            <input style="margin-top: 10px;"type="button" value="反选" class="btn btn-xs btn-info pull-left" id="reverse">
            <a id="tijiao" type="button" class="btn btn-info btn-sm pull-right" href="#">新建询价单</a>
            <a id="tijiao_caigou" type="button" class="btn btn-info btn-sm pull-right" style="margin-right: 35px;" href="#">新建采购单</a>
           </div>
       </div>

    <div class="row" style="padding: 0px;">

        <div class="col-md-12" style="padding-top: 5px;">
<%= form_tag('/add_pi_buy_baojia_item', method:"get") do %>
        <div class="row">
            <div class="col-md-12 col-sm-12 form-inline" >
        
<table class="table table-hover">
  <thead>
    <tr style="background-color: #eeeeee">
      <th width="20"></th>
      <th width="60">状态</th>
      <th width="130">PI No.</th>
      <th width="130">Created Date</th>
      <th width="220">MPN</th>
      <th >DES</th>
      <th >MOKO PART</th> 
      <th >MOKO DES</th>  
      <th width="80">申请数量</th>
      <th width="80">已买数量</th>
      <th width="80">购物车占用</th>  
      <th width="80">单价￥</th>
      <th width="80">总价￥</th>
      <th >供应商</th>
      <th >备注</th>
    </tr>
  </thead>
  <tbody><small>
<% if not @pi_buy.blank? %>
  <%= will_paginate(@pi_buy) %> 
  <% @pi_buy.each do |buy| %>
  <tr>
      <% if buy.baojia_state.blank? %>
          <td><input class="chk_all" type="checkbox" value="<%= buy.id.to_s %>" name="roles[]" id="roles_" ></td>
          <td>未报价</td>
      <% elsif buy.baojia_state == "done" %>
          <td><input class="chk_all" type="checkbox" value="<%= buy.id.to_s %>" name="roles[]" id="roles_" ></td>
          <td>已报价</td>
      <% else %>
          <td></td>
          <td>报价中</td>
      <% end %>
      <td><%= buy.erp_no_son %></td>
      <td><%= buy.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
      <td><%= buy.mpn %></td>
      <td><%= buy.description %></td>
      <td><%= buy.moko_part %></td>
      <td><%= buy.moko_des %></td> 
      <td><%= buy.pmc_qty %></td>
      <td><%= buy.buy_qty %></td>
      <td><%= buy.buyer_qty %></td>
      <td><%= buy.cost %></td>
      <% if not buy.cost.blank? and not buy.buy_qty.blank? %>
          <td><%= buy.buy_qty*buy.cost %></td>
      <% else %>
          <td></td>
      <% end %>
      <td><%= buy.dn_long %></td>
                    <td>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;" >
<% PItemRemark.where(p_item_id: buy.p_item_id).each do |remark_item| %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >

<strong><%= remark_item.user_name %>: </strong>
<%= remark_item.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
</div>

<% if not buy.dn_id.blank? %>
<% if not PDn.find_by_id(buy.dn_id).blank? %>
<% if not PDn.find(buy.dn_id).remark.blank? %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >
<% if not PDn.find(buy.dn_id).info.blank? %>                 
<a class="btn btn-info btn-xs" href="<%= PDn.find(buy.dn_id).info %>" target="_blank">下载</a>
<% end %>
<strong>采购工程师: </strong>
<%= PDn.find(buy.dn_id).remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
                    </td>
  </tr>
  <% end %>
<% end %> 
  </small>   
  </tbody>
</table>

        </div></div>
                <%= submit_tag "tijiao", class:"btn btn-primary btn-sm sr-only",id:"tijiao_true" %>
                <%= submit_tag "tijiao_caigou", class:"btn btn-primary btn-sm sr-only",id:"tijiao_caigou_true" %>
                <% end %>

        </div>
    </div>



</div></small>


<script>
$(document).ready(function(){
  $("#tijiao").click(function(){
    $("#tijiao_true").click();
  });
  $("#tijiao_caigou").click(function(){
    $("#tijiao_caigou_true").click();
  });
});

$("#selectAll").click(function () {   
        $(".chk_all").each(function () {     
            $(this).prop('checked', true);//  
  
        });   
    });   
      
    $("#unSelect").click(function () {     
           $(".chk_all").removeAttr("checked");    
        });   
      
    $("#reverse").click(function () {    
        $(".chk_all").each(function () {     
            this.checked = !this.checked;    
        });   
    });


</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
