<small><div class="container-fluid" >
    
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;"> 
            <%= render partial: "work_flow/menu", locals: {selected: "pmc_part_list"} %>

        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <%= render 'layouts/flash_messages' %>
            <div class="row">
                <div class="col-md-12" >
  
                </div>
            </div>


            <div class="row" style="padding-top: 10px;padding-bottom: 2px;">
                <%= form_tag('/pmc_list', method:"get", class:"form-inline") do %>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="start_date" , class="sr-only">start_date : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :start_date, params[:start_date], id: "start_date",class:"form-control input-sm", size:"30" , placeholder:"开始日期" %>
                                <script type="text/javascript">
                                    $(function () {
                                    $('#start_date').datetimepicker({
                                        useCurrent: false,
                                        format: 'YYYY-MM-DD'
                                    });    
                                    });
                                 </script>
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="end_date" , class="sr-only">end_date : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :end_date, params[:end_date], id: "end_date",class:"form-control input-sm", size:"30" , placeholder:"结束日期" %>
                                <script type="text/javascript">
                                    $(function () {
                                    $('#end_date').datetimepicker({
                                        useCurrent: false,
                                        format: 'YYYY-MM-DD'
                                    });    
                                    });
                                 </script>
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                
                
                
                <% end %>

                
            </div>


            <div class="row">
                <div class="col-md-12" >
                        <% if @pmc_list %>
<%= will_paginate(@pmc_list) %>
                    <%= form_tag({action: :pmc_check_pass_all,controller: :work_flow},method:"post") do %>
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #eeeeee">
                                <th width="130">物料名称</th>
                                <th width="90">位号</th>
                                <th width="80">BOM用量</th>
                                <th width="150">需求数</th>
                                <th width="350">请购数</th>
                                <th width="80">采购单号</th>
                                <th width="100">采购日期</th>
                                <th >采购数量</th>

                                <th width="100">入库数量</th>
                                
                            </tr>
                        </thead>

                        <tbody>

                            <% @pmc_list.each do |item|%>   
                            <tr>
                                <td><%= item.moko_part %></td>
                                <td><%= item.part_code %></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><%= item.delivery_date.blank?? "": item.delivery_date.localtime.strftime('%Y-%m-%d') %></td>
                                <td><%= item.buy_qty %></td>
                                <td><%= item.qty_done %></td>
                                

                            </tr>
                            <% end %>

                        </tbody>

                    </table>

            <% end %>

                        <% end %>
                </div>
            </div>
        </div>
    </div>










</div></small>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
