<small><div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;"> 
            <%= render partial: "work_flow/menu", locals: {selected: "pmc_h"} %>

        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <%= form_tag('/pmc_h', method:"get", class:"form-inline") do %>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="order_no" , class="sr-only">Qrder : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :pass_date, params[:pass_date], id: "pass_date",class:"form-control input-sm", size:"30" , placeholder:"审核日期" %>
                                <script type="text/javascript">
                                    $(function () {
                                    $('#pass_date').datetimepicker({
                                        useCurrent: false,
                                        format: 'YYYY-MM-DD'
                                    });    
                                    });
                                 </script>
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>






                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="order_no" , class="sr-only">Qrder : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :order_no, params[:order_no], class:"form-control input-lg", size:"30", placeholder:"订单号"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="moko_part" , class="sr-only">MOKO ID : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :moko_part, params[:moko_part], class:"form-control input-lg", size:"30", placeholder:"MOKO ID"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="moko_des" , class="sr-only">MOKO ID : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :moko_des, params[:moko_des], class:"form-control input-lg", size:"30", placeholder:"MOKO 描述"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="part_code" , class="sr-only">位号 : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :part_code, params[:part_code], class:"form-control input-lg", size:"30", placeholder:"位号"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 form-inline" >
                    <span  style="color:#999;">
                        <div class="form-group  nav navbar-nav navbar-left">
                            <lable for="buy_user" , class="sr-only">采购工程师 : </lable>
                            <div class="input-group input-group-sm">    
                                <%= text_field_tag :buy_user, params[:buy_user], class:"form-control input-lg", size:"30", placeholder:"采购工程师"%>     
                                <div class="input-group-btn">
                                    <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
                                </div>
                            </div>
                        </div>                       
                    </span>
                </div>
            </div>
            <% end %>
            <div class="row">
                <div class="col-md-12" >
                    <table class="table">
                        <thead>
                            <tr style="background-color: #eeeeee">
                                <th width="100">审核时间</th>
                                <th width="80">状态</th>
                                <th width="130">Order No.</th>
                                <th width="150">MOKO ID</th>
                                <th width="350">物料名称</th>
                                <th width="80">位号</th>
                                <th width="80">申请数量</th>
                                <th width="80">库存</th>
                                <th >备注</th>
                                <th width="90">采购员</th>
                                <th width="90">下单数量</th>
                            <tr>
                        </thead>
                        <tbody>
                        <% if @pi_buy %>
                            <% @pi_buy.each do |item|%>   
                            <tr>
                                <td><%= item.pass_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
                                <td><%= item.state %></td>
                                <td><%= item.erp_no_son %></td>
                                <td><%= item.moko_part %></td>
                                <td><%= item.moko_des %></td>
                                <td><%= item.part_code.to_s[0,3]+"..." %></td>
                                <td><%= item.qty %></td>
                                <td>
                                <% if not WarehouseInfo.find_by_moko_part(item.moko_part).blank? %>
                                    <%= WarehouseInfo.find_by_moko_part(item.moko_part).qty %>
                                <% else %>
                                <% end %>
                                </td>
                                <td><%= item.remark %></td>
                                <td><%= item.buy_user %></td>

                                <td></td>
                            </tr>
                            <% end %>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div></small>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
