<small><div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;"> 
            <%= render partial: "work_flow/menu", locals: {selected: "pmc_warehouse_check"} %>

        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-12" >
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #eeeeee">
                                <th width="130">日期时间</th>
                                <th width="130">Order No.</th>
                                <th width="150">MOKO ID</th>
                                <th width="350">物料名称</th>
                                <th width="80">申请数量</th>
                                <th width="80">实际库存</th>
                                <th width="80">审核通过</th>
                            <tr>
                        </thead>
                        <tbody>
                        <% if @wh_chk %>
                            <% @wh_chk.each do |item|%>   
                            <tr>
                                <td><%= item.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
                                <td><%= item.erp_no_son %></td>
                                <td><%= item.moko_part %></td>
                                <td><%= item.moko_des %></td>
                                <td><%= item.chk_qty %></td>
                                <td><%= item.apply_for_qty %></td>
                                <%= form_tag('/pmc_wh_check_pass', class:"form-inline") do %>
                                <td>
                                    <input name="chk_id" type="text" class="sr-only"  value="<%= item.id %>">
                                    <button type="submit" class="btn btn-primary btn-sm" >审核通过</button>
                                </td>
                                <% end %>
                            </tr>
                            <% end %>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div></small>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
