<small><div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;"> 
            <%= render partial: "work_flow/menu", locals: {selected: "pmc_new"} %>

        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-12" >
  <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/pmc_new"><h5><strong><p class="text-primary" >已分配</p></strong></h5></a></li>
      <li role="presentation" ><a href="/pmc_new?chk=chk"><h5><strong><p class="text-primary" >待确认</p></strong></h5></a></li>
  </ul>
<br>
                        <% if @pmc_new %>
<%= will_paginate(@pmc_new) %>
                    <%= form_tag({action: :pmc_check_pass_all,controller: :work_flow},method:"post") do %>
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #eeeeee">
                                <th width="30"></th>
                                <th width="130">Order No.</th>
                                <th width="150">MOKO ID</th>
                                <th width="350">物料名称</th>
                                <th width="80">位号</th>
                                <th width="80">申请总量</th>
                                <th width="80">申请数量</th>
                                <th width="80">库存</th>
                                <th >备注</th>
                                <th width="90">采购员</th>
                                <th width="60">审核</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% @pmc_new.each do |item|%>   
                            <tr <% if item.buy_user == "CHK" %>class="bg-danger"<% elsif item.buy_user == "MOKO" %>class="bg-info"<% elsif item.check == "GREEN" %>class="bg-success"<% end %>>
                                <td style="padding: 5px 5px 5px 10px;margin: 0px;"><input class="chk_all" type="checkbox" name="checkpass_item[]" value="<%= item.id.to_s %>"></td>
                                <td>
                                    <%= item.erp_no_son %>
                                    <% if item.buy_user == "MOKO" %>
                                    <a type="button" class="btn btn-danger btn-xs" data-confirm="确定要取消内购?" href="/del_pmc_wh_check_pass?id=<%= item.id.to_s %>">取消内购</a>
                                    <% end %>
                                </td>
                                <td><%= item.moko_part %></td>
                                <td><%= item.moko_des %></td>
                                <td><%= item.part_code[0,3]+"..." %></td>
                                <td><%= item.qty %></td>
                                <td><%= item.buy_qty %></td>
                                <td>
                                <% if not WarehouseInfo.find_by_moko_part(item.moko_part).blank? %>
                                    <%= WarehouseInfo.find_by_moko_part(item.moko_part).qty %>
                                <% else %>
                                <% end %>
                                </td>
                                <td><%= item.remark %></td>
                                <td>
                                    <div data-toggle="modal" data-target="#edit_buy_user" data-item_id="<%= item.id %>" data-buy_user="<%= item.buy_user %>" data-moko_part="<%= item.moko_part %>" ><%= item.buy_user %></div>
                                </td>
                                <td>
                                <% if item.buy_user == "CHK" %>
                                <% else %>
                                    <a type="button" class="btn btn-success btn-xs" data-confirm="确定审核通过?" href="/pmc_check_pass?id=<%= item.id.to_s %>">审核</a>
                                <% end %>
                                </td>
                            </tr>
                            <% end %>

                        </tbody>

                    </table>
            <div class="modal-footer" style="padding-left: 0px;">
                
                <input type="button" value="全选" class="btn btn-xs btn-success pull-left" id="selectAll">     
                <input type="button" value="取消全选" class="btn btn-xs btn-warning pull-left" id="unSelect">     
                <input type="button" value="反选" class="btn btn-xs btn-info pull-left" id="reverse">
                <button type="submit" class="btn btn-danger" >批量审核</button>
                
            <div>
            <% end %>

                        <% end %>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="edit_buy_user" tabindex="-1" role="dialog" aria-labelledby="edit_buy_userLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit_buy_userLabel">重新分配采购工程师</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({action: :edit_buy_user},method:"post") do %>
          <div class="form-group sr-only">
            <label for="item_id" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="item_id" name="item_id">
          </div>
          <div class="form-group">
            <label for="buy_user" class="control-label">采购工程师:</label>
            <input class="form-control" name="buy_user" id="buy_user" type="text" >
          </div>         
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>








</div></small>

<script>
$('#edit_buy_user').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var item_id = button.data('item_id');
  var buy_user = button.data('buy_user');
  var moko_part = button.data('moko_part');
  var modal = $(this);
  modal.find($("#edit_buy_userLabel")).html('重新分配采购工程师: ' + moko_part);
  modal.find($("#item_id")).val(item_id);
  modal.find($("#buy_user")).val(buy_user);
})


$("#selectAll").click(function () {   
        $(".chk_all").each(function () {     
            $(this).prop('checked', true);//  
  
        });   
    });   
      
    $("#unSelect").click(function () {     
           $(".chk_all").removeAttr("checked");    
        });   
      
    $("#reverse").click(function () {    
        $(".chk_all").each(function () {     
            this.checked = !this.checked;    
        });   
    }); 

</script>
<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
