<small><div class="container-fluid" >
 
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;"> 
            <%= render partial: "work_flow/menu", locals: {selected: "pmc_h"} %>

        </div>
        <div class="col-md-11" style="padding-top: 10px;">
            <div class="row">
                <div class="col-md-12" >
                    <table class="table">
                        <thead>
                            <tr style="background-color: #eeeeee">
                                <th width="130">Order No.</th>
                                <th width="150">MOKO ID</th>
                                <th width="350">物料名称</th>
                                <th width="80">位号</th>
                                <th width="80">申请数量</th>
                                <th width="80">库存</th>
                                <th >备注</th>
                                <th width="90">采购员</th>
                                <th width="90">下单数量</th>
                            <tr>
                        </thead>
                        <tbody>
                        <% if @pi_buy %>
                            <% @pi_buy.each do |item|%>   
                            <tr>
                                <td><%= PcbOrderItem.find_by_id(item.order_item_id).pcb_order_no_son %></td>
                                <% if item.product_id > 0 %>
                                    <td><%= Product.find_by_id(item.product_id).name %></td>
                                    <td><%= Product.find_by_id(item.product_id).description %></td>
                                    <td><%= item.part_code %></td>
                                    <% if not WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).blank? %>
                                        <% if WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty > 0 %>
                                            <% if WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty >= item.quantity*ProcurementBom.find_by_id(item.procurement_bom_id).qty %>
                                                <td>0</td>
                                                <td><%= WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty %></td>
                                            <% else %>
                                                <td><%= item.quantity*ProcurementBom.find_by_id(item.procurement_bom_id).qty - WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty %></td>
                                                <td><%= WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty %></td>
                                            <% end %>
                                        <% else %>
                                            <td><%= item.quantity*ProcurementBom.find_by_id(item.procurement_bom_id).qty %></td>
                                            <td><%= WarehouseInfo.find_by_moko_part(Product.find_by_id(item.product_id).name).qty %></td>
                                        <% end %>
                                    <% else %>
                                        <td><%= item.quantity*ProcurementBom.find_by_id(item.procurement_bom_id).qty %></td> 
                                        <td>0</td>
                                    <% end %>
                                    <td></td>
                                    <td>
                                        <% if Product.find_by_id(item.product_id).package1 == "D" or Product.find_by_id(item.product_id).package1 == "Q"%>
                                            A
                                        <% elsif Product.find_by_id(item.product_id).package1 == "PZ"%>
                                            B
                                        <% end %>
                                    </td>
                                <% else %>
                                    <td><%= item.product_id %></td>
                                    <td><%= item.product_id %></td>
                                    <td><%= item.part_code %></td>
                                    <td><%= item.quantity*ProcurementBom.find_by_id(item.procurement_bom_id).qty %></td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                <% end %>

                                <td></td>
                            </tr>
                            <% end %>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div></small>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
