<small>
<div class="row" style="margin: 0px;padding: 0px;" >
<br>
  <ul class="nav nav-tabs">
      <li role="presentation" ><a href="/work_flow"><h2 ><p class="text-primary"  >业务部问题跟踪&反馈</p></h2></a></li>
      <li role="presentation" class="active"><a href="/sell_baojia"><h2 ><p class="text-primary" >报价列表</p></h2></a></li>
  </ul>
<br>
  <%= render 'layouts/flash_messages' %>
</div>



<div class="row"style="padding: 5px;">
    <%= form_tag('/sell_baojia', method:"get", class:"form-inline") do %>
       <div class="col-md-9 form-group  nav navbar-nav navbar-left">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group input-group-sm"> 
                <div class="input-group-addon " >开始 : </div>
                <%= text_field_tag :start_date, params[:start_date], id: "start_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#start_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>
                <div class="input-group-addon " >结束 : </div>
                <%= text_field_tag :end_date, params[:end_date], id: "end_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#end_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>              
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
            </div>
          </div>
        </div>
      <% end %>
</div>





<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
        
       <div class="panel panel-info " >
                    
                    <table class="table table-bordered">  
                        <thead class="bg-info">
                            <tr class="text-primary">
                                <th width="150">Order No.</th>
                                <th width="100">数量</th>
                                <th width="150">价格</th>  
                                <th width="140">国家</th>
                                <th width="150">成功几率</th>
                                <th>业务备注</th>
                                <th>主管备注</th>
                            </tr>
                        </thead>
                        <tbody>
<% if not @quate.blank?%>
<% @quate.each do |q_order| %>
                            <tr>
                                <td><%= q_order.p_name %></td>
                                <td><%= q_order.qty %></td>
                                <td>￥<%= q_order.t_p %></td>
                                <td><%= "" %></td>
                                <td><star ccc="1" id="<%= q_order.id %>"></star></td>
                                <td><%= "" %></td>
                                <td><%= "" %></td>
                            </tr>
<% end %> 
<% end %>          
                        </tbody>
                    </table>
        </div>
    </div>
</div>





</small>
<script>
  $('star').raty({
    
    click: function(score, evt) {                                       
      alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
    }                                                                   
  }); 
  
  //$('star').raty({
   // score: function() {
    //return $(this).attr('ccc');
  //}  
  //});
  $(function () {
  $('[data-toggle="popover"]').popover()
  });
</script>



























<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

