<small>
<div class="row" style="margin: 0px;padding: 0px;" >
<br>
  <ul class="nav nav-tabs">
      <li role="presentation" ><a href="/work_flow"><h4 ><strong><p class="text-primary"  >业务部问题跟踪&反馈</p></strong></h4></a></li>
      <li role="presentation" class="active"><a href="/sell_baojia"><h4 ><strong><p class="text-primary" >PCBA报价列表</p></strong></h4></a></li>
      <li role="presentation" ><a href="/sell_pcb_baojia"><h4 ><strong><p class="text-primary" >PCB客户信息表</p></strong></h4></a></li>
      <% if can? :work_pcb_business, :all %>
      <li role="presentation"><a href="/pcb_order_list?new=true"><h4 ><strong><p class="text-primary" >新建PCB订单列表</p></strong></h4></a></li>
      <% end %>
  </ul>
<br>
  <%= render 'layouts/flash_messages' %>
</div>



<div class="row"style="padding: 5px;">
    <%= form_tag('/sell_baojia', method:"get", class:"form-inline") do %>
       <div class="col-md-9 form-group  nav navbar-nav navbar-left">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group input-group-sm"> 
                <div class="input-group-addon " >开始 : </div>
                <%= text_field_tag :start_date, params[:start_date], id: "start_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#start_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>
                <div class="input-group-addon " >结束 : </div>
                <%= text_field_tag :end_date, params[:end_date], id: "end_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#end_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>  
              <% if not current_user.s_name.blank? %> 
                <% if current_user.s_name.size > 2 %>   
                <div class="input-group-addon " >业务员 : </div>         
                <% members = current_user.s_name.split(",").collect { |c| [User.find_by(s_name_self: c).full_name,c] }%>
                <%= select  '', :sell,members,{:include_blank => '--请选择--'}, { "onchange" => "get_options(this.value)", class:"form-control"}  %>
                <% end %>
              <% end %>
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
            </div>
          </div>
          <a type="button" class="btn btn-success btn-sm" href="/sell_baojia?complete=true">已经下单的order</a>
          <a type="button" class="btn btn-danger btn-sm" href="/sell_baojia_q">需要关注的物料</a>
        </div>
      <% end %>
</div>





<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
       <%= will_paginate(@quate) %> 
       <div class="panel panel-info " >
                    
                    <table class="table table-bordered">  
                        <thead class="bg-info">
                            <tr class="text-primary">
                                <th width="70">日期</th>
                                <th width="150">Order No.</th>
                                <th width="100">数量</th>
                                <th width="150">价格</th>  
                                <th width="140">国家</th>
                                <th width="150">成功几率</th>
                                <th>业务备注</th>
                                <th>主管备注</th>
                                <th width="50">编辑</th>
                            </tr>
                        </thead>
                        <tbody>
<% if not @quate.blank?%>
<% @quate.each do |q_order| %>
                            <tr data-toggle="collapse" href="#order_son_<%= q_order.id.to_s %>" aria-expanded="false" aria-controls="order_son_<%= q_order.id %>">
                                <td ><%= q_order.created_at.localtime.strftime('%y-%m-%d') %></td>
                                <td><%=  q_order.p_name_mom %></td>
                                <td><%= q_order.qty %></td>
                                <td>￥<%= q_order.sum_t_p %></td>
                                <td >
                                    <% if not PcbOrderItem.find_by_id(q_order.erp_item_id).blank? %>
                                        <% if not PcbOrder.find_by_id(PcbOrderItem.find_by_id(q_order.erp_item_id).pcb_order_id).blank? %>
                                            <%= PcbOrder.find_by_id(PcbOrderItem.find_by_id(q_order.erp_item_id).pcb_order_id).c_country %>
                                        <% else %>
                                            <%= q_order.order_country %>
                                        <% end %>
                                    <% else %>
                                        <%= q_order.order_country %>
                                    <% end %>
                                </td>
                                <td><stardef ccc="<%= q_order.star %>" id="<%= q_order.id %>"></stardef>
                                <td><%= q_order.sell_remark %></td>
                                <td><%= q_order.sell_manager_remark %></td>
                                <td><a type="button" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#editOrder" data-itempid="<%= q_order.p_name_mom %>" data-starval="<%= q_order.star %>" data-ocountry="<%= q_order.order_country %>" data-sellremark="<%= q_order.sell_remark %>" data-sellmanagerremark="<%= q_order.sell_manager_remark %>" id="<%= q_order.id.to_s + '_mpn' %>" ></a></td>
                            </tr>

                            <tr>
                                <td colSpan="9" style="padding: 0px;margin: 0px;">
                                    <div class="collapse" id="order_son_<%= q_order.id.to_s %>">
                                    <div  style="padding: 0px;margin: 0px;">
                                    
                                    <table class="table table-bordered" style="padding: 0px;margin: 0px;">  
                                    <% ProcurementBom.where(p_name_mom: q_order.p_name_mom).each do |order_son| %>
                                        <tr class="bg-success">
                                            <td width="70"><%= order_son.created_at.localtime.strftime('%y-%m-%d') %></td>
                                            <td width="150"><%= link_to order_son.p_name, sell_view_baojia_path(:bom_id =>order_son.id) %></td>
                                            <td width="100"><%= order_son.qty %></td>
                                            <td width="150">￥<%= order_son.t_p %></td>
                                            <td width="140">
                                            <% if not PcbOrderItem.find_by_id(order_son.erp_item_id).blank? %>
                                                <% if not PcbOrder.find_by_id(PcbOrderItem.find_by_id(order_son.erp_item_id).pcb_order_id).blank? %>
                                                    <%= PcbOrder.find_by_id(PcbOrderItem.find_by_id(order_son.erp_item_id).pcb_order_id).c_country %>
                                                <% else %>
                                                    <%= order_son.order_country %>
                                                <% end %>
                                            <% else %>
                                                <%= order_son.order_country %>
                                            <% end %>
                                            </td>
                                            <td width="150"><stardef ccc="<%= order_son.star %>" id="<%= order_son.id %>"></stardef>
                                            <td><%= order_son.sell_remark %></td>
                                            <td><%= order_son.sell_manager_remark %></td>
                                            <td width="50"></td>
                                        </tr>
                                    <% end %>
                                    </table>
                                    </div>
                                    </div>
                                </td>
                            </tr>

<% end %> 
<% end %>          
                        </tbody>
                    </table>

        </div>
    </div>


<div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="editOrderLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">Update Order Info</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({action: :edit_orderinfo},method:"post",id: "order_form",onsubmit: "ordersub()") do %>
          <div class="form-group sr-only">
            <label for="itemp_id" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="itemp_id" name="itemp_id">
          </div>
          
          <div class="form-group">
            <label for="order_country" class="control-label">国家:</label>
            <input type="text" class="form-control" id="order_country" name="order_country">
          </div>       
          <div class="form-group">
            <label for="hint" class="control-label">成功几率:</label>
            <star id="star_val" ccc="" ></star><input id="hint" class="sr-only" name="hint"  type="text">
          </div> 
          <div class="form-group">
            <label for="sell_remark" class="control-label">业务备注:</label>
            <textarea  class="form-control" id="sell_remark" name="sell_remark"></textarea>
          </div> 
          <div class="form-group">
            <label for="sell_manager_remark" class="control-label">主管备注:</label>
            <textarea  class="form-control" id="sell_manager_remark" name="sell_manager_remark"></textarea>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>







</div>





</small>
<script>
$('#editOrder').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var itempid = button.data('itempid');
  var star = button.data('starval');
  var ocountry = button.data('ocountry'); 
  var sellremark = button.data('sellremark');  
  var sellmanagerremark = button.data('sellmanagerremark'); 
  //var mpn = button.data('mpn');
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find($("#itemp_id")).val(itempid);
  modal.find($("#star_val")).attr("ccc",star);
  modal.find($("#order_country")).val(ocountry);
  modal.find($("#sell_remark")).val(sellremark);
  modal.find($("#sell_manager_remark")).val(sellmanagerremark);


  $('star').raty({                                                                    
   score: function() {
    return $(this).attr('ccc');
    },                              
   target: '#hint',

   targetType: 'number',

   targetKeep: true
                 
  });        
})

$('stardef').raty({                                                                    
   score: function() {
    return $(this).attr('ccc');
    }, 
   readOnly: true                            
 });        





  //$('star').raty({
    
    //click: function(score, evt) {                                       
      //alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
    //}                                                                   
  //}); 
  
  //$('star').raty({
   // score: function() {
    //return $(this).attr('ccc');
  //}  
  //});
  $(function () {
  $('[data-toggle="popover"]').popover()
  });
  //$(document).ready(function(){            
   //$("#order_form").submit(function(e){          
     //$("#editOrder").modal('toggle');               
   //});                                    
 //}); 
  function ordersub(){
   $("#editOrder").modal('toggle');
 };
</script>



























<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

