<small>
<div class="row" style="margin: 0px;padding: 0px;" >
<br>
  <ul class="nav nav-tabs">
      <li role="presentation" ><a href="/work_flow"><h4 ><strong><p class="text-primary"  >业务部问题跟踪&反馈</p></strong></h4></a></li>
      <li role="presentation" class="active"><a href="/sell_baojia"><h4 ><strong><p class="text-primary" >PCBA报价列表</p></strong></h4></a></li>
      <li role="presentation" ><a href="/sell_pcb_baojia"><h4 ><strong><p class="text-primary" >PCB客户信息表</p></strong></h4></a></li>
      <% if can? :work_pcb_business, :all %>
      <li role="presentation"><a href="/pcb_order_list?new=true"><h4 ><strong><p class="text-primary" >新建PCB订单列表</p></strong></h4></a></li>
      <% end %>
  </ul>
<br>
  <%= render 'layouts/flash_messages' %>
</div>



<div class="row"style="padding: 5px;">
    <%= form_tag('/sell_baojia', method:"get", class:"form-inline") do %>
       <div class="col-md-9 form-group  nav navbar-nav navbar-left">
          <lable for="order" , class="sr-only">Qrder : </lable>
          <div class="input-group input-group-sm"> 
                <div class="input-group-addon " >开始 : </div>
                <%= text_field_tag :start_date, params[:start_date], id: "start_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#start_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>
                <div class="input-group-addon " >结束 : </div>
                <%= text_field_tag :end_date, params[:end_date], id: "end_date",class:"form-control input-sm", size:"10" %>
                    <script type="text/javascript">
                          $(function () {
                            $('#end_date').datetimepicker({
                              useCurrent: false,
                              format: 'YYYY-MM-DD'
                            });    
                          });
                </script>  
              <% if not current_user.s_name.blank? %> 
                <% if current_user.s_name.size > 2 %>   
                <div class="input-group-addon " >业务员 : </div>         
                <% members = current_user.s_name.split(",").collect { |c| [User.find_by(s_name_self: c).full_name,c] }%>
                <%= select  '', :sell,members,{:include_blank => '--请选择--'}, { "onchange" => "get_options(this.value)", class:"form-control"}  %>
                <% end %>
              <% end %>
            <div class="input-group-btn">
              <%= submit_tag "搜索", class:"btn btn-primary btn-sm" %>
            </div>
          </div>
          <a type="button" class="btn btn-success btn-sm" href="/sell_baojia?complete=true">已经下单的order</a>
          <a type="button" class="btn btn-danger btn-sm" href="/sell_baojia_q">需要关注的物料</a>
        </div>
      <% end %>
</div>





<div class="row " style="padding-top: 7px;">
    <div class="col-md-12 " style="padding: 5px;" >
       <%= will_paginate(@quate) %> 
       <div class="panel panel-info " >
                    





            <table class="table table-hover" > 

                <thead >
                <tr style="background-color: #eeeeee"> 
                    <th width="150">Order No.</th>  
                    <th width="150">MPN</th> 
                    <th>描述</th>
                    <th width="150">MOKO 编码</th>
                    <th>MOKO 描述</th>
                    <th width="50">位号</th>
                    <th width="50">数量</th> 
                    <th width="100">成本价</th>
                    <th width="60">报价</th>                 
                    <th >Other</th>
                    <th >工程师备注</th>
                    <th width="30"></th>
                    <th width="30"></th>
                </tr>
                </thead>
               
                <% @quate.each_with_index do |item,index| %> 
                <tr id="<%=item.id%>_tr" <% if item.color == "b" %>class="bg-info"<% elsif item.color == "g" %>class="bg-success"<% else %>class="bg-danger"<% end %>  >

                    <td style="padding: 5px 0px 5px 0px;margin: 0px;"><small><%= link_to item.p_name, sell_view_baojia_path(:bom_id =>item.procurement_bom_id) %></small></td>

                    <td style="padding: 5px 0px 5px 0px;margin: 0px;"><small>
                        <table class="table table-hover table-bordered" style="padding: 0px;margin: 0px;">
                            <tr>
                                <td colSpan="3" class="text-center" style="padding: 0px;margin: 0px;"><small><%= item.mpn %></small></td>
                            </tr>
                            <tr id="<%= item.id.to_s + '_mpn_tr' %>">
                                <% if DigikeysStock.find_by(manufacturer_part_number: item.mpn).blank? %>
                                    <% if item.link.blank? or item.link == "" %>
                                        <% if item.mpn == nil or item.mpn == "" %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#F0F0F0" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA"></a></small></td>
                                        <% else %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA" href="http://www.digikey.com/product-search/en?keywords=<%= item.mpn %>" target="_blank"></a></small></td>
                                        <% end %>
                                        
                                    <% else %>
                                        <% if item.link =~ /https/i %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#FF00FF" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA" href="http://<%= item.link.split('https://')[-1].split(' ')[0] %>" target="_blank"></a></small></td>
                                        <% elsif item.link =~ /http/i %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#FF00FF" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA" href="http://<%= item.link.split('http://')[-1].split(' ')[0] %>" target="_blank"></a></small></td>
                                        <% else %>
                                            <% if item.mpn == nil or item.mpn == "" %>
                                                <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#F0F0F0" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA"  ></a></small></td>
                                            <% else %>
                                                <td class="text-center" style="padding: 0px;margin: 0px;"><small><a  class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA" href="http://www.digikey.com/product-search/en?keywords=<%= item.mpn %>" target="_blank"></a></small></td>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                            
                                    <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#F0F0F0" class="glyphicon glyphicon-picture" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA"></a></small></td>
                                            
                                    <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#F0F0F0" class="glyphicon glyphicon-file" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="NO DATA"></a></small></td>
                                <% else %>
                                    <% if item.link.blank? or item.link == "" %>
                                        <td class="text-center" style="padding: 0px;margin: 0px;"><small><a class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top"  data-content="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).description + " " + ((DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.include?'<name>Tolerance</name><value>')? (DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.split('<name>Tolerance</name><value>')[-1].split('</value>')[0].to_s):'') %>" href="http://www.digikey.com/product-search/en?keywords=<%= item.mpn %>" target="_blank"></a></small></td>
                                    <% else %>
                                        <% if item.link =~ /https/i %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#FF00FF" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).description + " " + ((DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.include?'<name>Tolerance</name><value>')? (DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.split('<name>Tolerance</name><value>')[-1].split('</value>')[0].to_s):'') %>" href="https://<%= item.link.split('https://')[-1].split(' ')[0] %>" target="_blank"></a></small></td>
                                        <% elsif item.link =~ /http/i %>
                                            <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#FF00FF" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top" data-content="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).description + " " + ((DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.include?'<name>Tolerance</name><value>')? (DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.split('<name>Tolerance</name><value>')[-1].split('</value>')[0].to_s):'') %>" href="http://<%= item.link.split('http://')[-1].split(' ')[0] %>" target="_blank"></a></small></td>

                                        <% else %>
                                            <% if item.mpn == nil or item.mpn == "" %>
                                                <td class="text-center" style="padding: 0px;margin: 0px;"><small><a style="color:#F0F0F0" class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top"  data-content="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).description + " " + DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.split('<name>Tolerance</name><value>')[-1].split('</value>')[0].to_s %>" ></a></small></td>
                                            <% else %>
                                                <td class="text-center" style="padding: 0px;margin: 0px;"><small><a class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="hover" data-placement="top"  data-content="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).description + " " + DigikeysStock.find_by(manufacturer_part_number: item.mpn).others.split('<name>Tolerance</name><value>')[-1].split('</value>')[0].to_s %>" href="http://www.digikey.com/product-search/en?keywords=<%= item.mpn %>" target="_blank"></a></small></td>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    
                                    <td class="text-center" style="padding: 0px;margin: 0px;"><small><a class="glyphicon glyphicon-picture" data-toggle="popoverii"  data-placement="right" data_src="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).image %>" href="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).image %>"  target="_blank"></a></small></td>
                                            
                                    <td class="text-center" style="padding: 0px;margin: 0px;"><small><a class="glyphicon glyphicon-file" href="<%= DigikeysStock.find_by(manufacturer_part_number: item.mpn).datasheets %>" target="_blank"></a></small></td>
                                <% end %>
                                
                            </tr>
                        </table>


                    </small></td>   

                    
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;" type="button" data-toggle="collapse" data-target="#<%= item.id.to_s + 'dow' %>" aria-expanded="false" aria-controls="<%= (index+1).to_s + 'bom' %>"  ><small><%= item.description %></small></td> 

                    <% if item.product_id !=0 and item.product_id != nil%>
                        <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                            <small>
                            
                            <a class="text-muted" name="<%= item.id.to_s + 'n' %>"  id="<%= item.id.to_s + 'n' %>" data-container="body" data-toggle="popover" tabindex="0"  data-trigger="focus"><%= Product.find(item.product_id).name %></a>
                            </small>
                        </td>
                        <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                            <small>
                            
                            <a class="text-muted" name="<%= item.id.to_s + 'd' %>"  id="<%= item.id.to_s + 'd' %>" data-container="body"><%= Product.find(item.product_id).description %></a>
                            </small>
                        </td>
                        
                    <% else %>
                        <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                            <small> 
                                
                                <a class="text-muted" name="<%= item.id.to_s + 'n' %>"  id="<%= item.id.to_s + 'n' %>"></a>
                                
                            </small>
                            
                        </td>
                        <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                            <small> 
                                
                                <a class="text-muted" name="<%= item.id.to_s + 'd' %>"  id="<%= item.id.to_s + 'd' %>"></a>
                            </small>
                        </td>
                        
                    <% end %>
                    <% if item.part_code.size > 5 %>
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;"><small><%= item.part_code[0,3]+"..." %></small></td>
                    <% else %>
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;"><small><%= item.part_code %></small></td>
                    <% end %>
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;"><small><%= item.quantity*ProcurementBom.find(item.procurement_bom_id).qty %></small></td> 

                  
                    
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                        <small>
                            <a class="text-muted"><%= "￥" + item.cost.to_s %></a>
                        </small>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;">
                        <small>
                            <a class="text-muted"><%= "￥" + item.price.to_s %></a>
                        </small>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin: 0px;" ><small><%= item.other %></small></td>
                    <td>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;" id="<%= item.id %>_item_remark">
<% PItemRemark.where(p_item_id: item.id).each do |remark_item| %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >

<strong><%= remark_item.user_name %>: </strong>
<%= remark_item.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
</div>

<% PDn.where(item_id: item.id).order('date DESC').each do |dn| %>
<% if not dn.remark.blank? %>
<div class="row" style="margin: 0px;" >
<div class="col-md-12 " style="margin: 0px;padding: 0px;background-color: #fcf8e3;">
<table style="margin: 0px;" >
<tr>
<td style="padding: 0px;margin: 0px;" >
<p style="padding: 0px;margin: 0px;" >
<small >
<% if not dn.info.blank? %>                 
<a class="btn btn-info btn-xs" href="<%= dn.info %>" target="_blank">下载</a>
<% end %>
<strong>采购工程师: </strong>
<%= dn.remark %>
</small>
</p>
</td>
</tr>
</table>
</div>
</div>
<% end %>
<% end %>
</div>
                    </td>
                    <td width="30" style="padding: 5px 0px 5px 0px;margin: 0px;"><small><a class="btn btn-info btn-xs" data-toggle="modal" data-target="#remarkitem" data-itempid="<%= item.id %>" >备<br>注</a></small></td>
                    <td width="30" style="padding: 5px 0px 5px 0px;margin: 0px;"><small><a class="btn btn-danger btn-xs" data-confirm="确定要取消关注?" href="/unfollow_bom_item?id=<%= item.id.to_s %>">取<br>消<br>关<br>注</a></small></td>
                </tr>
                <% end %>

            </table>















        </div>
    </div>


<div class="modal fade" id="remarkitem" tabindex="-1" role="dialog" aria-labelledby="remarkitemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="remarkitemLabel">备注</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({action: :p_item_remark,controller: :procurement},method:"post",remote: true) do %>
          <div class="form-group sr-only">
            <label for="itemp_id_remark" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="itemp_id_remark" name="itemp_id">
          </div>
          <div class="form-group sr-only">
            <label for="sell_remark" class="control-label">itemid:</label>
            <input type="text" class="form-control" id="sell_remark" name="sell_remark" value="sell_remark">
          </div>
          <div class="form-group">
            <label for="pj_remark">备注：</label>
            <textarea type="text" class="form-control" id="item_remark" name="item_remark"  ></textarea>
          </div>             
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
     <% end %>
    </div>
  </div>
</div>








</div>





</small>
<script>
$('#remarkitem').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var itempid = button.data('itempid');
  var modal = $(this);
  modal.find($("#itemp_id_remark")).val(itempid);
})
</script>




<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>

