<div class="pi_infos_list">
  <ul class="sec_nav">
    <li><a href="<%= pi_infos_path %>" class="<%= current_url_active 'pi_infos' %>">PI单列表</a></li>
    <li><a>PI金额跟踪</a></li>
  </ul>
  <%= form_for pi_infos_path, method: :get, html: {class: 'search_div'} do |f| %>
      <select name="search_type">
        <option value="pi">按PI号查询</option>
        <option value="yw">按业务员姓名查询</option>
        <option value="cos">按客户名称查询</option>
      </select>
      <input name="search_name" type="text">
      <button class="search_button">搜索</button>
  <% end %>
  <table class="table table-hover table-striped">
    <tr>
      <th>序号</th>
      <th>状态</th>
      <th>PI NO.</th>
      <th>业务</th>
      <th>部门</th>
      <th>提交时间</th>
      <th>交货日期</th>
      <th>客户代码</th>
      <th>数量</th>
      <th>金额</th>
      <th>备注</th>
      <th>操作区</th>
    </tr>
    <tr>
      <% @pi_lists.each_with_index do |pi, index| %>
      <td><%= index %></td>
      <td><%=  %></td>
      <td><%= pi.pi_no %></td>
      <td><%= pi.sell %></td>
      <td><%= pi.team %></td>
      <td><%= pi.created_at %></td>
      <td><%= pi.jiao_huo_at %></td>
      <td><%= pi.c_code %></td>
      <td><%= pi.qty %></td>
      <td><%= pi.remark %></td>
      <td>

      </td>
      <% end %>
    </tr>
  </table>
</div>