<div class="container-fluid">
  <div class="row erpheader">

    <p class="title">华创恒达ERP系统</p>
    <p class="pull-right login-info">
      <span class="glyphicon glyphicon-user"></span>
      <% if not current_user.full_name.blank? %>
          <%= link_to(current_user.full_name, user_info_edit_path) %>
      <% else %>
          <%= link_to(current_user.email, user_info_edit_path) %>
      <% end %>
      <%= link_to("[退出]", destroy_user_session_path, :method => :delete) %>
    </p>

    <ul class="erpbtn nav nav-tabs">
      <li role="presentation">
        <a href="/erp_index">我的工作台</a>
      </li>
      <li role="presentation" class="<%= current_url_active 'erp/pi_infos',
                                                            ['index', 'show'],
                                                            'selectActive' %>">
        <a href="<%= erp_pi_infos_path %>">PI管理</a>
      </li>
    </ul>
  </div>

</div>

