<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding: 0px;margin: 0px;">  
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path %>" style="padding-top: 10px;"><%= image_tag "logo.bmp",size: "30x30", class: " img-rounded" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
    
      <ul class="nav navbar-nav" >
        <li id="a"><%= link_to 'HOME',root_path %></li>
<!--
        <li id="b"><%= link_to t('bom_parser'),how_to_use_path %></li>
        <li id="c"><%= link_to t('all_boms'),boms_path %></li>

        <li id="c"><%= link_to t('all_boms'),bomlist_path %></li>
-->
        <li id="c"><%= link_to t('my_order'),orderlist_path %></li>
        <% if user_signed_in? %>
            <% if can? :work_up, :all %>
                <li id="k">
                    <% if can? :work_e, :all %>
                        <%= link_to "Work Flow",work_flow_path, data: { no_turbolink: true } %>
                    <% else %>
                        <%= link_to "Work Flow",work_flow_path, data: { no_turbolink: true } %>
                    <% end %>
                </li>
                
            <% end %>
            <% if can? :work_baojia, :all %>
<!--              
                <li id="l">
                    <%= link_to "Procurement",procurement_new_path, data: { no_turbolink: true } %>
                </li>
-->
                <li id="l" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Procurement<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <%= link_to "New BOM", procurement_new_path, data: { no_turbolink: true } %>
                        </li>
                        <li>
                            <%= link_to "BOM List", p_bomlist_path %>
                        </li>
                    </ul>
                </li>
            <% end %>
            <% if can? :external_access, :all %>

                <li id="l" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BOM询价<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <%= link_to "New BOM", e_new_path, data: { no_turbolink: true } %>
                        </li>
                        <li>
                            <%= link_to "BOM List", e_bomlist_path %>
                        </li>
                    </ul>
                </li>
            <% end %>
        <% end %>
        <li id="d"><%= link_to t('about'),about_path %></li>
        <li id="e"><%= link_to t('contact'),contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
           <% if can? :work_h, :all%>
               <li id="f"><%= link_to(current_user.full_name, timesheet_path,:class=>"navbar-link") %></li>
           <% elsif can? :work_i, :all%>
               <li id="f"><%= link_to(current_user.full_name, mpn_info_path,:class=>"navbar-link") %></li>
           <% else %>
               <li id="f"><%= link_to(current_user.email, bomlist_path,:class=>"navbar-link") %></li>
           <% end %>
           <li id="g"><%= link_to(t('sign_out'), destroy_user_session_path, :method => :delete,:class=>"navbar-link") %></li>
<!--
           <li id="h"><%= link_to(t('c_password'), edit_registration_path(:user),:class=>"navbar-link") %></li>
-->           
        <% else %>
           <li id="j"><%= link_to(t('login'), new_session_path(:user),:class=>"navbar-link") %></li>
           <li id="i"><%= link_to(t('sign_up'), new_registration_path(:user),:class=>"navbar-link") %></li>          
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.languages.lang') %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t('menu.languages.en'), change_locale_path(:en) %>
            </li>
            <li>
              <%= link_to t('menu.languages.zh'), change_locale_path(:zh) %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script language="javascript">
$(document).ready(function () {
    $("#a").mouseenter(function () {                     
            $("#a").addClass('active');        
    });
    $("#a").mouseleave(function () {             
            $("#a").removeClass('active');          
    });
    $("#b").mouseleave(function () {             
            $("#b").removeClass('active');          
    });
    $("#c").mouseleave(function () {             
            $("#c").removeClass('active');          
    });
    $("#d").mouseleave(function () {             
            $("#d").removeClass('active');          
    });
    $("#e").mouseleave(function () {             
            $("#e").removeClass('active');          
    });
    $("#f").mouseleave(function () {             
            $("#f").removeClass('active');          
    });
    $("#g").mouseleave(function () {             
            $("#g").removeClass('active');          
    });
    $("#h").mouseleave(function () {             
            $("#h").removeClass('active');          
    });
    $("#i").mouseleave(function () {             
            $("#i").removeClass('active');          
    });
    $("#j").mouseleave(function () {             
            $("#j").removeClass('active');          
    });
    $("#k").mouseleave(function () {             
            $("#k").removeClass('active');          
    });
    $("#b").mouseenter(function () {                    
            $("#b").addClass('active');           
    });
    $("#c").mouseenter(function () {                    
            $("#c").addClass('active');    
    });
    $("#d").mouseenter(function () {                     
            $("#d").addClass('active');           
    });
    $("#e").mouseenter(function () {                    
            $("#e").addClass('active');            
    });
    $("#k").mouseenter(function () {                     
            $("#k").addClass('active');            
    });
   

});
</script>
